<!-- <link rel="stylesheet" type="text/css" href="modules/ContractModule/components/contract-terms/contract-terms.css">
<div class="row">
   <div class="col-md-8 border-setting">
      <div class="table-terms border-setting">
         <div class="table-div levelInput">
            <table class="table">
               <thead class="thead-inverse">
                  <tr>
                     <th>#</th>
                     <th style="width: 180px;">Term</th>
                     <th>Value</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="term in financialAndNonFinancialTerms">
                     <td><span>{{$index}}</span></td>
                     <td><span>{{term.label}}</span></td>
                     <td>
                        <span ng-if="term.hasLevels">
                           <table  class="table">
                              <thead class="thead-inverse">
                                 <tr>
                                    <th style="width: 150px;" ng-repeat="level in term.value" >
                                    {{level.label}} 
                                    <span 
                                       style="font-weight: 600;font-size: 9px;">{Future: Automatic}
                                    </span>
                                    </th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td ng-repeat="level in term.value">
                                       <input type="text" ng-model="level.value" class="form-control">
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </span>
                        <span ng-if="!term.hasLevels">
                        <input type="text" ng-model="term.value" class="form-control">
                        </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <button ng-if="financialAndNonFinancialTerms.length > 0" ng-click="AcceptTerms()" type="button" class="btn btn-primary pull-right" style="width: 160px;margin-right: 10px;">Accept Terms</button>
      </div>
      <div class="table-calculate border-setting">
         <h4 class="text-center">Sample Calculation</h4>
         <table class="table">
            <thead>
               <tr>
                  <th style="width: 140px;">Description</th>
                  <!-- <th>Number of Properties</th> -->
                  <th>Pre Appeal Value</th>
                  <th>Post Appeal Value</th>
                  <th>Fee%</th>
                  <th>Net Tax Savings</th>
                  <th>Calculated Fee</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat-start="financialTerm in financialTermsAdded" ng-init="parseJson(financialTerm)">
                  <td>{{financialTerm.label}}</td>
                  <td>{{preAppealValue}}</td>
                  <td>{{postAppealValue}}</td>


                 <!--  <td>
                     <span ng-if="financialTerm.columns.numberOfProperties && !financialTerm.hasLevels">
                     <input style="width: 120px" ng-change="CalculateFee(financialTerm)" type="text" 
                        ng-model="financialTerm.numberOfProperties" class="form-control">
                     </span>
                  </td> -->
                  <td>
                     <!-- {{financialTerm.value}} -->
                     <span ng-if="financialTerm.columns.feePercentage && !financialTerm.hasLevels">
                     <input style="width: 120px" ng-change="CalculateFee(financialTerm)" type="text" 
                        ng-model="financialTerm.value" class="form-control">
                     </span>
                  </td>
                  <td>
                     <span ng-if="financialTerm.columns.netTaxSavings && !financialTerm.hasLevels">
                     <input style="width: 120px" ng-change="CalculateFee(financialTerm)" type="text" 
                        ng-model="financialTerm.netTax" class="form-control">
                     </span>
                  </td>
                  <td>{{financialTerm.calculatedFee}}</td>
                  <td>
                     <span ng-click="removeFinancialTerm($index)">
                     <i style=" margin-top: 5px;" tooltip-placement="top" uib-tooltip="remove" class="fa fa-trash-o" aria-hidden="true"></i>
                     </span>
                  </td>
               </tr>
               <tr ng-repeat="level in financialTerm.value track by $index" ng-repeat-end ng-if="financialTerm.hasLevels">
                  <td></td>
                  <td colspan="3">{{level.label}}</td>
                  <!-- <td>
                     <span ng-if="financialTerm.columns.numberOfProperties">
                     <input style="width: 120px" ng-change="CalculateFee(financialTerm)" type="text" 
                        ng-model="level.numberOfProperties" class="form-control">
                     </span>
                  </td> -->
                  <td>
                     <!-- {{financialTerm.value}} -->
                     <span ng-if="financialTerm.columns.feePercentage">
                     <input style="width: 120px" ng-change="CalculateFee(financialTerm)" type="text" 
                        ng-model="level.value" class="form-control">
                     </span>
                  </td>
                  <td>
                     <span ng-if="financialTerm.columns.netTaxSavings">
                     <input style="width: 120px" ng-change="CalculateFee(financialTerm)" type="text" 
                        ng-model="level.netTax" class="form-control">
                     </span>
                  </td>
                  <td>{{level.calculatedFee}}</td>
               </tr>
               <tr ng-if="financialTermsAdded.length > 0">
                  <td colspan="6">Total Fee</td>
                  <td colspan="1">{{totalFee}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- <button type="button" class="btn btn-primary pull-right" style="width: 120px; margin-top: 10px">Calculate</button> -->
   </div>
   <div class="col-md-4">
      <div class="col-md-12 border-setting">
         <div class="row">
            <h4>Non-Financial Contract Terms
               <a ng-click="showAddTermModal('nfc')" style="float: right;text-decoration: none;">
               <span class="labelSetting"> <i class="fa fa-plus" aria-hidden="true"></i> Create new</span>
               </a>
            </h4>
            <hr>
         </div>
         <div class="lists">
            <ul class="term-list">
               <li class="checkbox" ng-repeat="term in nonFinancialTerms">
                  <span class="pull-right" ng-click="showUpdateTerm(term)">
                  <i style=" margin-top: 5px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </span>
                  <div class="form-group">
                     <div class="input-group">
                        <label class="checkbox-inline">
                        <input type="checkbox" ng-model="term.state" ng-change="addTerm(term,'nonFinancialTerms')" value="">{{term.label}}</label>
                     </div>
                  </div>
                  <input readonly style="width:200px;" class="form-control" ng-value="term.value" type="text">
                  <hr>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-md-12 border-setting">
         <div class="row">
            <h4>Financial Contract Terms
               <a ng-click="showAddTermModal('fc')" style="float: right;text-decoration: none;">
               <span class="labelSetting"> <i class="fa fa-plus" aria-hidden="true"></i> Create new</span>
               </a>
            </h4>
            <hr>
         </div>
         <div class="lists">
            <ul class="term-list">
               <li class="checkbox" ng-repeat="term in financialTerms">
                  <span class="pull-right" ng-click="showUpdateTerm(term)">
                  <i style=" margin-top: 5px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </span>
                  <div class="form-group">
                     <div class="input-group">
                        <label class="checkbox-inline">
                        <input type="checkbox" ng-model="term.state" ng-change="addTerm(term,'financialTerms')" value="">{{term.label}}</label>
                     </div>
                  </div>
                  <input ng-if="!term.hasLevels" readonly style="width:200px;" class="form-control" ng-value="term.value" type="text">
                  <hr>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div id="newTerm" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content" style="background-color: #ffffff; color: #555;">
         <div class="modal-header" style=" background: #000c35 !important;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5 class="modal-title text-ce nter" style="color:#fff;">{{newTermLabel}}</h5>
         </div>
         <div class="modal-body" style="position: relative; padding: 15px; max-height: 700px;">
            <form name="newTermForm" class="form" ng-submit="newTermForm.$valid && submitAddUpdateTerm(newTerm)">
               <div class="form-group" ng-class="{'col-md-6': !newTerm.hasLevels, 'col-md-12': newTerm.hasLevels}">
                  <label for="">Term</label>
                  <input required type="text" ng-model="newTerm.label" placeholder="term" class="form-control">
               </div>
               <div class="form-group col-md-6" ng-if="!newTerm.hasLevels">
                  <label for="">Value</label>
                  <input ng-required="!newTerm.hasLevels" type="text" ng-model="newTerm.value" placeholder="value" class="form-control">
               </div>
               <br>
               <div class="form-group col-md-12">
                  <label class="checkbox-inline">
                  <input type="checkbox" ng-model="newTerm.hasLevels"  ng-change="defaultLevelNumbers(newTerm)" >Contains level
                  </label>
               </div>
               <div class="leveldesc" ng-if="newTerm.hasLevels">
                  <div  class="form-group col-md-12">
                     <label for="level">Number Of Levels</label>
                     <input id="level" min="0" max="3" type="number" ng-model="numberOfLevels" ng-change="NumberOfLevels(newTerm,numberOfLevels)" class="form-control">
                  </div>
                  <div class="row" ng-repeat="level in newTerm.value track by $index">
                     <div class="form-group col-md-6">
                        <label for="">Level</label>
                        <input required type="text" ng-model="level.label" placeholder="term" class="form-control">
                     </div>
                     <div class="form-group col-md-6">
                        <label for="">Value</label>
                        <input required type="text" ng-model="level.value" placeholder="value" class="form-control">
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <br>
                  <br>
                  <br>
                  <br>
                  <label>
                     <h5>Applies On</h5>
                  </label>
                  <div class="form-group container">
                     <!-- <div class="input-group">
                        <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newTerm.columns.numberOfProperties" value=""> Number Of Properties
                        </label>
                     </div> -->
                     <div class="input-group">
                        <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newTerm.columns.feePercentage" value=""> Fee %
                        </label>
                     </div>
                     <div class="input-group">
                        <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newTerm.columns.netTaxSavings" value=""> Net Tax Savings
                        </label>
                     </div>
                  </div>
               </div>
               <span ng-if="addingNewTerm">
               <button type="submit" class="btn btn-user  pull-right" style="margin: 12px; z-index:111;" id="success-btn">Save</button>
               </span>
               <span ng-if="!addingNewTerm">
               <button type="submit" class="btn btn-user  pull-right" style="margin: 12px; z-index:111;" id="success-btn">Update</button>
               </span>
               <div class="clearfix"></div>
            </form>
         </div>
      </div>
   </div>
</div> -->