<link rel="stylesheet" type="text/css" href="modules/ComparableModule/SalesComparable/comparableComponent/comparableComponent.css">

 <div class="row grid" style="margin-bottom: 2%"  ng-init="getSavedComparables()">
  <div class="col-md-3" ng-repeat="Property in savedComaprables">
   <div class="card" id="card_{{$index}}" style="height:230px !important;">

    <div class="front">
     <!-- <img spinkit-image-preloader='cube-grid-spinner' ng-src="{{comparableComponent.imageArr[$index]}}" class="img-responsive"> -->

     <div class="relative">
      <img ng-src="{{Property.imageFileName}}" class="img-responsive">
      <p class="absolute-text">
                     <span class="col-md-10" style="padding:0px;">
                     {{Property.address}}
                     </span>
       <span class="col-md-2 checkbox" style="padding:0px; margin-top: 0px;">
                     <label style="float: right;">
                     <input type="checkbox" ng-checked="Property.selection" ng-click="Property.selection = !Property.selection">
                     </label>
                     </span>
      </p>
     </div>
     <ul class="card-list">
      <li>Rent Estimate: <span class="pull-right">${{Property.rentAmount | number:0}}</span></li>
      <li>Year Built: <span class="pull-right">{{Property.yearBuilt}}</span></li>
      <li>Val. Range: <span class="pull-right">${{Property.valuationRangeLow | number:0}} - ${{Property.valuationRangeHigh | number:0}}</span></li>
      <li>Comp. Score: <span class="pull-right">{{Property.compScore}}</span></li>
      <a class="pull-right" ng-click="comparableComponent.flipFront('#card_'+$index)" style="cursor: pointer;"> View More  </a>
     </ul>
    </div>
    <div class="back">
     <ul class="card-list">
      <li><strong>Zestimate Data: </strong></li>
      <li>Zestimate: <span class="pull-right">${{Property.amount | number:0}}</span></li>
      <li>Last Updated:<span class="pull-right">{{Property.lastUpdate}}</span></li>
      <li>Value Change: <span class="pull-right">${{Property.valueChange | number:0}}</span></li>
      <li>Value Change Duration: <span class="pull-right">{{Property.valueChangeDuration}}  Days</span></li>
      <li>Percentile Value:<span class="pull-right">{{Property.percentile}}</span></li>
      <!-- <li>30-day change (in $):<span class="pull-right">${{Property.compScore | number:0}}</span></li> -->
      <li><strong>Rent Zestimate Data: </strong></li>
      <li>Last Updated:<span class="pull-right">{{Property.rentLastUpdate}}</span></li>
      <li>Value Change: <span class="pull-right">${{Property.rentValueChange | number:0}}</span></li>
      <li>Value Change Duration: <span class="pull-right">{{Property.valueChangeDuration}} Days</span></li>
      <!--
         <li>30-day change (in $):<span class="pull-right">{{Property.compScore}}</span></li> -->
      <li>Tax Assessment Year :<span class="pull-right">{{Property.taxAssessmentYear}}</span></li>
      <li>Tax Assessment :<span class="pull-right">{{Property.taxAssessment}}</span></li>
      <li>Lot Size SF:<span class="pull-right">{{Property.lotSizeSqFt}}</span></li>
      <li>Finished SF :<span class="pull-right">{{Property.finishedSqFt}}</span></li>
      <li>Last Sold Date:<span class="pull-right">{{Property.lastSoldDate}}</span></li>
      <li>Last Sold Price:<span class="pull-right">${{Property.lastSoldPrice | number:0}}</span></li>
      <li>Bathrooms :<span class="pull-right">{{Property.bathrooms}}</span></li>
      <li>Bedrooms:<span class="pull-right">{{Property.bedrooms}}</span></li>
      <a ng-click="comparableComponent.flipBack('#card_'+$index)" class="pull-right" style="cursor: pointer;">View Less</a>
     </ul>
    </div>

   </div>

  </div>

  <a class="col-md-3" style="border-width: 5px;height: 230px;border: 7px dotted #e8edff;;cursor: pointer"  ng-hide="CreatePrincipalForm.PrinciplePropData.imageFileName" data-toggle="modal"   data-target="#compsForm" >
   <img style="display: block;
    margin: auto;
    top: 20%;
    position: relative;" align="middle" src="../../../../assets/img/AddImage.png"></a>
  </a>

 </div>
</div>
<div id="compsForm" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 0" >
 <div class="modal-dialog modal-md">
  <div class="modal-content" style="background-color: #ffffff; color: #555;">
   <div class="modal-header" style=" background: #000c35 !important;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 class="modal-title text-left" style="color:#fff;">
     Add Principal
    </h5>
   </div>
   <div class="modal-body">
    <form id="manualForm" name="manualForm" ng-submit="manualForm.$valid && uploadImage(picFile)" novalidate>

     <div class="row" >
      <fieldset class="col-md-6" >
       <label>Upload Image</label>
       <input ng-show="!isSubmitting"  type="file" ngf-select ng-model="picFile" name="file"
              accept="image/*" ngf-max-size="2MB" required
              ngf-model-invalid="errorFile">
       <br/> <label ng-show="isSubmitting" style="=color:green;">Image Uploaded Successfully</label>


      </fieldset>
      <div class="col-md-6">
       <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile"  style="width: 100%">
       <span ng-show="!isSubmitting">
       <button class="btn btn-user" ng-click="picFile = null" ng-show="picFile">Remove</button>
                                        </span>

      </div>

      <span style="color: red;" ng-show="compForm.$submitted && !picFile">*You Must Upload Image</span>
     </div>


     <div class="row">
      <div class="col-md-6">
       <div class='form-group required'>
        <label>Comp. Score</label>
        <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="compScore" id="compScore" required ng-model="comparableComponent.formData.compScore" type='text' placeholder="Enter Comp Score">
        <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.compScore.$invalid) || (
                                                    manualForm.compScore.$touched && manualForm.compScore.$invalid)">This is required.</span>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-6">
       <div id="sandbox-container">
        <label>Last Updated</label>
        <div class='input-group date'>
         <input type='text' name="lastUpdate" style="z-index: 2"  required ng-model="comparableComponent.formData.lastUpdate" placeholder="Click here to choose date" class="form-control" />
         <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
        </div>
       </div>
       <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.lastUpdate.$invalid) || (
                                                    manualForm.rentLastUpdate.$touched && manualForm.rentLastUpdate.$invalid)">This is required.</span>
       <br>
      </div>
     </div>
     <div class="row">
      <div class="col-md-6">
       <div class='form-group required'>
        <label>Percentile Value</label>
        <input class='form-control alldisable' name="percentileValue" id="percentileValue" required ng-model="comparableComponent.formData.percentileValue" type='text' placeholder="Enter Percentile Value">
        <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.percentileValue.$invalid) || (
                                                    manualForm.percentileValue.$touched && manualForm.percentileValue.$invalid)">This is required.</span>
       </div>
      </div>
     </div>


     <div class="row">
      <div class="col-md-6">
       <h4>Rent Zestimate Data</h4>
      </div>
     </div>

     <div class="row">
      <div class="col-md-6">
       <div id="sandbox-container">
        <label>Last Updated</label>
        <div class='input-group date'>
         <input type='text' name="rentLastUpdate"  required ng-model="comparableComponent.formData.rentLastUpdate" placeholder="Click here to choose date" class="form-control" />
         <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
        </div>
       </div>
       <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.rentLastUpdate.$invalid) || (
                                                    manualForm.rentLastUpdate.$touched && manualForm.rentLastUpdate.$invalid)">This is required.</span>
       <br>
      </div>
     </div>

     <div class="row">
      <div class="col-md-6">
       <div class='form-group required'>
        <label>Value Change</label>
        <input  ui-money-mask="0"  ui-hide-space  class='form-control alldisable' name="rentValueChange" id="rentValueChange" required ng-model="comparableComponent.formData.rentValueChange" type='text' placeholder="Enter Value Change">
        <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.rentValueChange.$invalid) || (
                                                    manualForm.rentValueChange.$touched && manualForm.rentValueChange.$invalid)">This is required.</span>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-6">
       <div class='form-group required'>
        <label>Value Change Duration</label>
        <input    class='form-control alldisable' name="rentValueChangeDuration" id="rentValueChangeDuration" required ng-model="comparableComponent.formData.rentValueChangeDuration" type='text' placeholder="Enter Value Change Duration">
        <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.rentValueChangeDuration.$invalid) || (
                                                    manualForm.rentValueChangeDuration.$touched && manualForm.rentValueChangeDuration.$invalid)">This is required.</span>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-6">
       <div class='form-group required'>
        <label>Tax Assesment</label>
        <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="taxAssessment" id="taxAssessment" required ng-model="comparableComponent.formData.taxAssessment" type='text' placeholder="Tax Assessment">
        <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.taxAssessment.$invalid) || (
                                                    manualForm.taxAssessment.$touched && manualForm.taxAssessment.$invalid)">This is required.</span>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-6">
       <div class='form-group required'>
        <label>Tax Assessment Year</label>
        <input  class='form-control alldisable' name="taxAssesmentYear" id="taxAssesmentYear" required ng-model="comparableComponent.formData.taxAssessmentYear" type='text' placeholder="Enter Tax Assessment Year">
        <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.taxAssesmentYear.$invalid) || (
                                                    manualForm.taxAssessmentYear.$touched && manualForm.taxAssessmentYear.$invalid)">This is required.</span>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-6">
       <div class='form-group required'>
        <label>Finished SF</label>
        <input  class='form-control alldisable' name="finishedSqFt" id="finishedSqFt" required ng-model="comparableComponent.formData.finishedSqFt" type='text' placeholder="Enter Tax Assessment Year">
        <span style="color: red;" ng-show="
                                                    (manualForm.$submitted &&
                                                    manualForm.finishedSqFt.$invalid) || (
                                                    manualForm.finishedSqFt.$touched && manualForm.finishedSqFt.$invalid)">This is required.</span>
       </div>
      </div>
     </div>
     <br>
     <div class="clearfix"></div>
     <button type="submit" data-toggle="modal" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" id="success-btn">Submit</button>
     <button ng-click="comparableComponent.resetForm()" type="button" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" id="success-btn">Reset</button>
    </form>


    <div class="clearfix"></div>
   </div>
  </div>
 </div>
</div>
