<header></header>
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary IE_RR">
                <div class="panel-heading">
                    <h5>  <i class="fa fa-upload" aria-hidden="true"></i> <strong> Upload IE & RR Data for Property : {{uploadIERR.property.prop.properties.propertyName}}</strong></h5>
                </div>
                
                <div class="panel-body drop-file">
                    <!-- Standar Form -->
                    <!-- <h5>
                            Upload file (excel, csv) which contains data about property including following data fields:<br>
                            <ul><br> <li>Property Number</li> <li>Tax Dist. Number</li> <li>Property</li> <li>*Address (Mandatory)</li> <li>Reval Year</li> <li>Type</li> <li>Number of Tenants</li>  <li>Project Size</li>   <li>Owner</li> <li>Property Manager</li>   </ul>

                            </h5> -->
                    <ul style="padding: 12px;">
                        <li> Upload <span style="color:green;">Excel File(s) <i class="fa fa-file-excel-o" aria-hidden="true"></i></span> detailing the information of income expense statement and rent roll report.</li>
                    </ul>
                    <hr>
                    <div class="row text-center">
                        <div class="col-md-6" style="border-right: 1px solid #ccc;">
                            <strong>Select income expense statement file(s) from your system </strong>
                            <br>
                            <br>
                            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                <div class="form-inline">
                                    <input type="file" multiple 
                                    name="file-1[]" id="file-1" 
                                    onchange="angular.element(this).scope().IEfileUploaded()" 
                                    class="inputfile inputfile-1" 
                                    data-multiple-caption="{count} files selected" 
                                    style="display: none;" />
                                    <label for="file-1"> <span> <i class="fa fa-upload" aria-hidden="true"></i> Upload excel file(s) &hellip;</span></label>
                                </div>
                            </form>
                            <!-- Upload Finished -->
                            <div ng-show="uploadIERR.showIEFile" class="js-upload-finished text-left">
                                <h5><strong>Processed Files </strong></h5>
                                <div class=" list-group list-group-item" style="margin-bottom:10px;" ng-repeat="file in uploadIERR.IEFileNames"
                                ng-class="file.uploadStatus ? 'list-group-item-success':'list-group-item-danger'">
                                    <a href="">{{file.name}}</a>
                                    <!-- <a ng-click="uploadIERR.removeIEFile(file)"><i class="fa fa-times pull-right" aria-hidden="true"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <strong>Select rent role report file(s) from your system</strong>
                            <br>
                            <br>
                            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                <div class="form-inline">
                                    <input type="file" multiple name="file-2[]" id="file-rr" onchange="angular.element(this).scope().RRfileUploaded()" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" style="display: none;" />
                                    <label for="file-rr"> <span> <i class="fa fa-upload" aria-hidden="true"></i> Upload excel file(s) &hellip;</span></label>
                                </div>
                            </form>
                            <!-- Upload Finished -->
                            <div ng-show="uploadIERR.showRRFile" class="js-upload-finished text-left">
                                <h5><strong>Processed Files </strong></h5>
                                <div ng-repeat="file in uploadIERR.RRFileNames"
                                class="list-group list-group-item"
                                ng-class="file.uploadStatus ? 'list-group-item-success':'list-group-item-danger'" href="" style="margin-bottom:10px;">
                                    <a>{{file.name}}</a>
                                    <!-- <a ng-click="uploadIERR.removeIEFile(file)"><i class="fa fa-times pull-right" aria-hidden="true"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Drop Zone -->
                    <!--
                        <h5><strong>Or drag and drop a file below</strong></h5>
                        <div class="upload-drop-zone" id="drop-zone">
                            Just drag and drop a file here
                        </div>
-->
                    <br>
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-user pull-right" style="margin-right: 20px;" ng-click="uploadIERR.sendData()">Upload</button>
                    
                    <button ui-sref="listProperties" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-user pull-right" style="margin-right: 20px;">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<!--<footer class="text-center">Copyrights - 2017</footer>-->


<div class="alert-box dangerr"> Unable to upload files </div>
