<header></header>
<link rel="stylesheet" type="text/css" href="modules/settings/main/main.css">

<span class="header-tag">
    Alerts Preferences
</span>





<div class="wrapper-body" >
        <form class="form-inline" name="alert_type">
            <p><b>Select the alert method(s)</b></p>
            
            <div style="color: #be1515" ng-show="email_sms_error">*Please select atleast one alert method.</div>
            
            <div class="checkbox">
                <label>
                    <input checked type="checkbox" value="" ng-model="data.email.flag" ng-change="none_selected_error_reset()">
                   <span class="pull-left"> Email </span>
                    <input type="email" class="form-control" ng-if="data.email.flag" ng-required="data.email.flag" name="email_details"  placeholder="e.g user@gmail.com" ng-model="data.email.details"> </label>
                <button  type="button" class="btn btn-default btn-formats-active verify-button" data-toggle="modal" data-target="#emailverifyModel" ng-if="data.email.flag" ng-click="open_dialog('emailverifyModal')">Verify</button>
                <div style="color: #be1515" ng-show="error_check && data.email.flag && alert_type.email_details.$touched && alert_type.email_details.$invalid">*Please enter a valid email address.</div>
            </div>

            <br>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" ng-model="data.sms.flag"  ng-change="none_selected_error_reset()">
                    <span class="pull-left"> SMS </span>
                    <input type="tel" class="form-control" ng-if="data.sms.flag" name="sms_details" placeholder="e.g (444) 321 0432" ng-model="data.sms.details" ng-required="data.sms.flag" ui-us-phone-number-mask>  </label>
                <button  type="button" class="btn btn-default btn-formats-active verify-button" data-toggle="modal" data-target="#smsverifyModel" ng-if="data.sms.flag" ng-click="open_dialog('smsverifyModal')">Verify</button>
                <div style="color: #be1515" ng-show="error_check && data.sms.flag && alert_type.sms_details.$touched && alert_type.sms_details.$invalid">*Please enter a valid phone number.</div>
            </div>

        </form>
 <br>
       <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Set black-out time</h3>
                    <div class="pull-right button-class ">
                        <!--<button  class=" panel-btn btn btn-default btn-xs btn-filter">  Select timezone <i class="fa fa-clock-o" aria-hidden="true"></i></button>-->
                        <div class="dropdown">
                            <button class="dropbtn timezone-dropdown-button"> Select timezone <i class="fa fa-caret-down pull-right"></i></button>
                        <div class="dropdown-content">
                            <span class="{{isSelected(time_z)}}" ng-repeat = "time_z in timezones" ng-click=change_timezone(time_z)>{{time_z}}
                            </span>

                            
                        </div>
                        </div>
                        <button data-toggle="modal" data-target="#myModal" class=" panel-btn btn btn-default btn-xs btn-filter" ng-click="newTimeAlert(true)">  Add new time alert <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                    <tr class="filters">
                        <th>Enable | Disable </th>
                        <th>Days (s)</th>
                        <th>Start & End time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="d in data.blackouts">
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                            <form>
                                <label class="toggle-switch toggle-progress">
                                    <input class="progress-input"  type="checkbox" {{ischecked(d)}}  name="progressToggle" >
                                    <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                    <span class="progress-handle"></span>
                                </label>
                            </form>
                        </div>
                        </td>
                        <td>{{d.days | array_join:", "}}</td>
                        <!-- <td><div ng-repeat="interval in d.intervals">09:20 AM to 10:00 PM</div></td> -->
                        <td><div ng-if ="d.span!='all_day'" ng-repeat="interval in d.intervals">{{interval.startTime | date :"hh:mm a"}} to {{interval.endTime| date :"hh:mm a"}}</div><div ng-if ="d.span=='all_day'">All Day</div></td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="no-record-div">
                                <i class="fa fa-info-circle info-icon"></i>
                                <span class="info-text">No record found!</span>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                                <form>
                                    <label class="toggle-switch toggle-progress">
                                        <input class="progress-input" checked type="checkbox"   name="progressToggle" >
                                        <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                        <span class="progress-handle"></span>
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>Monday, Tuesday , Friday</td>
                        <td>09:20 AM to 10:00 PM</td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                                <form>
                                    <label class="toggle-switch toggle-progress">
                                        <input class="progress-input"  type="checkbox"   name="progressToggle" >
                                        <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                        <span class="progress-handle"></span>
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>Monday, Tuesday , Friday</td>
                        <td>09:20 AM to 10:00 PM</td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                                <form>
                                    <label class="toggle-switch toggle-progress">
                                        <input class="progress-input" checked type="checkbox"   name="progressToggle" >
                                        <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                        <span class="progress-handle"></span>
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>Monday, Tuesday , Friday</td>
                        <td>09:20 AM to 10:00 PM</td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr> -->
                    </tbody>
                </table>
                <div>
                    <button  type="submit" class="btn btn-default btn-formats-active green-color" ng-click="save_settings(alert_type)">Save</button>
                </div>
            </div>
        </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade"  my-modal>
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Add new time alert</h5>
            </div>
            <div class="modal-body">
                <label style="color: #0a0a0a; font-weight: bold;">Select day(s) for alerts:</label>
                <br>
                <div class="dropdown" style="width: 100% !important;">
                    <button class="dropbtn" style="width: 100% !important;">{{dropdown_label()}} <i class="fa fa-caret-down pull-right"></i></button>
                    <div class="dropdown-content">
                        <span href="">All Week days
                        <div class="checkbox">
                                <input type="checkbox" value="" ng-model="time_data.all" ng-change="all_changed()">
                            </div>
                        </span>
                        <span href="">Monday
                        <div class="checkbox">
                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.mon">
                            </div>
                        </span>
                        <span href="">Tuesday
                        <div class="checkbox">
                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.tue">
                            </div>
                        </span>
                        <span href="">Wednesday
                            <div class="checkbox">
                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.wed">
                            </div>
                        </span>
                        <span href="">Thursday
                                <div class="checkbox">
                                    <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.thur">
                                </div>
                            </span>
                            <span href="">Friday
                                    <div class="checkbox">
                                        <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.fri">
                                    </div>
                                </span>
                                <span href="">Saturday
                                        <div class="checkbox">
                                            <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.sat">
                                        </div>
                                    </span>
                                    <span href="">Sunday    
                                            <div class="checkbox">
                                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.sun">
                                            </div>
                                        </span>
                    </div>
                    <span style="color: #be1515" ng-show="time_data_error">*Please select day(s) for alert before setting time.</span>
                </div>


                <br> <br>

                <div class="modal-checkbox-area">
                    <div class="checkbox">
                        <label>
                            <input type="radio" value="all_day" ng-model="time_data.span" style="margin: 7px 0 0 0;">
                            <span class="pull-left modal-checkbox-text"> All day </span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="radio" value="specific_time" ng-model="time_data.span" style="margin: 7px 0 0 0;">
                            <span class="pull-left modal-checkbox-text"> Specific time </span>
                        </label>
                    </div>
                </div>

                <label style="color: #0a0a0a;" ng-show="time_data.span!='all_day'">Set time</label>

                <div class="modal-scroll-area" ng-show="time_data.span!='all_day'">
                    <div ng-repeat="t in time_data.intervals">
                        <time-range
                          start="t.startTime"
                          end="t.endTime"
                          on-change="changed()"
                          on-change-start="changedStart()"
                          on-change-end="changedEnd()"
                          on-close="closed()" >
                        </time-range>
                        <button  type="button" class="btn btn-default btn-formats-active red-color" ng-click="delete_time($index)" ng-disabled="time_data.intervals.length == 1"><i class="fa fa-trash-o"></i></button>
                    </div>
                    <!-- <div class="time-picker"> Time picker will come here</div> -->
                </div>
                <div class="add-new-time-area">
                    
                    <button  type="button" class="btn btn-default btn-formats-active" ng-click="add_time()"><i class="fa fa-plus"></i>Add new time</button>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button  type="button" class="btn btn-default btn-formats-active" ng-click="add_time()">ADD</button>-->
                <button  type="button" class="btn btn-default btn-formats-active green-color" ng-click="set_new_time()" >Set time</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="emailverifyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="model-head">
                <span>Email verification</span>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="smsverifyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="model-head">
                <span>Email verification</span>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>