<header></header>
<link rel="stylesheet" type="text/css" href="modules/settings/main/main.css">

<span class="header-tag">
    Alerts Preferences
</span>





<div class="wrapper-body" >
        <form class="form-inline">
            <p><b>Select type of alert</b></p>
            <div class="checkbox">
                <label>
                    <input checked type="checkbox" value="" ng-model="data.email.flag">
                   <span class="pull-left"> Email: </span>
                    <input type="text" class="form-control"  placeholder="e.g user@gmail.com" ng-model="data.email.details"> </label>
            </div>
            <br>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" ng-model="data.sms.flag">
                    <span class="pull-left"> SMS: </span>
                    <input type="text" class="form-control" placeholder="e.g (444) 321 0432" ng-model="data.sms.details">  </label>
            </div>
        </form>
 <br>
       <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Set black-out time</h3>
                    <div class="pull-right button-class ">
                        <!--<button  class=" panel-btn btn btn-default btn-xs btn-filter">  Select timezone <i class="fa fa-clock-o" aria-hidden="true"></i></button>-->
                        <div class="dropdown">
                            <button class="dropbtn timezone-dropdown-button"> Select timezone <i class="fa fa-caret-down pull-right"></i></button>
                        <div class="dropdown-content">
                            <span href="" ng-repeat = "time_z in timezones" ng-click=change_timezone(time_z)>{{time_z}}
                            </span>
                        </div>
                        </div>
                        <button data-toggle="modal" data-target="#myModal" class=" panel-btn btn btn-default btn-xs btn-filter">  Add new time alert <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                    <tr class="filters">
                        <th>Enable | Disable </th>
                        <th>Days (s)</th>
                        <th>Start & End time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="d in data.blackouts">
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                            <form>
                                <label class="toggle-switch toggle-progress">
                                    <input class="progress-input"  type="checkbox" {{ischecked(d)}}  name="progressToggle" >
                                    <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                    <span class="progress-handle"></span>
                                </label>
                            </form>
                        </div>
                        </td>
                        <td>{{d.days | array_join:", "}}</td>
                        <!-- <td><div ng-repeat="interval in d.intervals">09:20 AM to 10:00 PM</div></td> -->
                        <td><div ng-repeat="interval in d.intervals">{{interval.startTime | date :"hh:mm a"}} to {{interval.endTime| date :"hh:mm a"}}</div></td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                                <form>
                                    <label class="toggle-switch toggle-progress">
                                        <input class="progress-input" checked type="checkbox"   name="progressToggle" >
                                        <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                        <span class="progress-handle"></span>
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>Monday, Tuesday , Friday</td>
                        <td>09:20 AM to 10:00 PM</td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                                <form>
                                    <label class="toggle-switch toggle-progress">
                                        <input class="progress-input"  type="checkbox"   name="progressToggle" >
                                        <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                        <span class="progress-handle"></span>
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>Monday, Tuesday , Friday</td>
                        <td>09:20 AM to 10:00 PM</td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="wpr-progress" class="pogress-btn">
                                <form>
                                    <label class="toggle-switch toggle-progress">
                                        <input class="progress-input" checked type="checkbox"   name="progressToggle" >
                                        <span data-progress-on="Enable" data-progreess-off="Disable" class="progress-label"></span>
                                        <span class="progress-handle"></span>
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>Monday, Tuesday , Friday</td>
                        <td>09:20 AM to 10:00 PM</td>
                        <td class="actions">Edit time <i class="fa fa-clock-o" aria-hidden="true"></i></td>
                    </tr> -->
                    </tbody>
                </table>

                <button  type="button" class="btn btn-default btn-formats-active" ng-click="save_settings()">Save</button>
            </div>
        </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade"  >
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Add new time alert</h5>
            </div>
            <div class="modal-body">
                <label style="color: #0a0a0a; font-weight: bold;">Select day(s) for alerts:</label>
                <br>
                <div class="dropdown">
                    <button class="dropbtn">{{dropdown_label()}} <i class="fa fa-caret-down pull-right"></i></button>
                    <div class="dropdown-content">
                        <span href="">All Week days
                        <div class="checkbox">
                                <input type="checkbox" value="" ng-model="time_data.all" ng-change="all_changed()">
                            </div>
                        </span>
                        <span href="">Monday
                        <div class="checkbox">
                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.mon">
                            </div>
                        </span>
                        <span href="">Tuesday
                        <div class="checkbox">
                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.tue">
                            </div>
                        </span>
                        <span href="">Wednesday
                            <div class="checkbox">
                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.wed">
                            </div>
                        </span>
                        <span href="">Thursday
                                <div class="checkbox">
                                    <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.thur">
                                </div>
                            </span>
                            <span href="">Friday
                                    <div class="checkbox">
                                        <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.fri">
                                    </div>
                                </span>
                                <span href="">Saturday
                                        <div class="checkbox">
                                            <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.sat">
                                        </div>
                                    </span>
                                    <span href="">Sunday    
                                            <div class="checkbox">
                                                <input type="checkbox" value="" ng-change="single_changed()" ng-model="time_data.sun">
                                            </div>
                                        </span>
                    </div>
                </div>

                <br> <br>

                <div class="modal-checkbox-area">
                    <div class="checkbox">
                        <label>
                            <input checked type="checkbox" value="">
                            <span class="pull-left modal-checkbox-text"> All day </span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input checked type="checkbox" value="">
                            <span class="pull-left modal-checkbox-text"> Specific time </span>
                        </label>
                    </div>
                </div>

                <label style="color: #0a0a0a;">Set time</label>

                <div class="modal-scroll-area">
                    <div ng-repeat="t in time_data.intervals">
                        <time-range
                          start="t.startTime"
                          end="t.endTime"
                          on-change="changed()"
                          on-change-start="changedStart()"
                          on-change-end="changedEnd()"
                          on-close="closed()" >
                        </time-range>
                        <button  type="button" class="btn btn-default btn-formats-active red-color" ng-click="delete_time($index)" ng-disabled="time_data.intervals.length == 1"><i class="fa fa-trash-o"></i></button>
                    </div>
                    <!-- <div class="time-picker"> Time picker will come here</div> -->
                </div>
                <div class="add-new-time-area">
                    
                    <button  type="button" class="btn btn-default btn-formats-active" ng-click="add_time()"><i class="fa fa-plus"></i>ADD NEW TIME</button>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button  type="button" class="btn btn-default btn-formats-active" ng-click="add_time()">ADD</button>-->
                <button  type="button" class="btn btn-default btn-formats-active" ng-click="set_new_time()" data-dismiss="modal">SET TIME</button>
            </div>
        </div>

    </div>
</div>