<div class="row">
    <div class="demo" style="min-height: 250px;">
        <div ng-if="rent_role.tableData.length > 0" class="panel-group" id="accordion" role="tablist"
             aria-multiselectable="true">
            <div class="panel panel-default " ng-repeat="property in rent_role.tableData">
                <div class="panel-heading" role="tab" ng-click="rent_role.toggleActiveClass(property)">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                           aria-controls="collapseOnerr" data-target="#{{property.id}}">
                            <i class="more-less glyphicon {{property.activeClass}}"></i>
                            <span ng-if="rent_role.propertiesCount > 1">Rent Roll Report of {{property.RR.properties.propertyName[1]}} as of 
                            {{rent_role.numberFormatter(property.RR.properties.asOfDate)}}
                            </span>

                            <span ng-if="rent_role.propertiesCount == 1">Rent Roll Report as of {{rent_role.numberFormatter(property.RR.properties.asOfDate)}}
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="{{property.id}}" class="panel-collapse"
                     ng-class="property.isActive ? 'collapse in': 'collapse out' " role="tabpanel"
                     aria-labelledby="headingOnerr">
                    <div class="panel-body">
                        <table class="table table-bordered RR-Table">
                            <tbody ng-init="RRData = rent_role.keyValMaker(property.RR.properties)">
                            <tr ng-repeat="key in RRData">
                                <td>{{key[0]}}</td>
                                <td align="right">{{
                                    rent_role.numberFormatter(key)}}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <span ng-if="property.tenants.length > 0">
                            <div class="tableheading"><span class="pull-left">  Tenants</span>
                                <div class="clearfix"></div>
                            </div>

                            <div id="myGrid{{$index}}" class="ag-blue" style="height: 300px;"></div>
                        </span>


                        <span class="pull-right" style="padding:14px;">
                            <button class="btn btn-info" style="margin-right: 18px; background: #ec2f21;
                                border: none; padding: 4px;" data-toggle="modal" data-target="#myModalquestion"
                                    ng-click="rent_role.deleteRentRoll(property)" data-tooltip="tooltip"
                                    data-placement="right" title="Delete Rent Roll!">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </button>
                            
                            <button class="btn btn-info" style="margin-right: 18px; background: #ff9800;
                                border: none; padding: 4px;" data-toggle="modal" data-target="#myModalquestion"
                                permission-per-property="unlinkPropertyData" behaviour-type="hide"
                                    ng-click="rent_role.unlinkRentRoll(property)" data-tooltip="tooltip"
                                    data-placement="right" title="Unlink Rent Roll!"><i
                                    class="fa  fa-chain-broken fa-lg"></i>
                            </button>
                            
                            <button class="btn btn-info" style="margin-right: 18px; background: #8bc34a;
                                border: none; padding: 4px;" data-tooltip="tooltip" data-placement="right"
                                    title="Download Rent Roll"><i class="fa fa-download fa-lg"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <br><br><br><br><br>
            <label ng-if="rent_role.tableData.length < 1">No Record Found</label>
        </center>
        <!-- panel-group -->
    </div>

    <div id="myModalquestion" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: #ffffff; color: #555;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title text-left" style="color:#fff;"><img height="35" src="assets/img/error.png">
                        {{rent_role.modelMessage.title}}.</h5>
                </div>
                <div class="modal-body">
                    <div class="js-upload-finished text-left">
                        <h5> {{rent_role.modelMessage.message}}</h5>
                    </div>

                    <button data-dismiss="modal" type="button" class="btn btn-danger  pull-right"
                            style="margin: 12px; z-index:111; ">No
                    </button>

                    <button data-dismiss="modal" type="button" class="btn btn-success  pull-right" ng-click="rent_role.myModelCheck()" style="margin: 12px; z-index:111; ">Yes
                    </button>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
