<header></header>
<br>
<div class="container sent-invite">
    <div class="panel panel-primary   user-reg">
        <div class="panel-heading">
            <h5>
         <i class="fa fa-user" aria-hidden="true"></i> 
         <strong>  Users </strong>
         <a ui-sref="UserRegistrations">
         <button  type="button" class="btn btn-user pull-right" style="margin-top: -6px; margin-right: 20px;"> <i class="fa fa-upload" aria-hidden="true"></i> Bulk Create </button>
         </a>
         <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-user pull-right" style="    margin-top: -6px; margin-right: 20px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User</button>
         <h5>
          </div>
          <div class="panel-body">
             <div class="col-md-12" style="padding: 0px;">
                <table 
                id="example" 
                class="invite display"
                datatable="ng" 
                dt-options="Registered.dtOptions"
                dt-column-defs="Registered.dtColumnDefs" 
                class="display responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Email Address</th>
                            <th>Invite Sent On</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in Registered.tableData">
                            <td>{{user.userName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.inviteDate | date:'MM dd yyyy'}} </td>
                            <td class="text-primaryy">{{user.status}}</td>
                            <td class="text-muted"><a>{{user.action}} </a></td>
                        </tr>
                    </tbody>
                </table>
             </div>
          </div>
   </div>
</div>
<!-- Modal For custom Email Message -->
<div class="modal fade user-reg" id="myModalinvite" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   Send Invitation
                </h4>
            </div>
              <form name="emailForm" id="emailForm" class="form-horizontal"
                ng-submit="emailForm.$valid && Registered.addNewUser()" novalidate >
                <!-- Modal Body -->
                <div class="modal-body">
                  
                        <div class="form-group">
                            <label for="comment">Send a custom message:</label>
                            <textarea required ng-model="Registered.emailSubject" class="form-control" rows="3" id="comment"  name="comment" 
                            placeholder="Write a custom message"></textarea>
                            <span style="color: red;" 
                                ng-show="(emailForm.$submitted && 
                                emailForm.comment.$invalid) || (
                                emailForm.comment.$touched && emailForm.comment.$invalid)">This is required.</span>
                        </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Cancel
                    </button>
                    <input type="submit" value="Send Invitation" class="btn btn-user" style="margin-right: 20px;"/>
                       
                </div>
                </form>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade user-reg" id="myModal" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Add New User</h5>
        </div>
        <div class="modal-body">
            <form id="inviteForm" name="inviteForm" ng-submit="inviteForm.$valid && Registered.showEmailPopup()" novalidate>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class='form-group'>
                                <label> <i class="fa fa-envelope" aria-hidden="true"></i> User Email</label>
                                <input id="emailuser" name="emailuser" ng-model="Registered.data.email1" required class='form-control alldisable' type='email' placeholder="User email ">
                                <span style="color: red;" ng-show="
                                                    (inviteForm.$submitted && 
                                                    inviteForm.emailuser.$invalid) || (
                                                    inviteForm.emailuser.$touched && inviteForm.emailuser.$invalid)">Please write a valid email.</span>
                            </div>
                            <button data-toggle="collapse" data-target="#filter-panel" type="button" class="btn btn-user  pushme btn-number" data-type="plus" data-field="quant[1]">
                                Show more information
                                <!--                <span class="glyphicon glyphicon-plus"></span>-->
                            </button>
                            <br>
                            <br>
                            <div id="filter-panel" class="collapse filter-panel">
                                <div class='form-group required'>
                                    <label> <i class="fa fa-user" aria-hidden="true"></i> First Name</label>
                                    <input ng-model="Registered.data.name" class='form-control alldisable' type='text' placeholder="First name">
                                </div>
                                <div class='form-group required'>
                                    <label> <i class="fa fa-user" aria-hidden="true"></i> Last Name</label>
                                    <input ng-model="Registered.data.lastName" class='form-control alldisable' type='text' placeholder="Last name">
                                </div>
                                <div class='form-group required'>
                                    <label> <i class="fa fa-building" aria-hidden="true"></i> Company</label>
                                    <input ng-model="Registered.data.company" class='form-control alldisable' type='text' placeholder="Company">
                                </div>
                                <div class='form-group required'>
                                    <label> <i class="fa fa-map-marker" aria-hidden="true"></i> City</label>
                                    <input ng-model="Registered.data.city" class='form-control alldisable' type='text' placeholder="City">
                                </div>
                                <div class='form-group'>
                                    <label> <i class="fa fa-cogs" aria-hidden="true"></i> Role</label>
                                    <div class="input-group-btn">
                                        <select ng-model="Registered.data.role" class="form-control btn btn-default">
                                            <option>Owner</option>
                                            <option>Agent</option>
                                            <option>Asset Manager</option>
                                            <option>Taxing Authority</option>
                                            <option>Assessing Authority</option>
                                            <option>Petitioner</option>
                                            <option>Respondent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Usage as a class -->
        <div class="clearfix">...</div>
        <div class="checkbox" style="    position: relative;
                display: initial;
                right: -340px;
                top: -13px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;">
            <label>
                <input ng-click="Registered.anotherUserToggle()" class="pull-right" type="checkbox" ng-checked="Registered.anotherUserActive" value="">Create another
            </label>
        </div>
        <input value="Invite" form="inviteForm" type="submit" class="btn btn-user pull-right" style="margin: 32px; z-index:111; margin-top: -20px;" id="success-btn" />
        <!-- Usage as a class -->
        <div class="clearfix">...</div>
    </div>
</div>
</div>

