
.custom-slider {
    background: #f4f7ff;
    float: right;
    margin-right: 20px;
    padding: 10px;
    border-radius: 12px;
    color: #00568a;
    position: absolute;
    top: 10px;
    right: 0px;
}

.custom-container ul li {
    display: inline-block;
    margin-right: 0PX;
    font-weight: bold;
    font-size: 14px;
}


.footer-btns {
    width: 21% !important;
}




.input-border-red {
    border-color: red !important;
}



.form-control {
    width: 86% !important;
    float: left;
}

.fa-times-circle {
    cursor: pointer;
    color: #fb7d0c;
    cursor: pointer;
}

.input-symbol-euros {
    position: relative;
}
.input-symbol-euros input {
    padding-left:18px;
}
.input-symbol-euros:before {
    position: fixed;
    content: "$";
    right: 117px;
    top: 62px;
    color: black;
    z-index: 32;

}
.input-dollar-fix {
    position: relative;
}
.input-dollar-fix input {
    padding-left:18px;
}
.input-dollar-fix:before {
    position: fixed;
    content: "$";
    right: 117px;
    top: 156px;
    color: black;
    z-index: 32;

}
.input-dol-fix {
    position: relative;
}
.input-dol-fix input {
    padding-left:18px;
}
.input-dol-fix:before {
    position: fixed;
    content: "%";
    right: 55px;
    top: 202px;
    color: black;
    z-index: 32;

}
.input-per-fix:before {
    position: fixed;
    content: "%";
    right: 55px;
    top: 295px;
    color: black;
    z-index: 32;

}
.input-dollar{
    position: relative;
}
.input-dollar input {
    padding-left:18px;
}
.input-dollar:before {

    position: absolute;
    content: "$";
    right: 68px;
    top: 2px;
    color: black;
    z-index: 32;
}

.input-dollar-hotfix{
    position: relative;
}
.input-dollar-hotfix input {
    padding-left:18px;
}
.input-dollar-hotfix:before {

    position: fixed;
    content: "$";
    right: 116px;
    top: 156px;
    color: black;
    z-index: 32;
}
.input-symbol-percentages {
    position: relative;
}
.input-symbol-percentages input {
    padding-left:15px;
}
.input-symbol-percentages:before {
    position: fixed;
    content: "%";
    right: 52px;
    top: 296px;
    color: black;
    z-index: 1111111111;
}
.input-symbol-per {
    position: relative;
}
.input-symbol-per input {
    padding-left:15px;
}
.input-symbol-per:before {
    position: fixed;
    content: "%";
    right: 61px;
    top: 297px;    color: black;
    z-index: 32;
}
.input-symbol-expenses {
    position: relative;
}
.input-symbol-expenses input {
    padding-left:15px;
}
.input-symbol-expenses:before {

    position: absolute;
    content: "%";
    right: 15px;
    top: 1px;
    color: black;
    z-index: 32;
}
.input-symbol-hero:after {
    position: absolute;
    content: "%";
    right: 5px;
    top: 1px;
    color: black;

}
.symbol-dollar {
    position: relative;
}
.symbol-dollar input {
    padding-left:18px;
}
.symbol-dollar:before{
    position: absolute;
    /* top: -12px; */
    content: "$";
    /* right: 68px; */
    left: 15px;
    top: 14px;
    color: black;

}

.symbol-percentage {
    position: relative;
}
.symbol-percentage input {
    padding-left:20px;
}
.symbol-percentage:before{
    position: absolute;
    content: "%";
    left: 77px;
    top: 15px;
    color: black;
}
.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}
/*//=====================================================================Drag DIV CSS===========================*/

.sensitivity-tables{
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: space-around;
}


.resizable {
  position: relative;
}
.resizable.no-transition {
  transition: none !important;
}

.rg-right, .rg-left, .rg-top, .rg-bottom {
  display: block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.rg-right span, .rg-left span, .rg-top span, .rg-bottom span {
  position: absolute;
  box-sizing: border-box;
  display: block;
  border: 1px solid #fff;
}

.rg-right span, .rg-left span {
    border-width: 198px -26px;
    /* top: 87%; */
    /* margin-top: -10px; */
    /* margin: 86px 0 0 3.5px; */
    height: 100%;
    width: 7px;
}
.rg-right {
    cursor: col-resize;
    height: 2px;
    /* padding: 21px; */
    right: 0;
    /* top: 0; */
    bottom: 13px;
    margin-right: 0px;
}

.rg-left {
  cursor: col-resize;
    height: 2px;
    /* padding: 21px; */
    left: 0;
    /* top: 0; */
    bottom: 13px;
    margin-right: 0px;
}


.my {

    position:relative;
}
.image-resize {
    position: absolute;
    left: 0px;
    top: 12px;
    float: left;
    height: 12px;
    width: 12px;
    opacity: 2;
}
.image-percent{
    position: absolute;
    right: 15px;
    top: 12px;
    height: 12px;
    width: 12px;
    opacity: 2;
}