<!-- data-ng-options="t.name for t in vm.types" data-ng-model="vm.object.type" -->
  <style>
        body {
            min-height: 500px;
            background-image: url(assets/img/BG.png) !important;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #d2d2d2;
        }
        .aaa{
            background: #47bcff;
            padding: 8px;
            display: inline-block;
            text-align: center;
            width: 25px;
            line-height: 10px;
            color: #fff;
            vertical-align: middle;
            font-size: 14px;
            height: 25px;
            border-radius: 80%;
        }
        select{
            margin: 0px !important;
        }
        .mandatory {
            color: #f10000 !important;
            font-size: 19px;
            margin-right: 5px !important;
            float: left;
        }

    </style>

<nav class="navbar" role="navigation" style="height:63px">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" >Assessor on the <span style="color:#47bcff;">cloud</span></a>
        </div>
</nav>
<br>
<br>
<!-- Page Content -->
<div class="container-fluid sign-up" style="padding:0px 40px 0 40px;">
    <div class="row centered-form">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color: #fff; text-align:center;">Sign up <small style="color:#00CEB1;"></small></h3>
                </div>
                <div class="panel-body">
                    <form method="post" role="form" name="signup_form" id="signup_form" ng-submit="signup_form.$valid && Signup.clickSignUp()">
                        <div class="row">
                            <h4 class="signup-heading"> <span class="aaa">   1  </span> Choose your role.</h4>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class='form-group '>
                                    <label> <i class="fa fa-cogs" aria-hidden="true"></i> Role</label>
                                    <div class="input-group-btn">
                                        <select class="form-control btn btn-default" ng-model="Signup.signupData.role">
                                            <option ng-repeat="opt in Signup.rolesList" value="{{opt}}">{{opt}}</option>
                                            <!-- <option value="Asset Mgr">Asset Manager</option>
                                            <option value="External Property Mgr">External Property Manager</option>
                                            <option value="Appeal Agent">Appeal Agent</option>
                                            <option value="Leasing Agent">Leasing Agent</option>
                                            <option value="Sales Agent">Sales Agent</option>
                                            <option value="PO Buyer">PO Buyer</option>
                                            <option value="PO Seller">PO Seller</option>
                                            <option value="Legal">Legal</option>
                                            <option value="Assesor">Assesor</option>
                                            <option value="Assesor Clerk">Assesor Clerk</option>
                                            <option value="3rd Party">3rd Party</option>
                                            <option value="Residential Owner">Residential Owner</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4 class="signup-heading"> <span class="aaa">   2  </span> Enter personal information.</h4>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-user" aria-hidden="true"></i> First Name </label>
                                    <input placeholder=" " type="text" name="first_name" id="first_name" ng-model="Signup.signupData.name" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-user" aria-hidden="true"></i> Last Name</label>
                                    <input type="text" name="last_name" id="last_name" ng-model="Signup.signupData.lastName" class="form-control input-sm" placeholder=" ">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-user" aria-hidden="true"></i> Middle Name </label>
                                    <input type="text" name="last_name" id="last_name" ng-model="Signup.signupData.middleName" class="form-control input-sm" placeholder=" ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-building" aria-hidden="true"></i> Company </label>
                                    <input type="text" placeholder=" " name="email" id="email" ng-model="Signup.signupData.company" class="form-control input-sm" />
                                </div>
                            </div>
                            <!-- left -->
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-id-badge" aria-hidden="true"></i> Designation </label>
                                    <input type="text" placeholder=" " name="email" id="email" ng-model="Signup.signupData.sesignation" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label> <i class="fa fa-street-view" aria-hidden="true"></i> Street 1</label>
                                    <input placeholder=" " type="text" name="" id="" ng-model="Signup.signupData.street1" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label> <i class="fa fa-street-view" aria-hidden="true"></i> Street 2</label>
                                    <input ng-model="Signup.signupData.street2" placeholder=" " type="text" name="" id="" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label> <i class="fa fa-map" aria-hidden="true"></i> City</label>
                                    <input ng-model="Signup.signupData.city" placeholder=" " type="text" name="" id="" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-map-marker" aria-hidden="true"></i> State</label>
                                    <div class="input-group-btn">
                                        <select class="form-control btn btn-default" ng-model="Signup.signupData.state">
                                            <option disabled>Select State</option>
                                            <option ng-repeat="sstate in Signup.uSstates" value="{{sstate.States}}">{{sstate.States}}</option>
                                            <!-- <option>State name</option>
                                            <option>State name</option>
                                            <option>State name</option>
                                            <option>State name</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label><i class="fa fa-map-marker" aria-hidden="true"></i> Zip Code</label>
                                    <input ng-model="Signup.signupData.zipCode" placeholder=" " type="text" name="" id="" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-phone" aria-hidden="true"></i> Phone Number
                                        <span data-toggle="collapse" data-target="#filter-panel">
                                             &nbsp (<i class="fa fa-plus" aria-hidden="true"></i>)
                                            </span>
                                    </label>
                                    <input ng-model="Signup.signupData.phone1" placeholder=" " type="number" name="" id="" class="form-control input-sm">
                                </div>
                            </div>
                            <!-- hidden fields -->
                            <div id="filter-panel" class="collapse filter-panel" style="padding: 7px;">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label><i class="fa fa-phone" aria-hidden="true"></i> Phone Number 2 </label>
                                        <input ng-model="Signup.signupData.phone2"  placeholder=" " type="text" name="" id="" class="form-control input-sm">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label><i class="fa fa-phone" aria-hidden="true"></i> Phone Number 3 </label>
                                        <input ng-model="Signup.signupData.phone3"  placeholder=" " type="text" name="" id="" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-envelope" aria-hidden="true"></i> Email ID <span class="mandatory">*</span>
                                        <span data-toggle="collapse" data-target="#filter-panel2">
                                         &nbsp (<i class="fa fa-plus" aria-hidden="true"></i>)
                                        </span> </label>
                                    <input required ng-model="Signup.signupData.email1" placeholder=" " type="email" name="" id="" class="form-control input-sm">
                                </div>
                            </div>
                            <!-- hidden fields -->
                            <div id="filter-panel2" class="collapse filter-panel" style="padding:7px;">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label><i class="fa fa-envelope" aria-hidden="true"></i> Email ID 2 </label>
                                        <input ng-model="Signup.signupData.email2" placeholder=" " type="text" name="" id="" class="form-control input-sm">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label><i class="fa fa-envelope" aria-hidden="true"></i> Email ID 3 </label>
                                        <input ng-model="Signup.signupData.email3" placeholder=" " type="text" name="" id="" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4 class="signup-heading"> <span class="aaa">   3 </span> Enter account information.</h4>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-user" aria-hidden="true"></i> Username<span class="mandatory">*</span></label>
                                    <input ng-model="Signup.signupData.username" placeholder=" " required type="text" name="" id="" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-key" aria-hidden="true"></i> Password<span class="mandatory">*</span></label>
                                    <input ng-model="Signup.signupData.password" placeholder=" " required type="password" name="password" id="password" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label><i class="fa fa-key" aria-hidden="true"></i> Retype Password<span class="mandatory">*</span></label>
                                    <input ng-model="Signup.signupData.passwordConfirm" placeholder=" " type="password" 
                                    name="passwordConfirm" id="passwordConfirm" pw-check='password' required class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4" style="margin-top: 26px;color: red;">
                                <div class='msg-block' ng-show='signup_form.passwordConfirm.$touched && signup_form.$error'>
                                    <span class='msg-error' ng-show='signup_form.passwordConfirm.$error.pwmatch'>
                                        password does not match.
                                      </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class='form-group '>
                                    <label><i class="fa fa-shield" aria-hidden="true"></i> Security Question 1</label>
                                    <div class="input-group-btn">
                                        <select class="form-control btn btn-default" ng-model="Signup.signupData.securityQ1">
                                            <option disabled>Select Question</option>
                                            <option>Why do we use it?</option>
                                            <option>Where can I get some?</option>
                                            <option>Where does it come from?</option>
                                        </select>
                                    </div>
                                    <br>
                                    <input ng-model="Signup.signupData.securityA1" placeholder=" " type="text" name="Text" id="" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class='form-group '>
                                    <label><i class="fa fa-shield" aria-hidden="true"></i> Security Question 2</label>
                                    <div class="input-group-btn">
                                        <select class="form-control btn btn-default" ng-model="Signup.signupData.securityQ2">
                                            <option disabled>Select Question</option>
                                            <option>Why do we use it?</option>
                                            <option>Where can I get some?</option>
                                            <option>Where does it come from?</option>
                                        </select>
                                    </div>
                                    <br>
                                    <input ng-model="Signup.signupData.securityA2" placeholder=" " type="text" name="Text" id="" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class='form-group '>
                                    <label><i class="fa fa-shield" aria-hidden="true"></i> Security Question 3</label>
                                    <div class="input-group-btn">
                                        <select class="form-control btn btn-default" ng-model="Signup.signupData.securityQ3">
                                            <option disabled>Select Question</option>
                                            <option>Why do we use it?</option>
                                            <option>Where can I get some?</option>
                                            <option>Where does it come from?</option>
                                        </select>
                                    </div>
                                    <br>
                                    <input ng-model="Signup.signupData.securityA3" placeholder=" " type="text" name="Text" id="" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="submit" value="Register" class="btn btn-user sign-up-button-new" style="width:50%;
                                    margin: 0px auto;
                                    display: -webkit-box;" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<!-- Footer -->
<!--<footer class="text-center">Copyrights - 2017</footer>-->
<div class="alert-box success"> Successfuly Registered </div>
