<style>
    .header-btn ul li {
        color: #3b73af !important;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        text-transform: none !important;
        letter-spacing: 0 !important;
    }

    .header-btn ul.dropdown-menu.notify-drop li a {
        color: #2f2877
    }
    .appral-img{
        background-size: 24% ;
    }

    .dropdown-menu.notify-drop {
        min-width: 390px;
        background-color: #30337f;
        min-height: 360px;
        max-height: 410px;
        right: 0;
        left: unset;
        border: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        border-radius: 0;
        margin-top: 0;
        z-index: 1090;
    }
    .image-lg, .image-ts{
        cursor: pointer;
    }
    .header-btn span {
        cursor: pointer;
    }
    .user-img{
        padding: 0 15px;
    }

    .dropdown-menu.notify-drop .notify-drop-title {
        border-bottom: 1px solid #f9f9f9;
        padding:10px;
    }
    .tab-content {
        background: #f9f9f9;
    }

    .dropdown-menu.notify-drop .drop-content {
        min-height: 280px;
        max-height: 330px;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        background: #f9f9f9 !important;
    }

    .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }

    .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
     .blue-border {
     
        border: 1px solid #3b73af !important;
        border-left: 7px solid #3b73af !important;  
    }
    .red-border {
        border: 1px solid #cf0303 !important;
        border-left: 7px solid #cf0303 !important;  
    }

    .dropdown-menu.notify-drop .drop-content>li {
        padding: 0 0 12px 0;
        border-radius: 0;
        width: 94%;
        background-color: #ffffff;
        margin: 10px !important;
        
    }

    .dropdown-menu.notify-drop .drop-content>li.notf-is-read {
        background-color: #ffffff;
    }

    .dropdown-menu.notify-drop .drop-content>li.notf-is-read:hover {
        background-color: #f9f9f9;
    }

    .dropdown-menu.notify-drop .drop-content>li .event-time {
        background-color: #fff4aa;
        padding: 3px 10px 4px;
    }

    .dropdown-menu.notify-drop .drop-content>li.notf-is-read .event-time {
        background-color: #f9f9f9;
    }

    .dropdown-menu.notify-drop .drop-content>li:after {
        content: "";
        clear: both;
        display: block;
    }

    .dropdown-menu.notify-drop .drop-content>li:hover {
        background-color: transparent;
    }

    .dropdown-menu.notify-drop .drop-content>li:last-child {
        border-bottom: none;
    }
    /*.nav-tabs > li > a:hover {*/
        /*border: none;*/
         /*color: #ffffff !important;*/
        /*background: transparent;*/
        /*font-weight: bold;*/
    /*}*/
    .nav-tabs>li.active>a {
        border: none;
        background: none;
        cursor: pointer;
        margin: 0;
        padding: 10px;
        color: #4285F4 !important;
    }
    .nav-tabs>li a {
        border: none;
        background: none;
        cursor: pointer;
        margin: 0;
        padding: 10px;
        color: #ffffff !important;
    }
    ul.dropdown-menu li a:hover {
         padding: 10px !important;
     }
    ul.dropdown-menu li.active a:hover {
        padding: 10px !important;
    }

    .nav-tabs>li:hover >a {
         border: none !important;
         background: none;
         cursor: pointer;
         margin: 0;
         padding: 10px;
         color: #4285F4 !important;
     }
    .nav-tabs>li:hover{
        border: none !important;
    }

    .dropdown-menu.notify-drop .drop-content>li .notify-img {
        display: inline-block;
        /* width: 45px; */
        /* height: 45px; */
        /* margin: 0px 0px 0px 0px; */
        /* background-color: #33438b; */
        font-size: 10px;
        /* text-align: center; */
        /* padding: 1px 4px; */
        color: #89b913;
        font-weight: bold;
    }

    .dropdown-menu.notify-drop .drop-content>li .notify-img.is-negative {

        color: #ff2e2e;
    }

    .dropdown-menu.notify-drop .allRead {
        margin-right: 7px;
    }

    .dropdown-menu.notify-drop .rIcon {
        float: right;
        color: #9b9ddc;
    }

    .dropdown-menu.notify-drop .rIcon:hover {
        color: #4647a3;
    }

    .dropdown-menu.notify-drop .drop-content>li a {
        color: #2f2877 !important;
        padding: 0;
        text-decoration: dotted;
        font-weight: bold;
    }

    .dropdown-menu.notify-drop .drop-content>li {
        font-weight: bold;
        font-size: 11px;
    }

    .dropdown-menu.notify-drop .drop-content>li hr {
        margin: 5px 0;
        width: 70%;
        border-color: #e2e2e2;
    }

    .dropdown-menu.notify-drop .drop-content .pd-l0 {
        padding-left: 10px;
    }

    .pd-0 {
        padding: 0;
    }
    .notify-head{
        color: #000000;
        font-weight: 600;
        display: block;
        font-size: 14px;
        margin: 0 0 15px;
    }

    .dropdown-menu.notify-drop .drop-content>li p {
        font-size: 13px;
        color: #000000;
        font-weight: normal;
        margin: 0;
    }

    .dropdown-menu.notify-drop .drop-content>li p.notf-content {
        margin: 0;
        max-width: 330px;
        word-break: break-all;
        display: block;
    }

    .dropdown-menu.notify-drop .drop-content>li p.time {
        font-size: 11px;
        font-weight: bold;
        color: #7257da;
    }



    .dropdown-menu.notify-drop .notify-drop-footer {
        border-top: 1px solid #3274af;
        bottom: 0;
        position: relative;
        padding: 8px 15px;
        color: white
    }

    .dropdown-menu.notify-drop .notify-drop-footer a {
        color: #777;
        text-decoration: none;
    }

    .dropdown-menu.notify-drop li a:hover,
    .logout-drop {
        background: none;
    }

    .days-left {
        font-size: 9px;
        color: #7257da;
        margin-top: -5px;
    }
     li{
        border-radius: 0;
    }
    .header-btn ul.dropdown-menu.notify-drop ul.notification-tabs li a,
    .header-btn ul.dropdown-menu.notify-drop ul.notification-tabs li{
        border-radius: 0 !important;
    }
    .header-btn ul.dropdown-menu.notify-drop ul.notification-tabs li a {
    color: #f5f5f5;
    }
    /*.header-btn ul li ul li a:hover, .logout-drop {*/
        /*background: #205081;*/
        /*width: 135px;*/
        /*text-align: left;*/
        /*padding: 2px 0 2px 5px;*/
    /*}*/
    .logout-drop li a:hover{
        background-color: #2c166a !important;
        width: 122px !important;
        text-align: left !important;
        padding: 0 0 0 10px !important;
    }
    .header-btn ul {
        margin: 1px 0 0 0;
        padding: 0 6px 0 0;
    }
    .header-btn ul li:active {
        background: #ffffff !important;
    }
    .card-tag-red {
        float: right;
        color: white;
        padding: 3px 5px 3px 5px;
        border-radius: 6px;
        background: #cf0303;
    }
    .header-btn ul li ul li a:hover {
        background: #205081;
        padding:5px 10px !important;
        border-radius: 2px;
        width: 100% !important;
    }
    .header-btn ul li ul li a{
        padding: 5px 10px !important;
        border-radius: 2px;
        width: 100% !important;
        text-align: left !important;
    }
    .header-btn ul li:active {
        background: none !important;
    }
    .logout-drop li {
        display: block !important;
    }
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
        color: #ffffff !important;
    }
    .open>.dropdown-menu{
        padding: 0;
    }
    .active-li{
        background:#337ab7;
    }

    @media (max-width: 1200px) {
        .image-lg {
            width: 65px;
        }
        .appral-img{
            background-size: 30% ;
        }
        .image-ts {
            width: 84px;
        }
        .image-pr {
            width: 75px;
        }
    }
    @media (max-width: 935px) {
        .navbar-toggle .icon-bar {
            background: #ffffff;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-collapse.collapse:not(.in) {
            display: none !important;
        }
        .navbar-nav {
            float: none !important;
            margin: 7.5px -15px;
        }
        .navbar-nav > li {
            float: none;
        }
        .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-toggle .icon-bar {
            background: #ffffff;
        }
        .navbar-toggle {
            margin-right: 33px;
        }
        .appral-img {
            background-size: 46%;
        }
        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            line-height: 1.2;
            margin-left: 18px !important;
            padding-left: 8px;
        }
        .image-lg {
            width: 72px !important;
        }
        .appral-img {
            background-size: 30%;
        }
        .header-btn {
            float: left;
        }
        .image-ts {
            width: 100px;
        }
    }





</style>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <!--<span class="sr-only">Toggle navigation</span>-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">Assessor on the
                <span style="color:#47bcff;">Cloud</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="header-btn">
                <ul>
                    <li class="metro-header active-li">
                        <a ui-sref="TaxAppeal">
                            <span class=" appral-img image-lg" style="background-image: url(../../assets/img/tax.png); "></span>
                            <span> Tax Appeal</span>
                        </a>
                    </li>
                    <li class="metro-header">
                        <a ui-sref="inventory">
                            <span class="image-lg" style="background-image: url(../../assets/img/inventory.png);"></span>
                            <span>Inventory</span>
                        </a>
                    </li>
                    <li class="metro-header" has-permission="role" permission-object="userObj">
                        <a ui-sref="user-rights">
                            <span class="image-lg" style="background-image: url(../../assets/img/pr-u-right.png);"></span>
                            <span>User Rights</span>
                        </a>
                    </li>
                    <li class="metro-header" has-permission='timeline'>
                        <a ui-sref="TimelineGraphical">
                            <span class="image-lg" style="background-image: url(../../assets/img/pr-time.png);"></span>
                            <span>Timeline</span>
                        </a>
                    </li>
                    <li class="metro-header" has-permission='contracts'>
                        <a ui-sref="SavedContractList">
                            <span class="image-lg"></span>
                            <span>Contracts</span>
                        </a>
                    </li>
                    <li class="metro-header" has-permission='surveys'>
                        <a ui-sref="SurveyList">
                            <span class="image-lg"></span>
                            <span>View Surveys</span>
                        </a>
                    </li>

                    <li class="metro-header" id="prp" ng-hide="showSelectedTabs" has-permission='properties'>
                        <a ui-sref="PropertyList.private_property_list">
                            <span class="image-pr"></span>
                            <span>Properties</span>
                        </a>
                    </li>
                    <li class="metro-header" ng-hide="showSelectedTabs" has-permission='taskManager'>
                        <a ui-sref="TaskManager">
                            <span class="image-ts"></span>
                            <span>Task Manager</span>
                        </a>
                    </li>
                    <li class="dropdown notifications" style="cursor: pointer;margin-right: 5px;text-align:center">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span ng-show="allNotifications.length>0" class="badge" style="position: absolute;top: 13px;"> {{allNotifications.length}}</span>
                            <span class="image-lg" style="background-image: url(./assets/img/no.png);"></span>
                            <span>Notifications</span>
                        </a>
                        <ul class="dropdown-menu notify-drop">
                            <div class="notify-drop-title">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;color: white">
                                        Notifications
                                        <!-- <span ng-show="allNotifications.length>0"> (
                                            <b>{{allNotifications.length}}</b>)</span> -->
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right" style="padding-right: 0px;color: white">
                                        <a href="" class="rIcon allRead">
                                            <i class="fa fa-bell"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="allNotifications.external.length==0 && allNotifications.internal.length==0" style="text-align:center;padding: 90px 0px;background-color: rgb(34, 84, 130);min-height: 282px;">
                                <i style="font-size:24px" class="fa fa-eye-slash"></i>
                                <p>No notifications</p>
                            </div>
                            <!-- <ul class="nav nav-tabs notification-tabs" ng-show="allNotifications.external.length>0 || allNotifications.internal.length>0">
                                <li class="active">
                                    <a href="#internal-events">External </a>
                                </li>
                                <li>
                                    <a href="#external-events">Internal</a>
                                </li>
                            </ul> -->
                            <div class="tab-content" ng-show="allNotifications.length>0">
                                <div id="internal-events" class="tab-pane fade in active">
                                    <ul class="drop-content">
                                        <li ng-repeat="notf in allNotifications" style="display:block" 
                                        ng-class="notf.type=='warning' ? 'red-border':'blue-border'"    
                                        >
                                            <div class="row">
                                                <!--<div  class="col-xs-12 pd-l0 event-time">-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="col-xs-4 pd-0">-->
                                                            <!--<p class="notify-img" ng-class="{'is-negative': (notf.notification.properties.daysLeft<0)}">-->
                                                                <!--<span ng-if="notf.notification.properties.daysLeft>=0">-->
                                                                    <!--<i class="fa fa-circle"></i>-->
                                                                    <!--<span class="days-left"> {{notf.notification.properties.daysLeft}} DAY(S) LEFT</span>-->
                                                                <!--</span>-->
                                                                <!--<span ng-if="notf.notification.properties.daysLeft<0">-->
                                                                    <!--<i class="fa fa-circle"></i>-->
                                                                    <!--<span class="days-left">{{notf.notification.properties.daysLeft*-1}} DAY(S)-->
                                                                        <!--AGO</span>-->
                                                                <!--</span>-->

                                                            <!--</p>-->
                                                        <!--</div>-->
                                                        <!--<div class="col-xs-8 pd-0" style="text-align: right">-->
                                                            <!--<p class="time">Start: {{notf.notifications.properties.startDate}}, End: {{notf.notifications.properties.endDate}}</p>-->

                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <div class="col-xs-12 pd-l0" style="margin-top: 10px;">
                                                    <h4 class="notify-head">{{notf.heading}}</h4>
                                                    <p class="notf-content">{{notf.text}}</p>
                                                    <span ng-show="notf.count" class="card-tag-red pull-right">{{notf.count}} Remaining</span>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="external-events" class="tab-pane fade in">
                                    <ul class="drop-content">
                                        <li ng-repeat="notf in allNotifications.internal" style="display:block" ng-class="{'notf-is-read': notf.notification.properties.readFlag==1}"
                                            ng-click="OpenNotfModal(notf)">
                                            <div class="row">
                                                <!--<div class="col-xs-12 pd-l0 event-time">-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="col-xs-4 pd-0">-->
                                                            <!--<p class="notify-img" ng-class="{'is-negative': (notf.notification.properties.daysLeft<0)}">-->
                                                                        <!--<span ng-if="notf.notification.properties.daysLeft>=0">-->
                                                                            <!--<i class="fa fa-circle"></i>-->
                                                                            <!--<span class="days-left"> {{notf.notification.properties.daysLeft}} DAY(S) LEFT</span>-->
                                                                        <!--</span>-->
                                                                <!--<span ng-if="notf.notification.properties.daysLeft<0">-->
                                                                            <!--<i class="fa fa-circle"></i>-->
                                                                            <!--<span class="days-left">{{notf.notification.properties.daysLeft*-1}} DAY(S)-->
                                                                                <!--AGO</span>-->
                                                                        <!--</span>-->

                                                            <!--</p>-->
                                                        <!--</div>-->
                                                        <!--<div class="col-xs-8 pd-0" style="text-align: right">-->
                                                            <!--<p class="time">Deadline: {{notf.notifications.properties.deadLine}}</p>-->

                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <div class="col-xs-12 pd-l0" style="margin-top: 10px;">
                                                    <h4 class="notify-head">{{notf.notifications.properties.eventName}}</h4>
                                                    <p class="notf-content">{{notf.notifications.properties.eventDetails}}</p>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="notify-drop-footer text-center" ng-if="false">
                                <i class="fa fa-eye-slash"></i> Unread-{{unreadNotifications}}
                            </div>
                        </ul>
                    </li>


                    <!--<li class="dropdown metro-header welcome">-->
                    <li class="dropdown metro-header">
                        <a class=" dropdown-toggle user-img" data-toggle="dropdown" href="">
                            <span class="image-ph"></span> Welcome {{name}} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu logout-drop">
                            <li class="clearfix">
                                <a href="">
                                    <i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                            </li>
                            <li class="clearfix">
                                <a href="">
                                    <i class="fa fa-question" aria-hidden="true"></i> AOTC Help</a>
                            </li>
                            <li class="clearfix">
                                <a ui-sref="login">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="row   success-alert text-center" style="display:block;">
    <div class="error-notice">
        <div class="row oaerror danger" id="head_danger" style="display: none">
            <span class="col-md-12">
                <i class="fa fa-lg fa-times-circle-o" aria-hidden="true" style="color:#fff;     font-size: 28px;"></i> &nbsp; &nbsp; {{dangerMessage}}</span>
        </div>
        <div class="row oaerror warning" id="head_error" style="display: none">
            <span class="col-md-12">
                <i class="fa fa-lg fa-exclamation-triangle" aria-hidden="true" style="color:#fff;     font-size: 28px;"></i> &nbsp; &nbsp; {{errorMessage}}</span>
        </div>
        <div class="row oaerror info" style="display: none">
            <span class="col-md-12">
                <i class="fa fa-lg fa-info-circle" aria-hidden="true" style="color:#fff;     font-size: 28px;"></i> &nbsp; &nbsp; Files in Processing. </span>
        </div>
        <div id="head_success" class="row oaerror" style="background: rgba(139, 195, 74, 0.79);     border-left-color: #fff; display: none">
            <span class="col-md-12">
                <i class="fa fa-lg fa-check-circle" aria-hidden="true" style="color:#fff;     font-size: 28px;"></i> &nbsp; &nbsp; {{successMessage}} </span>
        </div>
    </div>
</div>

<div id="myNotificationModal" class="modal fade" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Notification</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-if="selectedNotification.notifications.properties.eventType.indexOf('inter')!=-1">
                        <div class="col-sm-6">
                            <div class="form-group">

                                <label for="inputName" class="control-label">Event Details</label>
                                <p>{{selectedNotification.notifications.properties.eventDetails}}</p>
                                <hr>
                                <label for="inputName" class="control-label">Deadline</label>

                                <p>{{selectedNotification.notifications.properties.deadLine}}</p>
                                <hr>
                                <label for="inputName" class="control-label">Event Type</label>
                                <p>{{selectedNotification.notifications.properties.eventType}}</p>
                                <hr>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputName" class="control-label">Days
                                    <span ng-if="selectedNotification.notification.properties.daysLeft>=0">Left</span>
                                    <span ng-if="selectedNotification.notification.properties.daysLeft<0">Ago</span>

                                </label>
                                <p ng-if="selectedNotification.notification.properties.daysLeft>=0">{{selectedNotification.notification.properties.daysLeft}}</p>
                                <p ng-if="selectedNotification.notification.properties.daysLeft<0">{{selectedNotification.notification.properties.daysLeft*-1}}</p>

                                <hr>
                                <label for="inputName" class="control-label">Properties</label>
                                <p><span style="margin-right:3px;" class="label label-default" ng-repeat="prp in head.parseProps(selectedNotification.notifications.properties.propertyNames)">{{prp}}</span></p>
                                <hr>
                            </div>

                        </div>
                        <br>
                        <div style="clear:both"></div>
                        <div class="form-group pull-right" style="margin-top: 20px;">
                            <button type="submit" data-dismiss="modal" class="btn btn-danger">Close</button>
                        </div>
                    </div>
                    <div ng-if="selectedNotification.notifications.properties.eventType.indexOf('exter')!=-1">
                            <div class="col-sm-6">
                                <div class="form-group">
    
                                    <label for="inputName" class="control-label">Event Details</label>
                                    <p>{{selectedNotification.notifications.properties.eventDetails}}</p>
                                    <hr>
                                    <label for="inputName" class="control-label">Start Date</label>
    
                                    <p>{{selectedNotification.notifications.properties.endDate}}</p>
                                    <hr>
                                    <label for="inputName" class="control-label">Event Type</label>
                                    <p>{{selectedNotification.notifications.properties.eventType}}</p>
                                    <hr>
                                </div>
    
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName" class="control-label">Days
                                        <span ng-if="selectedNotification.notification.properties.daysLeft>=0">Left</span>
                                        <span ng-if="selectedNotification.notification.properties.daysLeft<0">Ago</span>
    
                                    </label>
                                    <p ng-if="selectedNotification.notification.properties.daysLeft>=0">{{selectedNotification.notification.properties.daysLeft}}</p>
                                    <p ng-if="selectedNotification.notification.properties.daysLeft<0">{{selectedNotification.notification.properties.daysLeft*-1}}</p>
    
                                    <hr>
    
                                    <label for="inputName" class="control-label">End Date</label>
                                    <p>{{selectedNotification.notifications.properties.endDate}}</p>
                                    <hr>
    
                                </div>
    
                            </div>
                            <br>
                            <div style="clear:both"></div>
                            <div class="form-group pull-right" style="margin-top: 20px;">
                                <button type="submit" data-dismiss="modal" class="btn btn-danger">Close</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
