launchConfigurations/
bower_components/
node_modules
.idea/
public/RR
public/IE
public/users
public/taxbills
public/properties
public/otherfiles
public/PropertyImages
public/CompsImages
public/Appeal
public/bundles
.vs/
rows.js
"sendgrid.env" 
"sendgrid.env" 
