<style>
    body {
        background-color: #f5f5f5;
    }

    .drop-file ul {
        list-style: none;
    }

    .drop-file li {
        position: relative;
    }

    .drop-file li:before {
        position: absolute;
        top: -2px;
        margin: 8px 0 0 -12px;
        vertical-align: middle;
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #ccc;
        content: "";
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0.8;
    }
</style>
<header></header>
<div class="Comps-my-prop">
    <ul>

        <li>
            <h6> Rent Estimate: <span class="pull-right">${{CreateComparablesForm.PrinciplePropData.rentAmount | number:0}}</span>
            </h6>
            <h6>Zestimate: <span class="pull-right">${{CreateComparablesForm.PrinciplePropData.amount | number:0}}</span></h6>
        </li>
        <li>
            <h6>Valuation Range High: <span class="pull-right">
            ${{CreateComparablesForm.PrinciplePropData.valuationRangeHigh | number:0}}
            </span>
            </h6>
            <h6>Valuation Range Low: <span class="pull-right">
            ${{CreateComparablesForm.PrinciplePropData.valuationRangeLow | number:0}}
            </span>
            </h6>
        </li>
        <li>
            <h6>Value Change: <span class="pull-right">${{CreateComparablesForm.PrinciplePropData.valueChange | number:0}}</span></h6>
            <h6>Value Change Duration: <span class="pull-right">{{CreateComparablesForm.PrinciplePropData.valueChangeDuration}}</span></h6>
        </li>
        <li>
            <h6>Year Built: <span class="pull-right">{{CreateComparablesForm.PrinciplePropData.yearBuilt}}</span>
            </h6>
            <h6>Lot Size SF: <span class="pull-right">{{CreateComparablesForm.PrinciplePropData.lotSizeSqFt | number:0}}</span></h6>
        </li>
        <li>
            <h6>Last Sold Date: <span class="pull-right">{{CreateComparablesForm.PrinciplePropData.lastSoldDate}}</span></h6>
            <h6>Last Sold Price: <span class="pull-right">${{CreateComparablesForm.PrinciplePropData.lastSoldPrice | number:0}}</span></h6>
        </li>
    </ul>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary IE_RR">
            <div class="panel-heading">
                <h5> <i class="fa fa-user" aria-hidden="true"></i>
                    <strong>   Create Comparables </strong>
                    <button style="display: none;" onclick="location.href = '22-UploadManual.html';" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-user pull-right" style="    margin-top: -6px; margin-right: 20px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Upload More Files Or Data
                    </button>
                </h5></div>

            <body>
            <div class="panel-body drop-file">
                <div class="row ">
                    <div class="col-md-12 submit-data">
                        <div class="welll">
                            <form id="compForm" name="compForm" ng-submit="compForm.$valid && CreateComparablesForm.submitManualData()" novalidate>



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Comp. Score</label>
                                            <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="compScore" id="compScore" required ng-model="CreateComparablesForm.formData.compScore" type='text' placeholder="Enter Comp Score">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.compScore.$invalid) || (
                                                    compForm.compScore.$touched && compForm.compScore.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="sandbox-container">
                                            <label>Last Updated</label>
                                            <div class='input-group date'>
                                                <input type='text' name="lastUpdate"  required ng-model="CreateComparablesForm.formData.lastUpdate" placeholder="Click here to choose date" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                            </div>
                                        </div>
                                        <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.lastUpdate.$invalid) || (
                                                    compForm.rentLastUpdate.$touched && compForm.rentLastUpdate.$invalid)">This is required.</span>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Percentile Value</label>
                                            <input class='form-control alldisable' name="percentileValue" id="percentileValue" required ng-model="CreateComparablesForm.formData.percentileValue" type='text' placeholder="Enter Percentile Value">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.percentileValue.$invalid) || (
                                                    compForm.percentileValue.$touched && compForm.percentileValue.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Rent Zestimate Data</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="sandbox-container">
                                            <label>Last Updated</label>
                                            <div class='input-group date'>
                                                <input type='text' name="rentLastUpdate"  required ng-model="CreateComparablesForm.formData.rentLastUpdate" placeholder="Click here to choose date" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                            </div>
                                        </div>
                                        <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.rentLastUpdate.$invalid) || (
                                                    compForm.rentLastUpdate.$touched && compForm.rentLastUpdate.$invalid)">This is required.</span>
                                        <br>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Value Change</label>
                                            <input  ui-money-mask="0"  ui-hide-space  class='form-control alldisable' name="rentValueChange" id="rentValueChange" required ng-model="CreateComparablesForm.formData.rentValueChange" type='text' placeholder="Enter Value Change">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.rentValueChange.$invalid) || (
                                                    compForm.rentValueChange.$touched && compForm.rentValueChange.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Value Change Duration</label>
                                            <input    class='form-control alldisable' name="rentValueChangeDuration" id="rentValueChangeDuration" required ng-model="CreateComparablesForm.formData.rentValueChangeDuration" type='text' placeholder="Enter Value Change Duration">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.rentValueChangeDuration.$invalid) || (
                                                    compForm.rentValueChangeDuration.$touched && compForm.rentValueChangeDuration.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Tax Assesment</label>
                                            <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="taxAssessment" id="taxAssessment" required ng-model="CreateComparablesForm.formData.taxAssessment" type='text' placeholder="Tax Assessment">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.taxAssessment.$invalid) || (
                                                    compForm.taxAssessment.$touched && compForm.taxAssessment.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Tax Assessment Year</label>
                                            <input  class='form-control alldisable' name="taxAssesmentYear" id="taxAssesmentYear" required ng-model="CreateComparablesForm.formData.taxAssessmentYear" type='text' placeholder="Enter Tax Assessment Year">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.taxAssesmentYear.$invalid) || (
                                                    compForm.taxAssessmentYear.$touched && compForm.taxAssessmentYear.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Finished SF</label>
                                            <input  class='form-control alldisable' name="finishedSqFt" id="finishedSqFt" required ng-model="CreateComparablesForm.formData.finishedSqFt" type='text' placeholder="Enter Tax Assessment Year">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.finishedSqFt.$invalid) || (
                                                    compForm.finishedSqFt.$touched && compForm.finishedSqFt.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="clearfix"></div>
                                <button type="submit" data-toggle="modal" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" id="success-btn">Submit</button>
                                <button ng-click="CreateComparablesForm.resetForm()" type="button" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" id="success-btn">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>

</div>
<!-- modal -->
<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Do you want to add more files/data ? </h5>
            </div>
            <div class="modal-body text-center">
                <h4 style="color:#0fad00">Success</h4>
                <img height="50" src="http://osmhotels.com//assets/check-true.jpg">
                <h4>Do you want to add more data ?</h4>
                <button ng-click="CreateComparablesForm.gotoPropertyDetails()" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; background: #F44336; !Important">No</button>
                <button ng-click="CreateComparablesForm.modalYesbutton()" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; ">Yes</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<!--<footer class="text-center">Copyrights - 2017</footer>-->
