<link rel="stylesheet" type="text/css" href="modules/PropertyModule/taxAppeal/components/notifications/notifications.css">

<div class="sidebar-header">
    <div class="">
      <span>Notification</span>
    </div>
  </div>
  <div class="sidebar">

    <div class="sidebar-body" ng-repeat=" not in data.notification">
      <div class="card card-1 red-card" ng-class="setWarning(not)">
        <div class="col-md-12">
        <h2 class="col-md-6 card-title">{{not.heading}}</h2>
        <span ng-if="not.count" class="col-md-6" ng-class="warningCount(not)">{{not.count}} Remaining</span>
      </div>
        <hr class="card-splitter">
        <p>{{not.text}}</p>
      </div>
      <!--<div class="card card-1 blue-card">-->
        <!--<h2 class="card-title">Required items</h2>-->
        <!--<hr class="card-splitter">-->
        <!--<span>Please submit the following:</span>-->
        <!--<ul class="items">-->
          <!--<li><span>Income expense statements of last 3 years.</span></li>-->
          <!--<li><span>Rent Rolls of this year and last year.</span></li>-->
          <!--<li><span>CapEx schedule.</span></li>-->
        <!--</ul>-->
        <!--<div class="card-action">-->
          <!--<button class="black-button">View more</button>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
