<link rel="stylesheet" type="text/css" href="modules/PropertyModule/taxAppeal/components/notifications/notifications.css">
<script>
    $(window).scroll(function(){
        if ($(this).scrollTop() >145) {
            $('#notification').addClass('fixed');
        } else {
            $('#notification').removeClass('fixed');
        }
    });
</script>
<div class="aside" id="notification"  ng-class="{'fixed-go': filters.length>0}">
<div class="sidebar-header">
    <div class="">
      <span>Notifications</span>

    </div>
  </div>
  <div class="sidebar-notification" ng-class="{'sidebar-notification-inner': data.jurisdictions.length==1,'sidebar-notification-inner2':  data.jurisdictions.length>1}" >

    <div class="sidebar-body" ng-repeat=" not in data.notification" ng-if="data.notification.length>0">
      
      <div class="card card-1 red-card" ng-class="setWarning(not)">
        <div class="col-md-12" style="padding: 0 ">
        <h2 class="card-title">{{not.heading}}</h2>


      </div>
        <hr class="card-splitter">
        <p style="margin: 25px 0 10px; ">{{not.text}}</p>
        <span class="card-tag" ng-if="not.count"  ng-class="warningCount(not)">{{not.count}} Remaining</span>
      </div>
    </div>
    <div class="sidebar-body"  ng-if="data.notification.length==0">
        <div class="no-notification">
          <i class="fa fa-exclamation-triangle"></i>
          <span>No Notification</span>
        </div>
      </div>
    </div>
</div>