<link rel="stylesheet" type="text/css" href="modules/SurveyModule/Wizards/ArrangeSurvey/dragAndDrop.css">
<link rel="stylesheet" type="text/css" href="modules/SurveyModule/Wizards/ArrangeSurvey/ArrangeSurvey.css">

<div class="wrapper-survey" ng-init="inits()">
    <div class="row">
        <div class="col-md-12">
            <div class="panel  panel-primary">
                <div class=" panel-heading">
                    <h5>
                        <h5>
                            <strong> <i class="fa fa-file-text-o" aria-hidden="true"></i> Arrange Questions</strong>
                            <strong> <i class="fa fa-sort" aria-hidden="true"></i></strong>
                            <button ng-click="gotoSectionSettings()" type="button" class="btn btn-user pull-right" style="margin-top: -7px; margin-right: 30px;"> <i class="fa fa fa-cog" aria-hidden="true"></i> Settings </button>

                            <!--<button  data-toggle="modal" data-target="#modalOpen" type="button"  class="btn btn-user pull-right" style="margin-top: -7px; margin-right: 30px;"> <i class="fa fa-plus" aria-hidden="true"></i> Add  </button>-->
                            <!--&lt;!&ndash;Modal&ndash;&gt;-->
                            <div class="modal fade survey-modal" id="modalOpen" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h5 class="modal-title">Add New Section</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Enter Section Name:</label>
                                                <input type="text" ng-model="sectionData.sectionText" class="form-control" rows="5" id="comment">
                                            </div>
                                            <button type="button" data-dismiss="modal" ng-click="addSection(sectionData)" class="btn btn-primary pull-right"><i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i> Save</button>
                                            <!-- Usage as a class -->
                                            <div class="clearfix">...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ////////////////////////////////////////// -->
                            <span class="pull-right show-sec" type="button" class="btn btn-user pull-right" style="margin-top: -6px; margin-right: 20px;">
                                Section(s):
                                <span class="dropdown" id="dropOut" checkboxes="true" extra-settings="example14settings" events="onItemSelect(example1model)" ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></span>
                            </span>
                        </h5>
                </div>
                <div>

                </div>
                <div class="row">
                    <div class="simpleDemo row">
                        <br>
                        <div ng-if="enableList">
                            <div class="col-md-7" my-sortable>
                                <div class="panel panel-info" ng-repeat="(listName, list) in models.lists | nameFilter:list | orderBy : 'id'">
                                    <div class="panel-heading">
                                        <div ng-repeat="title in list">
                                            <h4 ng-if="title.key" class="text-center">
                                                {{ title.key || 'empty' }} <span save="save(editedText)" editable-text="title.key">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </span>
                                                <span class="pull-right">
                                                    <label class="font-arrange">Re-Order: </label>
                                                    <toggle ng-model="enableList" ng-change="enableListFunction(enableList)" size="btn-sm">></toggle>
                                                </span>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="padding: 0px;" ng-include="'modules/SurveyModule/Wizards/ArrangeSurvey/dragAndDrop.html'"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7" ng-if="!enableList">
                            <div class="panel panel-info" ng-repeat="(listName, list) in models.lists">
                                <div class="panel-heading">
                                    <div ng-repeat="title in list">
                                        <h4 ng-if="title.key" class="text-center">
                                            {{ title.key || 'empty' }} <span save="save(editedText)" editable-text="title.key">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </span>
                                            <span class="pull-right">
                                                <label class="font-arrange">Re-Order: </label>
                                                <toggle class="small-bst-btn " ng-model="enableList" ng-change="enableListFunction(enableList)" size="btn-sm"></toggle>
                                            </span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding: 0px;" ng-include="'modules/SurveyModule/Wizards/ArrangeSurvey/dragAndDrop.html'"></div>
                            </div>
                        </div>
                        <div class="col-md-5 set-val">
                            <ul dnd-list="list">
                                <li class="panel panel-info" ng-repeat="(listName, list) in models2.lists">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Questions</h3>
                                    </div>
                                    <div class="panel-body" style="padding: 0px;" ng-include="'modules/SurveyModule/Wizards/ArrangeSurvey/dragAndDrop.html'"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div view-source="simple"></div>
                </div>
                <div class="clearfix"></div>
                <br>
            </div>
        </div>
    </div>
</div>
