<header></header>
<!-- <div class="prop-fixd text-center">
    <ul>
        <li> <i class="fa fa-dot-circle-o" aria-hidden="true"></i> <b>Account Number:</b> 215491 </li>
        <li> <i class="fa fa-location-arrow" aria-hidden="true"></i><b> Property:</b> MARLBORO INVESTORS LLC</li>
        <li> <i class="fa fa-map-marker" aria-hidden="true"></i><b> Address:</b> 5700, CRAIN HYW, SE upper Marlboro, MD 20772 </li>
    </ul>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-8 up-sec">
            <h4>Map your properties data</h4>
            <p>Please drag and drop the data fields from the right into the corresponding target on the left.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ">
            <form class="mapping-table1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> AOTC Data Fields </th>
                            <th>Mapping </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Tax Account Number</td>
                            <td Class="invention" id="taxAccountNo">
                                <input name="answer1" ng-model="Map.mappedData.taxAccountNo" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Property Name </td>
                            <td Class="invention" id="propertyName">
                                <input name="answer1" ng-model="Map.mappedData.propertyName" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Property ID</td>
                            <td Class="invention" id="propertyID">
                                <input name="answer1" ng-model="Map.mappedData.propertyID" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Property Owner Name</td>
                            <td Class="invention" id="recordOwnerName">
                                <input name="answer1" ng-model="Map.mappedData.recordOwnerName" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Property Type</td>
                            <td Class="invention" id="propertyType">
                                <input name="answer1" ng-model="Map.mappedData.propertyType" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Property Type Note</td>
                            <td Class="invention" id="propertyTypeNote">
                                <input name="answer1" ng-model="Map.mappedData.propertyTypeNote" />
                            </td>
                        </tr>
                        <!-- <tr id="1">
                            <td style="height: 43px;" class="mapping">AOTC Client Name</td>
                            <td Class="invention" id="aotcClientName">
                                <input name="answer1" ng-model="Map.mappedData.aotcClientName" />
                            </td>
                        </tr> -->
                       <!--  <tr id="1">
                            <td style="height: 43px;" class="mapping">PPO Name</td>
                            <td Class="invention" id="ppoName">
                                <input name="answer1" ng-model="Map.mappedData.ppoName" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Asset Manager Firm</td>
                            <td Class="invention" id="assetManagerFirm">
                                <input name="answer1" ng-model="Map.mappedData.assetManagerFirm" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Property Management Firm</td>
                            <td Class="invention" id="propertyManagementFirm">
                                <input name="answer1" ng-model="Map.mappedData.propertyManagementFirm" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Leasing Agent Firm</td>
                            <td Class="invention" id="leasingAgentFirm">
                                <input name="answer1" ng-model="Map.mappedData.leasingAgentFirm" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Sales Broker Firm</td>
                            <td Class="invention " id="salesBrokerFirm">
                                <input name="answer1" ng-model="Map.mappedData.salesBrokerFirm" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Law Firm Releases </td>
                            <td Class="invention" id="lawFirmReleases">
                                <input name="answer1" ng-model="Map.mappedData.lawFirmReleases" />
                            </td>
                        </tr> 
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Property Owner Name</td>
                            <td Class="invention" id="propertyOwnerName">
                                <input name="answer1" ng-model="Map.mappedData.propertyOwnerName" />
                            </td>
                        </tr> -->

                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Street Address</td>
                            <td Class="invention" id="streetAddress">
                                <input name="answer1" ng-model="Map.mappedData.streetAddress" />
                            </td>
                        </tr>
                        <!-- <tr id="1">
                            <td style="height: 43px;" class="mapping">Assessor Address</td>
                            <td Class="invention" id="assessorAddress">
                                <input name="answer1" ng-model="Map.mappedData.assessorAddress" />
                            </td>
                        </tr> -->
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">City</td>
                            <td Class="invention" id="city">
                                <input name="answer1" ng-model="Map.mappedData.city" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">State</td>
                            <td Class="invention" id="state">
                                <input name="answer1" ng-model="Map.mappedData.state" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Zip</td>
                            <td Class="invention" id="zip">
                                <input name="answer1" ng-model="Map.mappedData.zip" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Zoning</td>
                            <td Class="invention" id="zoning">
                                <input name="answer1" ng-model="Map.mappedData.zoning" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Land Size</td>
                            <td Class="invention" id="landSize">
                                <input name="answer1" ng-model="Map.mappedData.landSize" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Land Size Unit</td>
                            <td Class="invention" id="landSizeUnit">
                                <input name="answer1" ng-model="Map.mappedData.landSizeUnit" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Gross Area</td>
                            <td Class="invention" id="grossArea">
                                <input name="answer1" ng-model="Map.mappedData.grossArea" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Net Leasable Area</td>
                            <td Class="invention" id="netLeasableArea">
                                <input name="answer1" ng-model="Map.mappedData.netLeasableArea" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Year Built</td>
                            <td Class="invention" id="yearBuilt">
                                <input name="answer1" ng-model="Map.mappedData.yearBuilt" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Year Renovated</td>
                            <td Class="invention" id="yearRenovated">
                                <input name="answer1" ng-model="Map.mappedData.yearRenovated" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">FAR</td>
                            <td Class="invention" id="far">
                                <input name="answer1" ng-model="Map.mappedData.far" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Assessing Authority</td>
                            <td Class="invention" id="assessingAuthority">
                                <input name="answer1" ng-model="Map.mappedData.assessingAuthority" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Assessment Ratio</td>
                            <td Class="invention" id="assessmentRatio">
                                <input name="answer1" ng-model="Map.mappedData.assessmentRatio" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Assessor Account No</td>
                            <td Class="invention" id="assessorAccountNo">
                                <input name="answer1" ng-model="Map.mappedData.assessorAccountNo" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Taxing Authority</td>
                            <td Class="invention" id="taxingAuthority">
                                <input name="answer1" ng-model="Map.mappedData.taxingAuthority" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Map Citation</td>
                            <td Class="invention" id="mapCitation">
                                <input name="answer1" ng-model="Map.mappedData.mapCitation" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Deed Citation</td>
                            <td Class="invention" id="deedCitation">
                                <input name="answer1" ng-model="Map.mappedData.deedCitation" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Section</td>
                            <td Class="invention" id="section">
                                <input name="answer1" ng-model="Map.mappedData.section" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Block</td>
                            <td Class="invention" id="block">
                                <input name="answer1" ng-model="Map.mappedData.block" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">LOT</td>
                            <td Class="invention" id="lot">
                                <input name="answer1" ng-model="Map.mappedData.lot" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Map</td>
                            <td Class="invention" id="map">
                                <input name="answer1" ng-model="Map.mappedData.map" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Grid</td>
                            <td Class="invention" id="grid">
                                <input name="answer1" ng-model="Map.mappedData.grid" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Parcel</td>
                            <td Class="invention" id="parcel">
                                <input name="answer1" ng-model="Map.mappedData.parcel" />
                            </td>
                        </tr>
                        <tr id="1">
                            <td style="height: 43px;" class="mapping">Parcel ID</td>
                            <td Class="invention" id="parcelId">
                                <input name="answer1" ng-model="Map.mappedData.parcelId" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form><br><br>
            <div class='text-center pull-right '>
                <button ui-sref="PropertiesData" type="button" class="btn btn-danger" style="width: 170px;">Cancel</button>
                <button ng-click="Map.completeMapping()" type="button" class="btn btn-success" style="width: 170px;">Complete Mapping</button>
            </div>
        </div>
        <div class="col-md-4   ">
            <form class="mapping-table">
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Target Data Fields</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in Map.targetFields">
                            <td class="inventor">
                                {{field}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<!--<footer class="text-center">Copyrights - 2017</footer>-->
