<style type="text/css">
    .unlinkedProps{
        width: 33.3%;
    }

    .unlink-ul li a{
        width: 100%;
    }
</style>
<header></header>
<br>
<div class="container-fluid-2">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs unlink-ul">
           
                <li class="unlinkedProps pointer-cursor" 
                     ng-class="{ active: unlinkedProperties.isActive('/unlinkedProperties/unlinked-files')}"
                     >
                     <a data-toggle="tab" ng-click="unlinkedProperties.showUnlinkedFiles()">
                        UnLinked Files
                     </a>
                </li>
                <li class="unlinkedProps pointer-cursor" 
                     ng-class="{ active: unlinkedProperties.isActive('/unlinkedProperties/corrupt-files')}"
                     >
                     <a data-toggle="tab" ng-click="unlinkedProperties.showCorruptFiles()">
                        Corrupt Files
                     </a>
                </li>
                <li class="unlinkedProps pointer-cursor" 
                     ng-class="{ active: unlinkedProperties.isActive('/unlinkedProperties/unparsed-files')}"
                     >
                     <a data-toggle="tab" ng-click="unlinkedProperties.showUnparsedFiles()">
                        UnParsed Files
                     </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <ui-view></ui-view>
                </div>         
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div id="myModalquestion" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Are you sure ? </h5>
            </div>
            <div class="modal-body text-center">
                <h4>Would you like to remove this file from AOTC ?</h4>
                <button data-dismiss="modal" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; background: #F44336; !Important">Delete</button>
                <button data-dismiss="modal" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; ">Cancel</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Link file to a property</h5>
            </div>
            <div class="modal-body">
                <h5>Search Property to link this file. </h5>
                <form id="search-form" class="form-inline" role="form" method="post" action=" " target="_blank">
                    <div class="input-group" style="width:100%;">
                        <input type="text" class="form-control search-form" placeholder="Search">
                        <span class="input-group-btn"><button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q"><i class="fa fa-search"> </i>
                                 </button></span>
                    </div>
                </form>
                <br>
                <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success pull-right" style="width:200px; background-image: linear-gradient(to bottom,#47bcff 0,#3071aa 100%); border: none !Important;"> Link to selected property  </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--<footer class="text-center footer-bottom" >Copyrights - 2017</footer>-->
