.header-btn {
    float: right;
}

.header-btn ul li {
    color: #ff4757;
    display: inline-flex;
    padding: 12px 5px 12px 5px;
    background: #fff;
}

.header-btn ul li:hover {
    color: #ff4757;
    display: inline-flex;
    padding: 12px 5px 12px 5px;
    background: #ddd;
}

.header-btn ul {
    margin: 1px 0px 0px 0px;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    line-height: 2.6;
    color: #47bcff;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
    background: #000d36;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    background: #000d36;
    margin-top: 60px;
    color: #fff;
    pad ding: 6px;
    line-height: 3;
}

.side-filters {
    padding: 0px;
    color: #fff;
    background-color: #000d36;
    border: 2px solid #47bcff;
    max-height: 650px;
    overflow: auto;
}

.sublist {
    background-color: rgba(255, 71, 87, 0.18);
    width: 100%;
    padding: 4px 10px 4px 35px;
}

.sublist-ul li label {
    width: 100%;
    padding: 0px 0px 0px 25px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.label-hed {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1px;
    font-weight: 400;
    background: #ff4757;
    text-transform: uppercase;
    width: 100%;
    padding: 4px 10px 4px 19px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 16px;
    color: #fff;
    width: 90%;
    border-bottom: 1px solid #ff4757;
    margin: 0px auto;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #000d36;
    border-bottom: 1px solid #ff4757;
}

.map-img {
    height: 100%;
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    background: #000d36;
    border: 1px solid transparent;
}

.faplus {
    float: right;
    font-size: 20px;
    display: none;
}

.filterckbox {
    float: right;
}

.metro-header a {
    display: block;
    float: left;
    text-align: center;
}

.image-pr {
    display: block;
    background: url("../img/pr.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 100px;
}

.image-lg {
    display: block;
    background: url("../img/lg.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 100px;
}

.image-we {
    display: block;
    background: url("../img/we.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 100px;
}

.image-no {
    display: block;
    background: url("../img/no.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 100px;
}

.image-de {
    display: block;
    background: url("../img/de.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 100px;
}

.image-ph {
    display: block;
    background: url("../img/ph.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 100px;
    margin: 0px auto;
}

.welcome {
    background-color: #47bcff !important;
}

.welcome a {
    color: #fff;
}

.header-btn ul li a {
    color: #326b9c;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+side-filterslabel {
    color: #f2f2f2;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: 0px;
    float: right;
    vertical-align: middle;
    background: url(../img/chck.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url(../img/chck.png) -19px top no-repeat;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    color: #f2f2f2;
    font-family: Arial, sans-serif;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../img/chck.png) -38px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background: url(../img/chck.png) -57px top no-repeat;
}

a label {
    font-weight: 500;
    color: #fff;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.search {
    position: absolute;
    top: 15%;
    left: 6%;
    background: #fff;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    pad ding: 10px;
    bo rder: 1px solid #ccc;
}

.container-brd {
    posit ion: absolute;
    bott om: 10%;
    le ft: 6%;
    backg round: #fff;
    padd ing: 7px;
}

.search .row {
    margin-right: -15px;
    margin-left: -15px;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #326b9c 0, #326b9c 100%);
    background-repeat: repeat-x;
    border-color: #326b9c;
}

.label-info {
    background-color: #ffffff;
    padding: 8px;
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 33px;
    font-weight: 200;
    border: 1px solid #ccc;
    color: #6b6b6b;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background-color: #d4d4d4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #fff;
}

.modal-header {
    min-height: 16.43px;
    padding: 9px 13px 9px 20px;
    border-bottom: 1px solid #e5e5e5;
    background: #47bcff !important;
}

.modal-footer {
    padding: 12px;
    text-align: right;
    border-top: none;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
    color: #ff4757;
    margin-left: 7px;
}

.glyphicon-remove-sign:before {
    content: "\e083";
    color: #ff4757;
}

.count {
    float: right;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ff4757;
    border-radius: 10px;
}

.dropdown-img {
    height: 12px;
    float: right;
    margin-top: 4px;
    width: 17px;
}

.testRotate:hover {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
    transition: transform .5s;
}

.fa-filter:before {
    content: "\f0b0";
    font-size: 17px;
}

#time-range p {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #fff;
}

.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #ff4757, #ff4757);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}

.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}

.ui-slider .ui-slider-handle:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}

.ui-slider a:focus {
    outline: none;
}

.slider-time,
.slider-time2 {
    background: white;
    padding: 3px;
    color: #555;
    font-size: 10px;
    border-radius: 5px;
}

.slider-timea,
.slider-time2a {
    background: white;
    padding: 3px;
    color: #555;
    font-size: 10px;
    border-radius: 5px;
}


/*
*:focus {
    outline: 0;
}
*/

a#clickme {
    width: 20px;
    height: 20px;
    background: #444;
    cursor: pointer;
    display: block;
    position: absolute;
    text-indent: -9999px;
    top: 30%;
    right: 0px;
}


/*div.mydiv{width:200px; height:200px;border:2px solid #666; position:fixed; right:-200px;     top: 20%; ri ght: 2% !important; background-color: red;}*/

#drawer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    overflow-x: hidden;
    /* Needed for initial hidden state */
}

#drawer>div {
    height: 100%;
    borde r-left: 2px solid white;
    float: left;
    overflow: auto;
}

#drawer-handle {
    width: 35px;
    background-color: #000d36;
    color: #fff;
}

.fa-backward:before {
    content: "\f04a";
    position: absolute;
    top: 45%;
    padding: 10px;
}

.fa-forward:before {
    /*con tent: "\f04 a";*/
    position: absolute;
    top: 45%;
    padding: 10px;
}


/*
#drawer-handle:after {
    content: "<";
    position: absolute;
    top: 50%;
    padding: 2px;
}
*/

#drawer-content {
    width: 800px;
    margin-right: -800px;
    /* -width */
    background-color: #fff;
}

#drawer-content>p {
    padding: 10px;
}

.navbar {
    border-radius: 0px;
}

.rotatedown {
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
    transition: transform .5s;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.rotateup {
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
    transition: transform .5s;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.angular-google-map-container {
    height: 650px;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 20%;
    }
    .col-md-9 {
        width: 79%;
    }
}

.prettyScroll::-webkit-scrollbar {
    width: 1px;
}

/ Track / .prettyScroll::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #cecece;
}

/ Handle / .prettyScroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #a4a4a4;
}


/*

*:focus {
    outline: 0 !important;
}
*/

*:active {
    outline: 0 !important;
}

#example_length {
    display: table-cell;
}

.modal-header {
    min-height: 16.43px;
    padding: 9px 13px 9px 20px;
    border-bottom: 1px solid #e5e5e5;
}

.table-head {
    background: #47bcff;
    padding: 10px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    margin: 0px 0px 0px 0px;
}


/*
 .dataTables_filter, .dataTables_wrapper .dataTables_info  {
    color: #333;
    float: left !important;
    margin-left: 20px !important;
    margin-top: 11px !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: right !important !important;
    text-align: right;
    padding-top: 0.25em;
}


.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #47bcff !important;
}*/

tfoot input {
    width: 100%;
    padding: 3px;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    font-weight: 200;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none;
    background: #007fff;
    font-weight: normal !important;
    color: #ffffff;
}

div.dt-buttons .dt-button {
    margin-right: 0;
    padding: -1px;
    margin: 3px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: inherit;
    padding: 10PX;
}

.dataTables_wrapper .ui-toolbar {
    padding: 8px;
    BACKGROUND: #ece9e1;
}

.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

a.dt-button.excelbtn span {
    background: url(../img/excel.png) no-repeat center !important;
    width: 100%;
    height: 38px;
}

.fa-file-pdf-o:before {
    content: "\f1c1";
    color: #ff0016;
    font-size: 18px;
}

.fa-file-text-o:before {
    content: "\f0f6";
    color: #ff4757;
    font-size: 18px;
}

.fa-file-excel-o:before {
    content: "\f1c3";
    color: #007100;
    font-size: 18px;
    /* width: 50px; */
}

.fa-copy:before,
.fa-files-o:before {
    content: "\f0c5";
    font-size: 18px;
    color: #ff4757;
}

.fa-print:before {
    content: "\f02f";
    font-size: 18px;
    color: #337ab7;
}

div.dt-buttons .dt-button {
    margin-right: 0;
    height: 32px;
}


/********************************************************************/


/*** PANEL DEFAULT ***/

.with-nav-tabs.panel-default .nav-tabs>li>a,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>.open>a,
.with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #555;
}


/********************************************************************/


/*** PANEL PRIMARY ***/

.with-nav-tabs.panel-primary .nav-tabs>li>a,
.with-nav-tabs.panel-primary .nav-tabs>li>a:hover,
.with-nav-tabs.panel-primary .nav-tabs>li>a:focus {
    color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs>.open>a,
.with-nav-tabs.panel-primary .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-primary .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-primary .nav-tabs>li>a:hover,
.with-nav-tabs.panel-primary .nav-tabs>li>a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs>li.active>a,
.with-nav-tabs.panel-primary .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-primary .nav-tabs>li.active>a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-primary .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-primary .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-primary .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    background-color: #4a9fe9;
}


/********************************************************************/


/*** PANEL SUCCESS ***/

.with-nav-tabs.panel-success .nav-tabs>li>a,
.with-nav-tabs.panel-success .nav-tabs>li>a:hover,
.with-nav-tabs.panel-success .nav-tabs>li>a:focus {
    color: #3c763d;
}

.with-nav-tabs.panel-success .nav-tabs>.open>a,
.with-nav-tabs.panel-success .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-success .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-success .nav-tabs>li>a:hover,
.with-nav-tabs.panel-success .nav-tabs>li>a:focus {
    color: #3c763d;
    background-color: #d6e9c6;
    border-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs>li.active>a,
.with-nav-tabs.panel-success .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-success .nav-tabs>li.active>a:focus {
    color: #3c763d;
    background-color: #fff;
    border-color: #d6e9c6;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.with-nav-tabs.panel-success .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #3c763d;
}

.with-nav-tabs.panel-success .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-success .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #d6e9c6;
}

.with-nav-tabs.panel-success .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-success .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-success .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #3c763d;
}


/********************************************************************/


/*** PANEL INFO ***/

.with-nav-tabs.panel-info .nav-tabs>li>a,
.with-nav-tabs.panel-info .nav-tabs>li>a:hover,
.with-nav-tabs.panel-info .nav-tabs>li>a:focus {
    color: #31708f;
}

.with-nav-tabs.panel-info .nav-tabs>.open>a,
.with-nav-tabs.panel-info .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-info .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-info .nav-tabs>li>a:hover,
.with-nav-tabs.panel-info .nav-tabs>li>a:focus {
    color: #31708f;
    background-color: #bce8f1;
    border-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs>li.active>a,
.with-nav-tabs.panel-info .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-info .nav-tabs>li.active>a:focus {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #31708f;
}

.with-nav-tabs.panel-info .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-info .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-info .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-info .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #31708f;
}


/********************************************************************/


/*** PANEL WARNING ***/

.with-nav-tabs.panel-warning .nav-tabs>li>a,
.with-nav-tabs.panel-warning .nav-tabs>li>a:hover,
.with-nav-tabs.panel-warning .nav-tabs>li>a:focus {
    color: #8a6d3b;
}

.with-nav-tabs.panel-warning .nav-tabs>.open>a,
.with-nav-tabs.panel-warning .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-warning .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-warning .nav-tabs>li>a:hover,
.with-nav-tabs.panel-warning .nav-tabs>li>a:focus {
    color: #8a6d3b;
    background-color: #faebcc;
    border-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs>li.active>a,
.with-nav-tabs.panel-warning .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-warning .nav-tabs>li.active>a:focus {
    color: #8a6d3b;
    background-color: #fff;
    border-color: #faebcc;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.with-nav-tabs.panel-warning .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #8a6d3b;
}

.with-nav-tabs.panel-warning .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-warning .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #faebcc;
}

.with-nav-tabs.panel-warning .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-warning .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-warning .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #8a6d3b;
}


/********************************************************************/


/*** PANEL DANGER ***/

.with-nav-tabs.panel-danger .nav-tabs>li>a,
.with-nav-tabs.panel-danger .nav-tabs>li>a:hover,
.with-nav-tabs.panel-danger .nav-tabs>li>a:focus {
    color: #a94442;
}

.with-nav-tabs.panel-danger .nav-tabs>.open>a,
.with-nav-tabs.panel-danger .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-danger .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-danger .nav-tabs>li>a:hover,
.with-nav-tabs.panel-danger .nav-tabs>li>a:focus {
    color: #a94442;
    background-color: #ebccd1;
    border-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs>li.active>a,
.with-nav-tabs.panel-danger .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-danger .nav-tabs>li.active>a:focus {
    color: #a94442;
    background-color: #fff;
    border-color: #ebccd1;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #f2dede;
    /* bg color */
    border-color: #ebccd1;
    /* border color */
}

.with-nav-tabs.panel-danger .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #a94442;
    /* normal text color */
}

.with-nav-tabs.panel-danger .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-danger .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #ebccd1;
    /* hover bg color */
}

.with-nav-tabs.panel-danger .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-danger .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-danger .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    /* active text color */
    background-color: #a94442;
    /* active bg color */
}

.up-sec {
    padding: 19px;
}

.welll {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: #e6e6e6;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
    color: #fd182c;
    margin-left: 7px;
    border: 2px solid;
    border-radius: 50%;
    padding: 2px 3px 2px 3px;
}

.welll input[type="radio"] {
    display: block;
}

.welll input[type="checkbox"] {
    display: block;
}

.space {
    height: 51px;
}

.welll label {
    color: #000d36;
}

.submit-data input[type="radio"] {
    display: block;
}

.welll .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background-color: #f3f3f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #fff;
}

#item {
    display: none;
}

ul {
    list-style: none;
}

.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}

.title {
    padding: 50px 0;
    font: 24px 'Open Sans', sans-serif;
    text-align: center;
}

.inner {
    max-wi dth: 820px;
    margin: 0 auto;
}

.breadcrumbs {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}

.breadcrumbs ul {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.breadcrumbs li {
    float: left;
    width: 14%;
    padding-bottom: 16px;
}

.breadcrumbs a {
    position: relative;
    display: block;
    padding: 20px;
    padding-right: 0 !important;
    font-size: 12px;
    /* important overrides media queries */
    font-wei ght: bold;
    text-align: center;
    color: #aaa;
    cursor: pointer;
}

.breadcrumbs a:hover {
    background: #eee;
}

.breadcrumbs a.active {
    color: #47bcff;
    background-color: transparent !important;
}

.breadcrumbs a.activee {
    color: #0fad00;
    background-color: transparent !important;
}

.breadcrumbs a.activee span:first-child {
    color: #fff;
    border-color: #0fad00;
    background-color: #0fad00;
}

.breadcrumbs a span:first-child {
    display: inline-block;
    width: 22px;
    height: 22px;
    padd ing: 2px;
    mar gin-right: 5px;
    border: 2px solid #aaa;
    border-radius: 50%;
    background-color: #fff;
}

.breadcrumbs a.active span:first-child {
    color: #fff;
    border-color: #47bcff;
    background-color: #47bcff;
}

.breadcrumbs a:before,
.breadcrumbs a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: block;
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 16px solid transparent;
}

.breadcrumbs a:before {
    margin-left: 1px;
    border-left-color: #d5d5d5;
}

.breadcrumbs a:after {
    border-left-color: #f5f5f5;
}

.breadcrumbs a:hover:after {
    border-left-color: #eee;
}

.breadcrumbs a.active:after {
    border-left-color: #fafafa;
}

.breadcrumbs li:last-child a:before,
.breadcrumbs li:last-child a:after {
    display: none;
}

@media (max-width: 720px) {
    .breadcrumbs a {
        padding: 15px;
    }
    .breadcrumbs a:before,
    .breadcrumbs a:after {
        border-top-width: 26px;
        border-bottom-width: 26px;
        border-left-width: 13px;
    }
}

@media (max-width: 620px) {
    .breadcrumbs a {
        padding: 10px;
        font-size: 12px;
    }
    .breadcrumbs a:before,
    .breadcrumbs a:after {
        border-top-width: 22px;
        border-bottom-width: 22px;
        border-left-width: 11px;
    }
}

@media (max-width: 520px) {
    .breadcrumbs a {
        padding: 5px;
    }
    .breadcrumbs a:before,
    .breadcrumbs a:after {
        border-top-width: 16px;
        border-bottom-width: 16px;
        border-left-width: 8px;
    }
    .breadcrumbs li a span:first-child {
        display: block;
        margin: 0 auto;
    }
    .breadcrumbs li a span:last-child {
        display: none;
    }
}

.ccc {
    background: #000d36;
    color: #fff;
}

.ccc:hover {
    background: #000d36;
    color: #eee;
}

.breadcrumbs ul {
    margin-bottom: -15px !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #ffe7e7;
    opacity: 1;
}

.prp-details-tabs .nav>li>a {
    width: 100% !important;
    font-weight: 400;
}

.prp-details-tabs .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.prp-details-tabs .with-nav-tabs.panel-default .nav-tabs>li.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #47bcff;
    border-color: #ddd;
    border-bottom-color: transparent;
}

.prp-details-tabs table td {
    width: 50%;
}

.appeal-status h5 {
    margin-bottom: 18px !important;
}

.appeal-status1 {
    color: #000d36;
    font-weight: bold;
}

.appeal-status2 {
    color: #ff4757;
    font-weight: bold;
}

.appeal-status {
    margin: -17px;
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
}

.prop-fixd ul li {
    display: block;
    margin-right: 0px;
    font-weight: 400;
    margin-left: 0px;
    color: #00568a;
    padding: 0px 40px 0 40px;
}

.prop-fixd ul {
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

.prop-fixd {
    border: 1px solid #ddd;
    background: #e6ebfb;
    padding: 10px;
}

.visible-heading {
    background: #e6ebfb;
    padding: 11px;
    color: #000d36;
    margin-top: -19px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.aaa td {
    padding: 2px;
    border: 1px solid black
}

.aaa td input {
    width: 100%;
}

.mapping {
    background-color: #326b9c;
    color: #fff;
}

.ui-draggable {
    z-index: 1111;
}

.agree input[type="checkbox"] {
    display: block;
}

#drop-zone {
    /*Sort of important*/
    width: 100%;
    /*Sort of important*/
    height: 200px;
    margin: 0px auto;
    background: #f5f5f5;
    border: 2px dashed rgba(0, 0, 0, .3);
    border-radius: 20px;
    font-family: Arial;
    text-align: center;
    position: relative;
    line-height: 180px;
    font-size: 20px;
    color: rgba(0, 0, 0, .3);
}

#drop-zone input {
    /*Important*/
    position: absolute;
    /*Important*/
    cursor: pointer;
    left: 0px;
    top: 0px;
    opacity: 0;
}


/*Important*/

#drop-zone.mouse-over {
    border: 2px dashed rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .5);
}

.user-reg .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #fff;
}


/* layout.css Style */

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}


/* skin.css Style*/

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.drag-filepage .panel-body {
    padding: 0px;
}

.drag-filepage .panel-primary {
    border-color: #337ab7;
    width: 96%;
    margin: 0px auto;
}

.user-reg#adv-search2 {
    width: 470px;
    margin: 0;
}

.user-reg .dropdown.dropdown-lg .dropdown-menu {
    min-width: 470px;
}

.user-reg label {
    color: #337ab7;
    font-weight: 500;
}

.user-reg .form-control {
    display: block;
    width: 500px
}

.user-reg .modal-header {
    min-height: 16.43px;
    padding: 9px 13px 9px 20px;
    border-bottom: 1px solid #e5e5e5;
    background: #337ab7!important;
}

.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.search {
    position: absolute;
    top: 1.5% !important;
    left: 13% !important;
    background: #fff;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    pad ding: 10px;
    bo rder: 1px solid #ccc;
}

.success {
    color: #ffffff;
    background-color: #6dd66b;
    position: fixed;
    top: 10px;
    padding: 28px;
    right: 30px;
    width: 290px;
    text-align: center;
    font-size: 17px;
    z-index: 11111;
    display: none;
}

.btn-user {
    background: #47bcff;
    border: none;
    font-weight: 200 !important;
    color: #fff;
    font-size: 14px;
}

.sent-invite .btn-user {
    background: #47bcff;
    border: none;
    font-weight: 200 !important;
    color: #fff;
    width: 139px;
    font-size: 14px;
}

.btn-user:hover,
.btn-user:focus,
.btn-user.focus {
    margin-right: 20px;
    color: #eee !important;
}

.drop-file .js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.drop-file button,
.drop-file input {
    line-height: normal;
}

.drop-file button,
.drop-file input,
.drop-file select,
.drop-file textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.drop-file inputfile-1+label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.drop-file .inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

svg:not(:root) {
    overflow: hidden;
}

.inputfile-1+label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.drop-file .inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.parsefile .radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-top: 4px \9;
    display: block;
    margin-left: -20px;
}

.parsefile label {
    color: #333333;
    font-weight: 400;
}

.panel input[type="file"] {
    dis play: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.panel-primary {
    border-color: #dddddd;
}

.parsefile .radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-top: 4px \9;
    display: block;
    MARGIN: -t;
    margin-left: -20px;
    margin-top: 3px;
}

.invite tr td:nth-child(3) {
    text-align: center;
}

.invite tr th:nth-child(3) {
    text-align: center;
}

.text-successs {
    color: #77A801;
}

.text-primaryy {
    color: #EA9401;
}


.header-signup {
    background-color: #000d36;
    background-position: center center;
    bord er-bottom: 7px solid #47bcff;
}


.sign-up .panel-body {
    padding: 15px;
    
/*
    background: rgba(0, 13, 56, 0.77);
    color: white;
*/
}


.sign-up .panel-default {
    border-color: #000d36;
}
.sign-up .panel {
    background-color: rgba(255, 255, 255, 0.62);
}

.sign-up .panel {

    
/*    background-color: rgba(71, 188, 255, 0.29);*/
    
}


.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#000d36 0,#000d36 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#000d36),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#000d36 0,#000d36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}


.signup-heading {        color: #000d36;
    font-weight: 400;
    font-size: 16px;
}




.signup-heading label {
    color: #000d36;
}



.aaa {    background: #47bcff;
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 32px;
    line-height: 13px;
    color: #fff;
    vertical-align: middle;
    font-size: 16px;
    height: 32px;
    border-radius: 80%; }




.header-signup label {color: red !important;}

















