<link rel="stylesheet" type="text/css" href="modules/TaskManager/task-manager.css">
<header></header>
<div class="row" ng-controller="TaskManagerCtrl">
    <br>
    <div class="col-md-12">
        <div class="panel panel-primary IE_RR">
            <div class="panel-heading">
                <h5> <i class="fa fa-tasks" aria-hidden="true"></i>
                <strong>   Task Manager </strong>
                <a class="pull-right btn-prop-details"  ng-click="gotoPrivateProps()">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    Upload More Files
                </a>
            </h5></div>
            <div class="panel-body drop-file">
                <div class="row ">
                    <div class="col-md-12 submit-data">
                        <div cl ass="welll">
                            <table class="table table-bordered tab le-condensed" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>File Type</th>
                                        <th>Uploaded On</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="task in tasks">
                                    <!-- 
                                    ng-class-odd="'odd'" 
                                    ng-class="{Processed: (task.success == true), Failed:(task.isProcessed==true && task.success == false ), inprogress:(task.inProgress == true)}" 
                                -->
                                    <tr class="uploaded" ng-class-odd="'odd'"  ng-class="{
                                                Processed: (task.success == true), 
                                                Failed:(task.isProcessed==true && task.success == false ), 
                                                inprogress:(task.inProgress == true),
                                                oldProps: getDayDifference(task) }">
                                        <td>
                                          
                                                {{task.fileName}}
                                        </td>
                                        <td ng-if="task.type=='Properties'">
                                                {{task.type+" Data File"}}
                                        </td>
                                        <td ng-if="task.type!='Properties'">
                                            {{task.type}}
                                        </td>
                                        <td>
                                                {{task.uploadTime | date: 'M/d/yy h:mm a'}}
                                        </td>
                                        <td>
                                                {{task.message}}
                                        </td>
                                        <td>
                                            <button ng-if="task.isProcessed==true && task.success == true " class="btn-prop-detail-grid" style="width: 70px;" type="button" ng-click=" gotoProperties(task)">
                                                <i class="fa fa-eye" aria-hidden="true"></i> View</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
