.drop-file ul {
    list-style: none;
}

.drop-file li {
    position: relative;
}

.drop-file li:before {
    position: absolute;
    top: -2px;
    margin: 8px 0 0 -12px;
    vertical-align: middle;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #ccc;
    content: "";
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.8;
}

.odd {
    background-color: #e8edff;
}

.even {
    background-color: #ffffff;
}

.rowbackground {
    color: white;
    background-color: #ff7600;
}


.Processed {
    color: white;
    background-color: #92e13b;

}

.uploaded {
    color: gray;
}
.Failed {
    color: white;
    background-color: #ff9800;

}
.inprogress {
     color: white;
    background-color: #3be4ff;
}

.oldProps {
    color: white;
    background-color: gray;
}
.btn-disable {
    background:gray;
    color: #fff;
    font-size: 12px !important;
    font-weight: 400;
    padding: 6px;
    border: none !important;
    text-align: center;
    border-radius: 4px;
    width: 30%;
}
.dropdown-menu{

}