<link rel="stylesheet" type="text/css" href="modules/ContractModule/SavedContractList/saved-contract-list.css">
<header style="margin-bottom: 1%"></header>
<div>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                            <strong>
                                <i style="color: white;" class="glyphicon glyphicon-list" aria-hidden="true"></i>
                                Notifications
                            </strong>
                        </h4>
                        <!-- <h4 class="panel-title pull-right" style="padding-top: 7px;">
                            <a   ui-sref="Survey" class="btn btn-primary pull-right" style=" margin-top: -6px;"> <i class="fa fa-plus" aria-hidden="true"></i> Add Survey</a>
                         </h4>
                        -->
                        <div class="input-group pull-right" style="width: 200px;margin-right: 38px;top: 1px;">
                            <input type="text" ng-model="searchText" class="form-control input-borders" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i style="color: white;" class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!--<ul class="list-group">
                            <li class="list-group-item" ng-repeat="data in contractList | filter: {name: searchText}">
                                <label>{{data.name}}</label>
                                <div class="pull-right">
                                    <a tooltip-placement="left" uib-tooltip="View Invoices" style="cursor: pointer; margin-left: 20px;" ng-click="viewInvoices(data)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>-->
                        <div id="myGridContracts" class="ag-bootstrap"></div>
                        <!--<div id="myGridContracts" ag-grid="gridOptions" class="ag-bootstrap" style="height: 100%;"></div>-->
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>
                                    Total Count <span class="label label-info">{{contractList.length}}</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<footer style="margin-top: 40px;" class="text-center">Copyrights - 2017</footer>-->