 .nav-tabs>li {
     float: left;
     margin-bottom: -1px;
     width: 50%;
 }
 
 .with-nav-tabs.panel-default .nav-tabs>li>a,
 .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
 .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
     color: #fff;
 }
 
 .nav>li>a {
     position: relative;
     display: block;
     /* padding: 11px; */
     color: #fff;
     width: 100%;
     border-bottom: none;
     margin: 0px auto;
 }
 
 .panel.with-nav-tabs .panel-heading {
     padding: 0px 0px 0px 0px;
 }
 
 .with-nav-tabs.panel-default .nav-tabs>li.active>a,
 .with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
 .with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
     color: #555;
     background-color: #fff;
     border-color: #fff;
     border-bottom-color: transparent;
 }
 
 .with-nav-tabs.panel-default .nav-tabs>.open>a,
 .with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
 .with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
 .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
 .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
     color: #fff;
     background-color: #000d36;
     border-color: transparent;
 }
 
 .container-fluid-2 {
     width: 92%;
     margin: 0px auto;
 }
 
 .panel-body {
     padding: 15px;
     overflow: auto;
 }
 
 body {
     overflow-x: hidden;
 }
 
 .tableheightproblem {
     position: relative;
     vertical-align: sub !important;
     margin-top: 40px;
     line-height: 46px !important;
 }
 
 .input-fields-nopad {
     padding: 0px !Important;
     vertical-align: middle !important;
 }
 
 #tableone tr td {
     vertical-align: middle!important;
 }
 
 .footer-btns {
     width: 300px;
 }

 /*@media only screen and (max-width: 1295px) {*/
     /*.footer-btns {*/
         /*width: 50%;*/
     /*}*/
 /*}*/

 /*@media only screen and (max-width: 1040px) {*/
     /*.footer-btns {*/
         /*width: 60%;*/
     /*}*/
 /*}*/

 /*@media only screen and (max-width: 870px) {*/
     /*.footer-btns {*/
         /*width: 80%;*/
     /*}*/
 /*}*/


.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #4285f4;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px !important;
    z-index: 10;
   display: none;
    
}

.dropdown ul.dropdown-menu:after {
   display: none;
}