<link rel="stylesheet" href="modules/ContractModule/components/sample-calculations/sample-calculations.component.css">
<div class="container">
    <div class="col-md-12 control-padding" ng-show="IsViewMode">
        <div class="col-md-10">
            <fieldset>
                <div class="some-class">
                    <input ng-model="feeType" ng-disabled="lockFee=='two'" ng-change="selectFeeType('one')" type="radio" class="radio" value="one" id="fixed" />
                    <label class="fee-type" ng-style="lockFee =='two' && styleSet" for="fixed"><span><span></span></span>Fixed Fee</label>
                    <input ng-model="feeType" ng-disabled="lockFee=='one'" ng-change="selectFeeType('two')" type="radio" class="radio" value="two" id="fixed1" />
                    <label class="fee-type" ng-style="lockFee =='one' && styleSet" for="fixed1"><span><span></span></span>Fixed Fee Per Property</label>
                    <input ng-model="feeType" ng-disabled="lockFee=='one'" ng-change="selectFeeType(feeType!=one &&'three')" type="radio" class="radio" value="three" id="fixed2" />
                    <label class="fee-type" ng-style="lockFee =='one' && styleSet" for="fixed2"><span><span></span></span>Client Contengency Fee</label>
                    <input ng-model="feeType" ng-disabled="lockFee=='one'" ng-change="selectFeeType(feeType!=one &&'four')" type="radio" class="radio" value="four" id="fixed3" />
                    <label class="fee-type" ng-style="lockFee =='one' && styleSet" for="fixed3"><span><span></span></span>Fixed Fee Per Property && Client Contengency Fee</label>
                </div>
            </fieldset>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="ResetDatSet()">Reset</button>
        </div>
    </div>
    <div class="col-md-8 control-padding" ng-show="IsViewMode">
        <div ng-if="feeType==='three'" ng-include="'modules/ContractModule/components/sample-calculations/clientContengency.html'"></div>
        <div ng-if="feeType==='one'" ng-include="'modules/ContractModule/components/sample-calculations/fixedFee.html'"></div>
        <div ng-if="feeType==='two'" ng-include="'modules/ContractModule/components/sample-calculations/fixedFeeProperty.html'"></div>
        <div ng-if="feeType==='four'" ng-include="'modules/ContractModule/components/sample-calculations/both.html'"></div>

        <div class="try control-padding" ng-show="getPropertyList">
            <a class="btn btn-default btn-bottom" ng-click="calculateSampleData()" type="button">Calculate Fee</a>
        </div>
    </div>

    <div class="col-md-4  " ng-show="IsViewMode">

        <div class="pricing_header header-level">
            <h2>Property Details
            </h2>
            <div class="space"></div>
        </div>
        <div ng-show="getPropertyList">
            <div class="list-group-item">
                <div class="checkbox checkboxChange" style="left: 25px;" ng-click="selectAllProperties()">
                    <input id="checkbox_id" type="checkbox" ng-model="selectAll"><label for="checkbox_id"> Select All</label>
                </div>
            </div>
            <ul class="list-group level-column property-height">
                <span  ng-repeat="data in getPropertyList">
                    <li class="list-group-item" ng-show="!data.disabled">
                        <div class="checkbox checkboxChange" style="left: 25px;" ng-click="selectSepicific(data)">
                            <input type="checkbox" ng-model="data.check"><label>{{data.propertyName}} </label>
                        </div>
                    </li>
                    <li class="list-group-item fieldDisabled" ng-show="data.disabled">
                        <div class="checkbox checkboxChange fieldDisabled" style="left: 25px">
                            <input class="fieldDisabled" ng-disabled="true" type="checkbox" ng-model="data.check"><span class="span-cal">{{data.propertyName}}</span>
                        </div>
                    </li>
                </span>
            </ul>
        </div>
        <div class="list-group level-column property-height" ng-show="!getPropertyList">
            <div class="alert alert-warning">
                <strong>No Property Selected!</strong>
            </div>
        </div>
    </div>

    <br>
    <br><br><br>
    <div class="col-md-12 control-padding">
        <div class="panel panel-primary filterable">

            
                <div class="pricing_header">
                    <h2>Sample Fee Calculations</h2>
                    <div class="space"></div>
                </div>
                <div ng-if="calaculatedData.length==0" style="text-align: center;background-color: #ececec;padding: 10px;color: #9e9e9e;"><p>Please select properties to view</p></div>
            <div ng-if="calaculatedData.length>0">
                <div class="table-control" style="padding-top:0px">
                    <div style="padding: 10px;">
                        <label class=" est-label" style="padding: 0px;margin: 0px;line-height: 0px;vertical-align: middle;">Estimated</label>
                        <span class="fa fa-bars fa-2x" style="vertical-align: middle;margin-left: 7px;"></span>
                    </div>
                    <table class="table set-table" ng-if="feeType!='one'" style="padding-top:0px;border-top: 1px solid gainsboro;"> 
                        <thead ng-show="calaculatedData.length>0 && !fixedFeeData">
                            <tr class="filters">
                                <th class="table-column">Revalue Year</th>
                                <th class="table-column">Prop Name</th>
                                <th class="table-column">New Assessor Value</th>
                                <th class="table-column">Post Appeal Value (Target) </th>
                                <th class="table-column">Post Appeal Value (Level 1) </th>
                                <th class="table-column">Post Appeal Value (Level 2) </th>
                                <th class="table-column">Target Value to Final Value </th>
                                <th class="table-column">Appeal Merit </th>
                                <th class="table-column">Assessment Ratio</th>
                                <th class="table-column">Value Reduction (Level 1) </th>
                                <th class="table-column">Value Reduction (Level 2) </th>
                                <th class="table-column">Value Reduction (Total) </th>
                                <th class="table-column">Fixed Fee </th>
                                <th class="table-column">Tax Rate </th>
                                <th class="table-column">Fee $ </th>
                                <th class="table-column">Fee % (weighted avg)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in calaculatedData" ng-show="IsViewMode && !fixedFeeData">
                                <span>
                                    <td class="values-calculate">2018</td>
                                    <td class="values-calculate">{{data.propertyName}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est'}">{{data.assessment.newAssessorValue[0]  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppealValue[1]=='est'}">{{data.assessment.postAppealValue[0]  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppeal1[1]=='est'}">{{data.assessment.postAppeal1[0]  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppeal2[1]=='est'}">{{data.assessment.postAppeal2[0]  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.targetToFinal[1]=='est'}">{{data.assessment.targetToFinal[0]}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.appealMerit[1]=='est'}">{{data.assessment.appealMerit[0]}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.assessmentRatio[1]=='est'}">{{data.assessment.assessmentRatio[0]}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est' || data.assessment.postAppeal1[1]=='est'}">{{data.assessment.valueReduction1  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppeal1[1]=='est'|| data.assessment.postAppeal2[1]=='est'}">{{data.assessment.valueReduction2  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est'|| data.assessment.postAppeal2[1]=='est' }">{{data.assessment.valueReduction  | currency}}</td>
                                    <td class="values-calculate">{{data.assessment.fixedRate  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est': data.assessment.taxRate[1]=='est'}">{{data.assessment.taxRate[0]}}%</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est'|| data.assessment.postAppeal2[1]=='est' || data.assessment.taxRate[1]=='est'}">{{data.assessment.fee | currency }}</td>
                                    <td class="values-calculate">{{data.assessment.feePercent*100 | number: 2}}%</td>
                                </span>
                            </tr>
                            <tr ng-repeat="data in calaculatedData" ng-show="!IsViewMode && !fixedFeeData">
                                <span>
                                    <td class="values-calculate">2018</td>
                                    <td class="values-calculate">{{data.propertyName}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est'}">{{data.assessment.newAssessorValue[0] | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppealValue[1]=='est'}">{{data.assessment.postAppealValue[0] | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppeal1[1]=='est'}">{{data.assessment.postAppeal1[0] | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppeal2[1]=='est'}">{{data.assessment.postAppeal2[0] | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.targetToFinal[1]=='est'}">{{data.assessment.targetToFinal[0] }}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.appealMerit[1]=='est'}">{{data.assessment.appealMerit[0] }}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.assessmentRatio[1]=='est'}">{{data.assessment.assessmentRatio[0] }}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est' || data.assessment.postAppeal1[1]=='est'}">{{data.assessment.valueReduction1 | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.postAppeal1[1]=='est'|| data.assessment.postAppeal2[1]=='est'}">{{data.assessment.valueReduction2 | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est'|| data.assessment.postAppeal2[1]=='est' }">{{data.assessment.valueReduction | currency}}</td>
                                    <td class="values-calculate">{{data.assessment.fixedRate  | currency}}</td>
                                    <td class="values-calculate" ng-class="{'est': data.assessment.taxRate[1]=='est'}">{{data.assessment.taxRate[0]}}%</td>
                                    <td class="values-calculate" ng-class="{'est':data.assessment.newAssessorValue[1]=='est'|| data.assessment.postAppeal2[1]=='est' || data.assessment.taxRate[1]=='est'}">{{data.assessment.fee | currency }}</td>
                                    <td class="values-calculate">va{{data.assessment.feePercent*100 | number: 2}}%</td>
                                </span>
                            </tr>
                            <tr ng-show="totalAmount>0">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>{{totalAmount | currency}}</td>
                                <td>{{(totalAmount/(totaltaxSaving)*100) | number: 2}}%</td>
                            </tr>


                        </tbody>
                    </table>
                    <!--<span class="pull-right" ng-show="calaculatedData.length>0 && !fixedFeeData">-->
                    <!--<label  class=" pull-right">Total Fee: {{totalAmount | number: 2}}</label>-->
                    <!--<label class="pull-right" style="    margin-right: 8px;">Total Fee % : </label>-->
                    <!--</span>-->
                    <table class="table set-table" ng-if="feeType=='one' || fixedFeeData" style="padding-top:0px;border-top: 1px solid gainsboro;">
                        <thead>
                            <tr class="filters">
                                <th>No. of Properties</th>
                                <th>Total Fees</th>
                            </tr>
                        </thead>
                        <tbody ng-show="getPropertyList.length ">
                        <td class="values-calculate">{{getPropertyList.length}}</td>
                        <td class="values-calculate">${{totalFee}}</td>
                        </tbody>
                        <tbody ng-show="fixedFeeData">

                        <td class="values-calculate">{{fixedFeeData.propertyId.length}}</td>
                        <td class="values-calculate">${{fixedFeeData.fee}}</td>
                        </tbody>
                    </table>
                    <!--<button ng-click="openContractModel()" ng-disabled="content.length < 0" type="button" class="btn btn-primary pull-right" style="width: 120px; margin-top: 10px">Save Contract</button>-->
                </div>
            </div>

        </div>

    </div>
</div>
