<link rel="stylesheet" type="text/css" href="modules/PropertyModule/IE_RR_Module/View_IE_RR/tabs/propertyDetails/propertyDetails.css">

<div class="row">
  <div class="col-md-12">
    <h1 class="col-md-6 address-header-h1">
      <span class="address-header1">{{PublicPropertyDetailsTab.propertyDetails.propertyName}}</span>
      <span class="address-header2">{{PublicPropertyDetailsTab.propertyDetails.county}}</span>
      <span class="address-header2">{{PublicPropertyDetailsTab.propertyDetails.city}}, {{PublicPropertyDetailsTab.propertyDetails.countryState}}</span>
    </h1>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="container-fluid map-div">
      <!-- End Carousel -->
      <ui-gmap-google-map class="aaaa" center="map.center" zoom="map.zoom">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
  <div class="col-md-5" id="mapPropDetails">
    <div class="card" id="propCard">
      <div class="row front
              " style="border:1px solid #ccc; padding:4px;">
        <h4 style="margin-left:16px; margin-right: 3%;">
          Public Property Info
          <!-- <small>{{PublicPropertyDetailsTab.propertyDetails.formattedAddress}}</small> -->
          <label ng-if="PublicPropertyDetailsTab.publicProperty != null" class="pull-right" ng-click="PublicPropertyDetailsTab.flipFront('#propCard')"
            style="cursor: pointer;">Show Public Information</label>
        </h4>
        <br>
        <div class="col-md-12 prp-details-ul">
          <ul class="card-list">
            <li>
              <b>Tax Account Number: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.taxAccountNo)">{{PublicPropertyDetailsTab.propertyDetails.taxAccountNo}}</span>
            </li>
            <li>
              <b>Property Name: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.propertyName)">{{PublicPropertyDetailsTab.propertyDetails.propertyName}}</span>
            </li>
            <li>
              <b>Owner Name: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.recordOwnerName)">{{PublicPropertyDetailsTab.propertyDetails.recordOwnerName}}</span>
            </li>
            <li>
              <b>Address: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.streetName)">{{PublicPropertyDetailsTab.propertyDetails.streetName}}</span>
            </li>
            <li>
              <b>Zip: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.zip)">{{PublicPropertyDetailsTab.propertyDetails.zip}}</span>
            </li>
            <li>
              <b>County Name: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.countyName)">{{PublicPropertyDetailsTab.propertyDetails.countyName}}</span>
            </li>
            <li>
              <b>Street Number: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.streetNumber)">{{PublicPropertyDetailsTab.propertyDetails.streetNumber}}</span>
            </li>
            <li>
              <b>Value Per Square Feet: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.valuePerSqFt)"> {{PublicPropertyDetailsTab.propertyDetails.valuePerSqFt}}</span>
            </li>
            <li>
              <b>Building Area: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.buildingArea)">{{PublicPropertyDetailsTab.propertyDetails.buildingArea}}</span>
            </li>
            <li>
              <b>Transfer Date: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.transferDate)">{{PublicPropertyDetailsTab.propertyDetails.transferDate}}</span>
            </li>
            <li>
              <b>Year Built: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.yearBuilt)">{{PublicPropertyDetailsTab.propertyDetails.yearBuilt}}</span>
            </li>
            <li>
              <b>District Number: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.districtNumber)">{{PublicPropertyDetailsTab.propertyDetails.districtNumber}}</span>
            </li>
            <li>
              <b>Owner State: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.ownerState)">{{PublicPropertyDetailsTab.propertyDetails.ownerState}}</span>
            </li>
            <li>
              <b>Street Name: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.streetName)">{{PublicPropertyDetailsTab.propertyDetails.streetName}}</span>
            </li>
            <li>
              <b>Water Front: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.waterFront)">{{PublicPropertyDetailsTab.propertyDetails.waterFront}}</span>
            </li>
            <li>
              <b>Property Type: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.propertyType)">{{PublicPropertyDetailsTab.propertyDetails.propertyType}}</span>
            </li>
            <li>
              <b>Total Value: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.totalValue)">{{PublicPropertyDetailsTab.propertyDetails.totalValue}}</span>
            </li>
            <li>
              <b>Condition: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.condition)">{{PublicPropertyDetailsTab.propertyDetails.condition}}</span>
            </li>
            <li>
              <b>Transfer Year: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.transferYear)">{{PublicPropertyDetailsTab.propertyDetails.transferYear}}</span>
            </li>
            <li>
              <b>Owner Address: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.ownerAddress)">{{PublicPropertyDetailsTab.propertyDetails.ownerAddress}}</span>
            </li>
            <li>
              <b>Street Name Comparables: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.streetNameComparables)">{{PublicPropertyDetailsTab.propertyDetails.streetNameComparables}}</span>
            </li>
            <li>
              <b>Condition: </b>
              <span class="pull-right" ng-bind="isArray(PublicPropertyDetailsTab.propertyDetails.condition)">{{PublicPropertyDetailsTab.propertyDetails.condition}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>