<link rel="stylesheet" type="text/css" href="modules/PropertyModule/property-list/tabs/pri-property-list/property-list.css">
<div class="">
    <div class="row">
        <div class="col-md-12">

                <div class="topPanel">
                    <!--  <h5 style="margin: auto;padding: 14px;">
                        <strong>{{PropertyListCtrl.headingLabel}}</strong> -->
                    <!-- ng-hide="PropertyListCtrl.hideButtons"  -->
                    <a has-permission="uploadProperties" class="pull-right btn-prop-details" ng-hide="PropertyListCtrl.hideButtons" ui-sref="multipleUploadIERR"><i class="fa fa-upload" aria-hidden="true"></i> Upload Bulk Files
                        </a>
                    <!-- ng-hide="PropertyListCtrl.hideButtons" -->
                    <span class="pull-right" ng-hide="PropertyListCtrl.hideButtons" style="cursor:pointer; font-size:small; margin-top: 2px; margin-left: 11px; color: white;">|</span>
                    <a has-permission="uploadProperties" class="pull-right btn-prop-details" ui-sref="PropertiesData">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload Properties
                    </a>
                    <!-- </h5> -->
                </div>
                <div class="panel-body drop-file" style="padding: 0px !important;">
                    <div class="user-reg">
                        <div class="row">
                            <div class="legends" ng-if="!PropertyListCtrl.hideButtons">
                                <!-- ng-show="PropertyListCtrl.showDeleteButton == true"  -->
                                <div id="" class="pull-left">
                                    <button data-toggle="modal" ng-disabled="PropertyListCtrl.showDeleteButton == false" data-target="#myModalquestion" ng-click="PropertyListCtrl.deletePropAlert()" class="btn btn-info pull-right abv-buttons" data-tooltip="tooltip" data-placement="right" style="background: #F44336" title="Delete property" data-original-title="Delete property">
                                        <i class="fa fa-trash fa-lg"></i></button>


                                        <button has-permission="createContract" ng-disabled="PropertyListCtrl.showContractButton == false" ng-click="createContract()" class="btn btn-info pull-right abv-buttons" data-tooltip="tooltip" data-placement="right" style="background: #5b9bd5" title="Contract" data-original-title="Property contract">
                                        <i class="fa fa-file-text-o fa-lg"></i></button>

                                </div>
                                <!-- ng-show="PropertyListCtrl.showMultiPartAccount == true"  -->
                                <div id="" class="pull-left" has-permission="masterSlave">
                                    <button data-toggle="modal" ng-disabled="PropertyListCtrl.showMultiPartAccount == false" data-target="#myModalquestion" class="btn btn-info pull-right abv-buttons" ng-click="PropertyListCtrl.multiPartAlert()" data-tooltip="tooltip" data-placement="right" title="Multi-Part" style="background: #ff9800" data-original-title="Multi-Part">
                                        <i class="fa fa-window-restore fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <button data-toggle="modal" ng-disabled="PropertyListCtrl.showMultiPartAccount == false" data-target="#myModalquestion" class="btn btn-info pull-right abv-buttons" ng-click="PropertyListCtrl.multiAccountAlert()" data-toggle="tooltip" data-tooltip="tooltip" data-placement="right" title="Multi-Account" style="background: #3f51b5" data-original-title="Multi-Account">
                                        <i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12 up-sec parsefile" style="height: 550px; padding: 0px !important;">
                                <div id="pri-preloader">
                                    <div id="status"> <img src="assets/img/preloader.gif" height="64" width="64" alt=""> </div>
                                </div>
                                <div id="myGrid" class="ag-blue" style="height: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <div id="myModalquestion" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: #ffffff; color: #555;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title text-left" style="color:#fff;"> <img height="35" src="assets/img/error.png" > {{PropertyListCtrl.modelMessage.title}}</h5>
                </div>
                <div class="modal-body" style="padding: 0px !important;">
                    <div class="js-upload-finished text-left">
                        <h5> {{PropertyListCtrl.modelMessage.message}}</h5>
                    </div>
                    <button data-dismiss="modal" type="button" class="btn btn-danger  pull-right" style="margin: 12px; z-index:111; ">No</button>
                    <button data-dismiss="modal" type="button" ng-click="PropertyListCtrl.modalYesAction()" class="btn btn-success  pull-right" style="margin: 12px; z-index:111; ">Yes</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
