li{
  margin: 0 !important;
}
label{
  margin: 0 0 5px !important;
}
i{
  margin: 0 5px;
}
/******************* portfolio area ****************/
.port-sub {
  text-align: left;
}
.page-heading{
  position: relative;
  margin: 0 0 1px !important;
  background: #f4f7ff;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);
}
.page-title{
  color: #00568a;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin:12px 0 0;
  vertical-align: unset;
}
.header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}
.blue-button{
  min-width: 60px;
  background: #2f71ab;
  color: #ffffff;
  border: 1px solid #2f71ab;
  height: 25px;
  margin: 0 0 0 10px;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  vertical-align:text-bottom;
  cursor: pointer;
}
.blue-button i{
  margin: 0 0 0 5px;
}
/************************** filter area ************************/
.filter-sub{
  text-align: right;
}
.head-filters{
  text-align: right;
}
.head-filters li{
  display: inline-block;
  margin: 0 20px 0 0 !important;
}
.head-filters .filter-btn {
  background: transparent;
  border: none;
}
.filter-btn i {
  margin: 0 5px;
}
.fa.fa-caret-down, .fa.fa-caret-up {
  vertical-align: middle;
}
.ad-search {
  margin: 0 10px 0 0 !important;
}
.ad-filter {
  margin: 0 !important;
}
.ad-filter button{
  color:#355095;
  font-weight: 600;
}
.green-color {
  color: #05c60b;
}
.yellow-color {
  color: #d5b000;
}
.orange-color{
  color: #ff8100;
}

/******************search***************/
.address-search {
  height: 30px;
  width: 130px;
  font-size: 14px;
}
.adsearch-icon {
  position: absolute;
  top: 11px;
  right: 5px;
  color: #cccccc;
}
.ad-search, .ad-appeal, .ad-property, .ad-jurisdiction, .jur-search {
  position: relative;
}
.head-filters {
  padding: 0;
}
/******************* jurisdiction dropdown ****************** */
.jurisdiction-dropdown {
  position: absolute;
  background: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  z-index: 9999;
  width: 200px;
  height: 200px;
  right: 0;
  overflow: auto;
  top: 30px;
}
.juris-icon {
  position: absolute;
  right: 13px;
  top: 22px;
  color: #cccccc;
}
.jurisd-check li{
  display: block;
  padding:3px 2px !important;
  margin: 0 !important;
  border-radius: 2px;
}
.jurisd-check li:last-child{
  margin: 0 !important;
}
.jurisd-check label {
  float: left;
  width: 100%;
  margin: 0;
  text-align: left;
}
.jurisd-check input {
  float: right;
  margin: 5px 0 0 0;
}
.jurisd-check {
  margin: 15px 0 0;
}
.cart-dropdown {
  position: absolute;
  right: 6px;
  top: 15px;
  color: #ffffff;
  font-size: 22px;
}
.jurisd-check li:hover {
  background: #f5f5f5;
}
.jurisdiction-dropdown h3 i{
  margin: 0 5px;
}
/******************* appeal dropdown ****************** */
.appeal-check{
  margin-top: 10px;
}
.appeal-check li {
  display: block;
  width: 100%;
  text-align: left;
  padding:3px 2px !important;
  margin: 0 !important;
  border-radius: 2px;
}
.appeal-check li:hover {
  background: #f5f5f5;
}
.appeal-check li:last-child {
  margin: 0 !important;
}
.jurisdiction-dropdown h3 {
  font-size: 16px;
  text-align: left;
  color:#355095;
  font-weight: 600;
}
.appeal-check li input{
  margin-right: 5px;
  vertical-align: middle;
}
.appeal-dropdown{
  width: 282px;
  height: 220px;
  border: 1px solid #e6e6e6;
}
/***************************property dropdown***************/
.property-dropdown{
  width:400px;
  height: 245px;
  border: 1px solid #e6e6e6;
}
.property-filter label{
  text-align: left;
  display: block;
}
.property-ad label{
  text-align: left;
  display: block;
}
.property-ad{
  width: 45%;
  margin: 10px 10px 10px 0;
  float: left;
}
.juris-icon-two{
  position: absolute;
  right: 12px;
  top: 42px;
  color: #cccccc;
}
.juris-icon-five{
  position: absolute;
  left: 156px;
  top: 191px;
  color: #cccccc;
}
.juris-icon-six{
  position: absolute;
  right: 14px;
  top:191px;
  color: #cccccc;
}
.property-ad select {
  padding: 0 5px !important;
  cursor: pointer;
}
.select-dropdown {
  position: absolute;
  right: 1px;
  top: 30px;
}
/************************* show filter ********************/
.header-col{
  width: 25% !important;
}

.show-filter-wrap {
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-top:1px solid #dddddd;
  margin: 0;
  background: #f4f7ff;
}
.filter-show h2 {
  font-size: 16px;
  color: #355095;
  text-align: left;
  display: inline-block;
  float: left;
}
.filter-show h2 span {
  color: #858585;
  font-weight: normal;
  margin:3px 0 0 30px;
  float: right;
  font-size: 12px;
}
.close-filter{
  text-align: right;
  float: right;
  color: #d03031;
  font-weight: 600;
}
.close-filter i{
  margin: 0 5px 0 0;
  color: #d03031;
  font-weight: normal;
}

/********************************** new row ******************************/
.advance-filter{
  margin: 10px 0 ;
}
.col-one, .col-two, .col-three {
  text-align: left;
  border-right: 1px solid #dddddd;
}
.col-four{
  text-align: left;
}
.advance-filter label{
  display: block;
}
.advance-filter select, .advance-filter input {
  display: block;
  width: 100%;
  margin:10px 0 !important;
  border-radius: 2px;
}
.select-one, .select-half{
  position: relative;
}
.select-icon-one {
  position: absolute;
  right: 4px;
  top: 40px;
}
select{
  margin: 0 !important;
}
ul.jurisd-check input[type="checkbox"] {
  float: right;
}
input[type="checkbox"] {
  display: block;
  float: left;
}
.select-icon-two {
  position: absolute;
  right: 4px;
  top: 68px;
}
.advance-filter select{
 padding: 0 5px !important;
  background: #ffffff !important;
  cursor: pointer;
}
input[type='text'] {
  padding: 5px 22px 5px 5px;
  height: 36px;
}
.property-owner li {
  display: inline-block;
  width: 30%;
}
.property-owner li input[type='radio'] {
  margin: 5px 10px 0 0 !important;
  float: left;
  text-align: left;
  width: 13px !important;
}
.property-owner {
  margin: 10px 0 0;
  padding: 0;
}
.select-half{
  width: 45%;
  float: left;
  margin-right: 5%;
}
.select-half:last-child{
  width: 50%;
  float: left;
  margin-right:0;
}
.select-half input{
  width: 45%;
  float: left;

}
.appeal-new input {
  float: left;
  text-align: left;
  display: block;
  width: 13px !important;
  margin: 5px 10px 10px 0 !important;
}
.search-field-one{
  position: relative;
}
.city-search{
  position: relative;
}
.advance-search {
  position: absolute;
  right: 5px;
  top: 41px;
  color: #cccccc;
}
.advance-city{
  position: absolute;
  right: 4px;
  top: 41px;
  color: #cccccc;
}
.port-sub {
  padding: 5px 0 0;
}
ul.appeal-check.appeal-new {
  padding: 0;
}


    @media (max-width: 1200px) {

      .head-filters li{
        display: inline-block;
        margin: 0 !important;
      }
      .filter-show {
        padding: 0 15px;
      }
      .jurisd-check li {
        display: block !important;
      }
      .head-filters .filter-btn{
        padding: 0;
      }
    }

    @media (max-width: 1023px ) {
      .port-sub {
        padding: 0;
        width: 100%;
        display: block;
      }

      .filter-sub {
        padding: 0;
        width: 100%;
        display: block;
      }

      .adsearch-icon {
        top: 18px;
      }

      .property-owner li {
        display: block;
        width: 100%;
      }

      .select-half {
        width: 100%;
        margin-right: 0;
      }

      .select-half:last-child {
        width: 100%;
        float: left;
        margin-right: 0;
      }

      .col-one, .col-two, .col-three {
        border: none;
        border-bottom: 1px solid #dddddd !important;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }

      .show-filter-wrap {
        padding: 10px 0;
      }

      input[type='text'] {
        font-size: 14px;
      }

      .page-title {
        font-size: 14px;
      }

      .blue-button {
        font-size: 13px;
      }
      .adsearch-icon{
        top: 11px !important;
      }
      .head-filters .filter-btn{
        padding: 0;
        font-size: 12px;
      }
      .header-col{
        float: left;
      }
      .select-icon-two {
        top: 104px;
      }
      .head-filters li {
        margin: 0 5px 0 !important;
      }
    }
    @media (max-width: 930px) {
      .head-filters li {
        display: inline-block;
        margin: 0 20px 10px !important;
      }
      .filter-btn i{
        margin: 0 3px;
      }
      .blue-button{
        margin: 0;
        font-size: 12px;

      }
      .page-title{
        font-size: 12px;
      }


    }
    @media (max-width: 767px){
      .show-filter-wrap{
        top:145px;
      }
      .head-filters{
        text-align: left;
      }
      .head-filters li{
        margin: 14px 48px 0 0 !important;
      }
      .head-filters .filter-btn{
        padding: 0;
        font-size: 14px;
      }
      .page-title{
        font-size: 14px;
      }
      .blue-button{
        margin: 0;
        font-size: 14px;
      }

      .jurisdiction-dropdown{
        left: 0;
      }
      ul.jurisd-check li {
        margin: 0 !important;
        display: block;
      }
      .appeal-dropdown {
        left: -110px !important;
        width: 237px !important;
      }
      .property-dropdown{
        left: -170px;
        width: 300px;
      }
      .juris-icon-five{
        left: 115px;
      }
      .header-col{
        width: 100% !important;
      }
    }
    @media (max-width: 650px){
      .head-filters li{
        margin: 14px 11px 0 0 !important;
      }
    }
    @media (max-width: 479px){
      .head-filters{
        text-align: left;
      }
      .head-filters li{
        margin: 14px 15px 0 !important;
      }
      .head-filters .filter-btn{
        padding: 0;
      }
    }
    @media (max-width: 374px){

      .property-dropdown{
        left: 0;
      }
    }





select {
  padding: 0 !important;
}

