li, label{
    margin: 0 !important;
  }
  /******************* portfolio area ****************/
  .port-sub {
    text-align: left;
  }
  .page-heading{
    position: relative;
    margin: 0 0 20px !important;
    background: #f4f7ff;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
  }
  .page-title{
    color: #00568a;
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    vertical-align: unset;
  }
  .header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  .blue-button{
    min-width: 60px;
    background: #2f71ab;
    color: #ffffff;
    border: 1px solid #2f71ab;
    height: 25px;
    margin: 0 0 0 10px;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    vertical-align:text-bottom;
    cursor: pointer;
  }
  .blue-button i{
    margin: 0 0 0 5px;
  }
  /************************** filter area ************************/
  .filter-sub{
    text-align: right;
  }
  .head-filters{
    text-align: right;
  }
  .head-filters li{
    display: inline-block;
    margin: 0 20px 0 0 !important;
  }
  .head-filters .filter-btn {
    background: transparent;
    border: none;
  }
  .filter-btn i {
    margin: 0 0 0 5px;
    vertical-align: middle;
  }
  .ad-search {
    margin: 0 10px 0 0 !important;
  }
  .ad-filter {
    margin: 0 !important;
  }
  .ad-filter button{
    color:#355095;
    font-weight: 600;
  }

  /******************search***************/
  .address-search {
    height: 30px;
    width: 130px;
    font-size: 14px;
  }
  .adsearch-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #cccccc;
  }
  .ad-search, .ad-appeal, .ad-property, .ad-jurisdiction, .jur-search {
    position: relative;
  }
  /******************* jurisdiction dropdown ****************** */
  .jurisdiction-dropdown {
    position: absolute;
    background: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    z-index: 9999;
    width: 200px;
    height: 200px;
    right: 0;
    overflow: auto;
    top: 20px;
  }
  .juris-icon {
    position: absolute;
    right: 17px;
    top: 21px;
    color: #cccccc;
  }
  .jurisd-check li{
    display: block;
    padding:3px 2px !important;
    margin: 0 !important;
    border-radius: 2px;
  }
  .jurisd-check li:last-child{
    margin: 0 !important;
  }
  .jurisd-check label {
    float: left;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  .jurisd-check input {
    float: right;
    margin: 5px 0 0 0;
  }
  .jurisd-check {
    margin: 15px 0 0;
    padding: 0;
  }
  .cart-dropdown {
    position: absolute;
    right: 6px;
    top: 9px;
    color: #ffffff;
    font-size: 22px;
  }
  .jurisd-check li:hover {
    background: #f5f5f5;
  }
  /******************* appeal dropdown ****************** */
  .appeal-check{
    margin-top: 10px;
    padding: 0;
  }
  .appeal-check li {
    display: block;
    width: 100%;
    text-align: left;
    padding:3px 2px !important;
    margin: 0 !important;
    border-radius: 2px;
  }
  .appeal-check li:hover {
    background: #f5f5f5;
  }
  .appeal-check li:last-child {
    margin: 0 !important;
  }
  .jurisdiction-dropdown h3 {
    font-size: 16px;
    text-align: left;
    color:#355095;
    font-weight: 600;
  }
  .appeal-check li input{
    margin-right: 5px;
    vertical-align: middle;
  }
  .appeal-dropdown{
    width: 282px;
    height: 220px;
  }
  /***************************property dropdown***************/
  .property-dropdown{
    width:400px;
    height: 245px;
  }
  .property-filter label{
   text-align: left;
    display: block;
  }
  .property-ad label{
    text-align: left;
    display: block;
  }
  .property-ad{
    width: 45%;
    margin: 10px 10px 10px 0;
    float: left;
  }
  .juris-icon-two{
    position: absolute;
    right: 20px;
    top: 37px;
    color: #cccccc;
  }
  .juris-icon-five{
    position: absolute;
    left: 160px;
    top: 163px;
    color: #cccccc;
  }
  .juris-icon-six{
    position: absolute;
    right: 16px;
    top: 163px;
    color: #cccccc;
  }
  /************************* show filter ********************/
  .show-filter-wrap {
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-top:1px solid #dddddd;
    margin: 15px 0 0;
  }
  .filter-show h2 {
    font-size: 16px;
    color: #355095;
    text-align: left;
    display: inline-block;
    float: left;
  }
  .filter-show h2 span {
    color: #858585;
    font-weight: normal;
    margin:3px 0 0 30px;
    float: right;
    font-size: 12px;
  }
  .close-filter{
    text-align: right;
    float: right;
    color: #d03031;
    font-weight: 600;
  }
  .close-filter i{
    margin: 0 5px 0 0;
    color: #d03031;
    font-weight: normal;
  }

  /********************************** new row ******************************/
  .advance-filter{
    margin: 10px 0 ;
  }
  .col-one, .col-two, .col-three {
    text-align: left;
    border-right: 1px solid #dddddd;
  }
  .col-four{
    text-align: left;
  }
  .advance-filter label{
    display: block;
  }
  .advance-filter select, .advance-filter input {
    display: block;
    width: 100%;
    margin:10px 0;
  }
  input[type='text'] {
    padding: 5px 22px 5px 5px;
    font-size: 12px;
    height: 27px;
  }
  .property-owner li {
    display: inline-block;
    width: 30%;
  }
  .property-owner li input[type='radio'] {
    margin: 5px 10px 0 0 !important;
    float: left;
    text-align: left;
    width: 13px !important;
  }
  .property-owner {
    margin: 10px 0 0;
  }
  .select-half{
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .select-half:last-child{
    width: 50%;
    float: left;
    margin-right:0;
  }
  .select-half input{
    width: 45%;
    float: left;

  }
  .appeal-new input {
    float: left;
    text-align: left;
    display: block;
    width: 13px !important;
    margin: 5px 10px 10px 0 !important;
  }
  .search-field-one{
    position: relative;
  }
  .city-search{
    position: relative;
  }
  .advance-search {
    position: absolute;
    right: 21px;
    top: 44px;
    color: #cccccc;
  }
  .advance-city{
    position: absolute;
    right: 21px;
    top: 203px;
    color: #cccccc;
  }

  @media (max-width: 1200px) {

    .head-filters li{
      display: inline-block;
      margin: 0 !important;
    }
    .filter-show {
      padding: 0 15px;
    }
    .jurisd-check li {
      display: block !important;
    }
  }
  @media (max-width: 1023px ) {
    .show-filter-wrap{
      top: 67px;
    }
    .port-sub{
      padding: 0;
      width: 100%;
      display: block;
    }
    .filter-sub{
      padding: 0;
      width: 100%;
      display: block;
    }
    .ad-search .address-search {
      margin: 10px 0 0;
    }
    .adsearch-icon{
      top: 18px;
    }
    .property-owner li{
                       display: block;
      width: 100%;
    }
    .select-half{
      width: 100%;
      margin-right: 0;
    }
    .select-half:last-child {
      width: 100%;
      float: left;
      margin-right: 0;
    }
    .advance-city{
      top: 277px;
    }
    .col-one, .col-two, .col-three{
      border: none;
      border-bottom: 1px solid #dddddd !important;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .show-filter-wrap{
      padding: 10px 0;
    }
    input[type='text']{
      font-size: 14px;
    }
    @media (max-width: 965px) {
      .show-filter-wrap{
        top: 90px;
      }
    }

  }
  @media (max-width: 767px){
          .show-filter-wrap{
            top:145px;
          }
          .head-filters{
            text-align: left;
          }
    .head-filters li{
      display: inline-block;
      margin: 14px 68px 0 0 !important;
    }
    .jurisdiction-dropdown{
      left: 0;
    }
    ul.jurisd-check li {
      margin: 0 !important;
      display: block;
    }
    .appeal-dropdown {
      left: -110px !important;
      width: 237px !important;
    }
    .property-dropdown{
      left: -170px;
      width: 300px;
    }
    .juris-icon-five{
      left: 115px;
    }
  }
  @media (max-width: 650px){
    .show-filter-wrap{
      top: 144px;
    }
    .head-filters li{
      margin: 14px 30px 0 0 !important;
    }
    /*ul.jurisd-check li {*/
      /*margin: 0 !important;*/
      /*display: block;*/
    /*}*/
    /*.appeal-dropdown {*/
      /*left: -110px !important;*/
      /*width: 237px !important;*/
    /*}*/
  }
  @media (max-width: 479px){
    .head-filters{
      text-align: left;
    }
    .show-filter-wrap{
      top: 144px;
    }
    .head-filters li{
      margin: 14px 0 0 !important;
    }
  }
  @media (max-width: 374px){
    .show-filter-wrap{
      top: 181px;
    }
    .head-filters li{
      margin: 14px 15px 0 0 !important;
    }
    .property-dropdown{
      left: 0;
    }
  }





  select {
    padding: 0 !important;
  }

  .filter-btn:hover + .appeal-wrap {
    display: block !important;
  }

  .filter-btn:hover + .property {
    display: block !important;
  }

  .filter-btn:hover + .jurisdict {
    display: block !important;
  }

  .appeal-wrap:hover, .property:hover, .jurisdict:hover{
    display: block !important;
  }

input[type=checkbox] {
  display: inline-block
}

select {
  margin: 0;
  -webkit-appearance: menulist-button;
  -moz-appearance:  menulist-button;
  appearance:  menulist-button;

}