<link rel="stylesheet" type="text/css" href="modules/PropertyModule/taxAppeal/components/header/header.css">

<form>
    <div class="row page-heading clearfix">
    <div class="port-sub col-md-4 col-sm-12">
      <h3 class="page-title">Sub-portfolio</h3>
      <!--<button ng-click="" class="blue-button">Send Invite<i class="fa fa-caret-down"></i></button>-->
    </div>
    <div class="col-md-8 col-sm-12 filter-sub">
       
      <ul class="head-filters">
          <li  ng-show="filters.length>0" ng-click="propertyFilter.show==true ? propertyFilter.show=false : propertyFilter.show=true">
              <label class="Filter-expand" style="background: #36589b; color: #fff;" ng-show="propertyFilter.show==true">
                  <i class="fa fa-filter" aria-hidden="true"></i> Hide Filters   <span class="filter-bubble">{{filters.length}}</span>
              </label>
              <label class="Filter-expand" style="background: #36589b; color: #fff;" ng-show="propertyFilter.show==false">
                  <i class="fa fa-filter" aria-hidden="true"></i> Show Filters   <span class="filter-bubble">{{filters.length}}</span>
              </label>

          </li>

        <li class="ad-jurisdiction">
          <button type="button" class="filter-btn"><i class="fa fa-gavel" style="margin-left: 0"></i>Jurisdiction: All<i class="fa fa-caret-down"></i></button>
          <div class="wrap-dropdown jurisdict" style="display:none">
            <i class="fa fa-caret-up cart-dropdown"></i>
            <div class="jurisdiction-dropdown" >
              <!-- <input type="text" class="form-control jur-search"> -->
              <!-- <i class="fa fa-search juris-icon"></i> -->
              <h3 style="margin: 0;"><i class="fa fa-gavel" style="margin-left: 0"></i>Jurisdiction</h3>
              <ul class="jurisd-check">
                <li class="clearfix" ng-repeat="data in search.jurisdictions">
                  <label >{{data.name}} <input ng-model="data.value" ng-change="selectFiltersJ(data)" type="checkbox"></label>
                </li>
              </ul>
  
            </div>
          </div>
        </li>
  
        <!-- <li class="ad-appeal" >
          <button type="button" class="filter-btn"><i class="fa fa-bar-chart" style="margin-left: 0"></i>Appeal status: All<i class="fa fa-caret-down"></i></button>
          <div class="appeal-wrap" style="display:none">
            <i class="fa fa-caret-up cart-dropdown"></i>
            <div class="jurisdiction-dropdown appeal-dropdown">
              <h3 style="margin: 0px;"><i class="fa fa-bar-chart" style="margin-left: 0"></i>Appeal Status</h3>
              <ul class="appeal-check">
                <li class="clearfix">
                  <label> <input ng-model="appealStatus.ns"  type="checkbox"> Not started </label>
                </li>
                <li class="clearfix">
                  <label> <input ng-model="appealStatus.ip" type="checkbox">In-progress </label>
                </li>
                <li class="clearfix">
                  <label> <input ng-model="appealStatus.don" type="checkbox">Done </label>
                </li>
                <!-- <li class="clearfix">
                  <label> <input type="checkbox">Properties apporching deadline</label>
                </li>
                <li class="clearfix">
                  <label> <input type="checkbox">Properties having deadline in between</label>
                </li> -->
              <!-- </ul> -->
  
            <!-- </div>
          </div>
        </li> --> 
        <li class="ad-property">
          <button type="button" class="filter-btn"><i class="fa fa-building-o" style="margin-left: 0"></i>Property: All<i class="fa fa-caret-down"></i></button>
          <div class="wrap-dropdown property" style="display:none">
            <i class="fa fa-caret-up cart-dropdown"></i>

            <div class="jurisdiction-dropdown property-dropdown clearfix">
              <div class="property-filter clearfix">
                <h3 style="margin: 0;"><i class="fa fa-building-o" style="margin-left: 0"></i>Property</h3>
                <div class="property-area" style="padding: 10px">

                  <label style="font-size: 13px; font-weight: 600">Search by Property Name</label>
                  <input ng-change="selectFilters(propertyFilter.name,2)" ng-model="propertyFilter.name" type="text" class="form-control jur-search" placeholder="Property Name">

                  <i class="fa fa-search juris-icon-two"></i>

                <div class="property-ad clearfix">
                  <div class="select-one">
                    <label style=" font-size: 13px; font-weight: 600">Search by Address</label>
                    <input ng-change="selectFilters(propertyFilter.add,3)" ng-model="propertyFilter.add" type="text" class="form-control jur-search" placeholder="Address">

                    <i class="fa fa-search juris-icon-two search-three"></i>
                  </div>
                </div>
                <div class="property-ad clearfix" style="float: left; margin: 10px 0; width: 45%">
                  <div class="select-one">

                    <label style=" font-size: 13px; font-weight: 600">Search by Zip Code</label>
                    <i class="fa fa-caret-down select-dropdown"></i>
                    <select class="form-control" ng-model="propertyFilter.zipCode" ng-change="selectFilters(propertyFilter.zipCode,4)">
                        <option  selected="true"   value="None">Select Zip Code</option>
                      <option ng-repeat="data in search.zipCode">{{data.zipCode}}</option>
                     
                    </select>
                  </div>
                </div>
                <div class="property-ad clearfix owner-feild" style="float: right; margin: 10px 0; width: 45%">

                  <label style=" font-size: 13px; font-weight: 600">Search by Owner{{data.ownerName}}</label>

                  <i class="fa fa-caret-down select-dropdown"></i>
                  <select  class="form-control" ng-model="propertyFilter.owner" ng-change="selectFilters(propertyFilter.owner,5)">
                    <option  selected="true"   value="None">Select Owner Name</option>
                    <option ng-repeat="data in search.owner">{{data.ownerName}}</option>
                  </select>
                </div>
              </div>
              </div>
              <!-- <div class="property-ad clearfix" style="float: right; margin: 10px 0;">
                <label>Search by name</label>
                <input type="text" class="form-control jur-search" placeholder="4200">
                <i class="fa fa-search juris-icon-six"></i>
              </div> -->
            </div>
          </div>
        </li>
        <li class="ad-appeal" >
          <button type="button" class="filter-btn"><i class="fa fa-bar-chart" style="margin-left: 0"></i>Appeal status: All<i class="fa fa-caret-down"></i></button>
          <div class="appeal-wrap" style="display:none">
            <i class="fa fa-caret-up cart-dropdown"></i>
            <div class="jurisdiction-dropdown appeal-dropdown">
              <h3 style="margin: 0;"><i class="fa fa-bar-chart" style="margin-left: 0"></i>Appeal Status</h3>
              <ul class="appeal-check">
                  <li class="clearfix">
                    <label> <input ng-disabled="true" ng-model="appealStatus.ns"  type="checkbox"> Not started </label>
                  </li>
                  <li class="clearfix">
                    <label> <input ng-disabled="true"  ng-model="appealStatus.ip" type="checkbox">In-progress </label>
                  </li>
                  <li class="clearfix">
                    <label> <input ng-disabled="true"  ng-model="appealStatus.don" type="checkbox">Done </label>
                  </li>
                  <!-- <li class="clearfix">
                    <label> <input type="checkbox">Properties apporching deadline</label>
                  </li>
                  <li class="clearfix">
                    <label> <input type="checkbox">Properties having deadline in between</label>
                  </li> -->
                </ul>

            </div>
          </div>
        </li>
        <!-- <li class="ad-search">
          <input type="text" class="form-control address-search" placeholder="Address">
          <i class="fa fa-search adsearch-icon"></i>
        </li> -->
        <!-- <li class="ad-filter" >
          <button   type="button" class="filter-btn">Show advance filter</button>
          <button style="display: none" type="button" class="filter-btn">Hide advance filter</button>
        </li> -->
      </ul>
    </div>
    </div>

    <!--Filter Tags Start-->
    <div class="row">
    <div class="col-md-12 filter-tags" ng-show="filters.length>0 && propertyFilter.show==true">
        <!--Tags Start-->
      <span class="tag" ng-repeat="data in filters">{{data.data}} <i ng-click="removeFilter($index,data)" class="fa fa-times" aria-hidden="true"></i></span>
      



        <!--Tags End-->

        <!--Clear all Start-->
        <span class="clear" ng-click="clearAll()">Clear all filters </span>
        <!--Clear all End-->

        <!--Hide Filters Start-->
        <!--<span class="hide-filters"> Hide filters <i class="fa fa-toggle-up"></i> </span>-->
        <!--Hide Filters End-->
    </div>
    </div>
    <!--Filter Tags End-->


    <div class="show-filter-wrap" style="display: none">
    <div class="filter-show clearfix">
      <h2>Advance Filter <span>(Filter will be applied to all properties)</span></h2>
      <span class="close-filter"><i class="fa fa-times-circle-o"></i>Clear all filters</span>
    </div>
    <div class="row advance-filter clearfix">
      <div class="col-md-3 header-col col-one">
        <div class="select-one">
          <label>Lorem Ipsum</label>
          <i class="fa fa-caret-down select-icon-one"></i>
          <select class="form-control">
            <option>Lorem Ipsum 1</option>
            <option >Lorem Ipsum 2</option>
            <option>Lorem Ipsum 3</option>
            <option>Lorem Ipsum 4</option>
          </select>
        </div>
        <div class="select-one">
          <label>Lorem Ipsum</label>
          <i class="fa fa-caret-down select-icon-one"></i>
          <select class="form-control">
            <option>Lorem Ipsum 1</option>
            <option >Lorem Ipsum 2</option>
            <option>Lorem Ipsum 3</option>
            <option>Lorem Ipsum 4</option>
          </select>
        </div>
        <div class="select-one">
          <label>Lorem Ipsum</label>
          <i class="fa fa-caret-down select-icon-one"></i>
          <select class="form-control">
            <option>Lorem Ipsum 1</option>
            <option >Lorem Ipsum 2</option>
            <option>Lorem Ipsum 3</option>
            <option>Lorem Ipsum 4</option>
          </select>
        </div>

      </div>
      <div class="col-md-3 header-col col-two clearfix">
        <div class="select-one">
          <label>Lorem Ipsum</label>
          <input  type="text" class="form-control search-field-one" placeholder="Search property by name">
          <i class="fa fa-search advance-search"></i>
        </div>
        <div class="select-one">
          <label>Lorem Ipsum</label>
          <ul class="property-owner">
            <li class="clearfix">
              <label><input type="radio" > All</label>
            </li>
            <li class="clearfix">
              <label><input type="radio"> Agent</label>
            </li>
            <li class="clearfix">
              <label><input type="radio"> Owner</label>
            </li>
          </ul>
          <i class="fa fa-caret-down select-icon-two"></i>
          <select class="form-control">
            <option>Lorem Ipsum 1</option>
            <option >Lorem Ipsum 2</option>
            <option>Lorem Ipsum 3</option>
            <option>Lorem Ipsum 4</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 header-col col-three clearfix">
        <div class="select-one">
          <label>Lorem Ipsum</label>
          <input type="text"  class="form-control search-field-one" placeholder="Search property by name">
          <i class="fa fa-search advance-search"></i>
        </div>
        <div class="city-area clearfix">
          <div class="select-half">
            <label>Lorem Ipsum</label>
            <i class="fa fa-caret-down select-icon-one"></i>
            <select class="form-control">
              <option>Lorem Ipsum 1</option>
              <option >Lorem Ipsum 2</option>
              <option>Lorem Ipsum 3</option>
              <option>Lorem Ipsum 4</option>
            </select>
          </div>
          <div class="select-half">
            <label>Lorem Ipsum</label>
            <i class="fa fa-caret-down select-icon-one"></i>
            <select class="form-control">
              <option>Lorem Ipsum 1</option>
              <option >Lorem Ipsum 2</option>
              <option>Lorem Ipsum 3</option>
              <option>Lorem Ipsum 4</option>
            </select>
          </div>
        </div>
        <div class="select-one">
          <label>Lorem Ipsum</label>
          <input type="text" class="form-control city-search" placeholder="Search property by name">
          <i class="fa fa-search advance-city"></i>
        </div>
      </div>

      <div class="col-md-3 header-col col-four">
        <ul class="appeal-check appeal-new">
          <li class="clearfix">
            <label> <input type="checkbox">Properties with not started status</label>
          </li>
          <li class="clearfix">
            <label> <input type="checkbox">Properties with  in-progress status</label>
          </li>
          <li class="clearfix">
            <label> <input type="checkbox">Properties with done status</label>
          </li>
          <li class="clearfix">
            <label> <input type="checkbox">Properties apporching deadline</label>
          </li>
          <li class="clearfix">
            <label> <input type="checkbox">Properties having deadline in between</label>
          </li>
        </ul>
      </div>
    </div>
  </div>

</form>
  