<link rel="stylesheet" href="/modules/SurveyModule/FillSurvey/fill-survey.css">
<header></header>
<div class="container-fluid" style="margin-left: -100px;margin-right: 10%">
    <div>
        <div class="col-md-12 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a href="" style="    padding: 25px;">
                            <strong> <i class="fa fa-file-text-o" aria-hidden="true"></i></strong>
                            <span>Survey Form</span>
                            <span style="padding-left: 30%;">Survey Name: {{viewQuestions.surveyName}}</span>
                        </a>
                    </h4>
                </div>
                <div class="panel-body" style="padding-bottom: 20px;padding-right: 10px;">
                    <h5></h5>
                    <p></p>
                    <div class="demo AJ-form">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a>Survey Details</a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group" style="    margin-top: 1%;">
                                                <form name="infoForm" id="infoForm" ng-submit="saveSurveySubmission()" novalidate>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label for="Interviewer">Interviewer:</label>
                                                            <input ng-required="true" ng-model="intervieweeInformation.interviewer" type="text" class="form-control" id="interviewer" name="interviewer">
                                                            <span class="error-req"
                                                                  ng-show="(infoForm.$submitted && infoForm.interviewer.$invalid) || (infoForm.interviewer.$invalid && infoForm.interviewer.$dirty)">
                                                                <span autofocus="true">This is required</span>
                                                            </span>
                                                        </div>
                                                        <div class="form-group  col-md-6">
                                                            <label for="Interviewee">Interviewee:</label>
                                                            <input required ng-model="intervieweeInformation.interviewee" type="text" class="form-control" id="Interviewee" name="Interviewee">
                                                            <span class="error-req"
                                                                  ng-show="(infoForm.$submitted && infoForm.Interviewee.$invalid) || (infoForm.Interviewee.$invalid && infoForm.Interviewee.$dirty)">
                                                                This is required
                                                            </span>
                                                        </div>
                                                        <div class="form-group  col-md-6">
                                                            <label for="Phone">Phone Number Called:</label>
                                                            <input ng-required="true" phone-input ng-model="intervieweeInformation.phoneNumberCalled" type="text" class="form-control" id="phone" name="phone">
                                                            <span class="error-req"
                                                                  ng-show="(infoForm.$submitted && infoForm.phone.$invalid) || (infoForm.phone.$invalid && infoForm.phone.$dirty)">
                                                                This is required
                                                            </span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="Tax">Tax Assessor Main Website:</label>
                                                            <input required ng-model="intervieweeInformation.taxAssessorMainWebsite" type="text" class="form-control" id="Tax" name="Tax">
                                                            <span class="error-req"
                                                                  ng-show="(infoForm.$submitted && infoForm.Tax.$invalid) || (infoForm.Tax.$invalid && infoForm.Tax.$dirty)">
                                                                This is required
                                                            </span>
                                                            <!-- <span ng-show="info-form.url.$error.url">enter a valid url</span> -->
                                                        </div>
                                                        <div class="form-group  col-md-6">
                                                            <label for="State">State:</label><br>
                                                            <div required auto-close="outsideClick" class="btn-group" uib-dropdown dropdown-append-to-body>
                                                                <button required class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;background: #ffffff;color: black;border-radius: 4px;width: 100%;" type="button" data-toggle="dropdown" uib-dropdown-toggle>
                                                                    {{intervieweeInformation.state ? intervieweeInformation.state :'Select State'}}
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul id="menu" required class="dropdown-menu container-fluid" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body" style="width: 150px">
                                                                    <li role="menuitem">
                                                                        <input type="text" class="form-control" placeholder="Search" ng-model="searchText" name="">
                                                                    </li>
                                                                    <li style="background-color: #8190ad;" ng-repeat="state in states | filter : {States: searchText}">
                                                                        <a ng-click="dropDownClose(intervieweeInformation,state.States)">{{state.States}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <span class="error-req"
                                                                  ng-show="(infoForm.$submitted && infoForm.State.$invalid) || (infoForm.State.$invalid && infoForm.State.$dirty)">
                                                                This is required
                                                            </span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="Assessing">Assessing Jurisdiction:</label>
                                                            <input required ng-model="intervieweeInformation.assessingJurisdiction" type="text" class="form-control" id="Assessing" name="Assessing">
                                                            <span class="error-req"
                                                                  ng-show="(infoForm.$submitted && infoForm.Assessing.$invalid) || (infoForm.Assessing.$invalid && infoForm.Assessing.$dirty)">
                                                                This is required
                                                            </span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group  col-md-6">
                                                                <label for="Interviewee">Email:</label>
                                                                <input required ng-model="intervieweeInformation.email" type="email" class="form-control" id="email" name="email">
                                                                <span class="error-req"
                                                                      ng-show="(infoForm.$submitted && infoForm.email.$error.required) || (infoForm.email.$error.required && infoForm.email.$dirty)">
                                                                    This is required
                                                                </span>
                                                                <span class="error-req"
                                                                      ng-show="(infoForm.$submitted && infoForm.email.$error.email) || (infoForm.email.$error.email && infoForm.email.$dirty)">
                                                                    Invalid Email
                                                                </span>
                                                            </div>
                                                            <div class="form-group  col-md-6">
                                                                <label for="Interviewee">Date Called:</label>
                                                                <p class="input-group">
                                                                    <input readonly style="cursor: pointer;" required type="text" class="form-control" id="dateCalled" name="dateCalled"
                                                                           ng-model="intervieweeInformation.dateCalled" ng-click="opened = !opened"
                                                                           uib-datepicker-popup="{{dateFormat}}" show-button-bar="false"
                                                                           is-open="opened" datepicker-options="availableDateOptions" />
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="opened = !opened">
                                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </p>
                                                                <span class="error-req"
                                                                      ng-show="(infoForm.$submitted && infoForm.dateCalled.$error.required) || (infoForm.dateCalled.$error.required && infoForm.dateCalled.$dirty)">
                                                                    This is required
                                                                </span>
                                                                <span class="error-req"
                                                                      ng-show="(infoForm.$submitted && infoForm.dateCalled.$error.date) || (infoForm.dateCalled.$error.dateCalled && infoForm.dateCalled.$dirty)">
                                                                    Invalid Date
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group  col-md-6">
                                                                <label for="Office">Interviewee Office Address:</label>
                                                                <input required ng-model="intervieweeInformation.intervieweeOfficeAddress" type="text" class="form-control" id="Office" name="Office">
                                                                <span class="error-req"
                                                                      ng-show="(infoForm.$submitted && infoForm.Office.$invalid) || (infoForm.Office.$invalid && infoForm.Office.$dirty)">
                                                                    This is required
                                                                </span>
                                                            </div>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </span>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="form in viewQuestions.sections">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a>{{form.name}}</a>
                                    </h4>
                                </div>
                                <div class="panel-body" ng-repeat="question in form.questions track by $index">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div>
                                                    <div class="form-group" style="    margin-top: 1%;">
                                                        <label><strong>Question: </strong>{{question.questionText}} </label>
                                                    </div>
                                                    <div>
                                                        <!-- {{value.options | json}} -->
                                                        <div class="panel-options" ng-repeat="data in question.options  track by $index"
                                                             ng-init="data.answer={value:'' , inputValue:'' , state:false , options:[] };">
                                                            <div class="options-panel" ng-if="data.id==0">
                                                                <input type="{{data.type}}" ng-model="data.answer.value">
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==1">
                                                                <input type="radio" ng-click="setActive(data, question.options)" ng-checked="data.answer.state">
                                                                <span ng-click="setActive(data, question.options)" class="dropdown-label">{{data.radioLabel}}</span>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==2">
                                                                <label ng-value="data.answer.state" class="checkbox-label" style="width: 300px;">
                                                                    <input style=" margin-right: 2%;" type="checkbox" ng-model="data.answer.state">
                                                                    {{data.checkboxLabel}}
                                                                </label>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==3">
                                                                <input type="radio" ng-click="setActive(data, question.options)" ng-checked="data.answer.state">
                                                                <span ng-click="setActive(data, question.options)" class="options-label checkbox-width">{{data.radioLabel}}</span>
                                                                <input style="margin-left:3%" type="{{data.type}}" ng-model="data.answer.value">
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==4">
                                                                <input type="radio" ng-click="setActive(data, question.options)" ng-checked="data.answer.state">
                                                                <span ng-click="setActive(data, question.options)" class="options-label" style="margin-left: 2%">{{data.radioLabel1}}</span>
                                                                <input type="{{data.type}}" ng-model="data.answer.value">
                                                                <span style="margin-left: 1%;font-weight: 700">{{data.radioLabel2}}</span>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==5">
                                                                <input type="radio" ng-click="setActive(data, question.options)" ng-checked="data.answer.state">
                                                                <span ng-click="setActive(data, question.options)" class="dropdown-label">{{data.radioLabel}}</span>
                                                                <span class="btn-drop">
                                                                    <span class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;" type="button" data-toggle="dropdown">
                                                                            <span ng-if="data.answer.value">{{data.answer.value}}</span>
                                                                            <span ng-if="!data.answer.value">Select Options</span>
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li ng-repeat="opt in data.dropDownOptions"><a ng-click="data.answer.value=opt.value">{{opt.value}}</a></li>
                                                                        </ul>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==6">
                                                                <label class="checkbox-label" ng-value="data.answer.state">
                                                                    <input type="checkbox" ng-model="data.answer.state">
                                                                    <span class="dropdown-label">{{data.checkboxLabel}}</span>
                                                                    <span class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;" type="button" data-toggle="dropdown">
                                                                            <span ng-if="data.answer.value">{{data.answer.value}}</span>
                                                                            <span ng-if="!data.answer.value">Select Options</span>
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li ng-repeat="opt in data.dropDownOptions"><a ng-click="data.answer.value=opt.value">{{opt.value}}</a></li>
                                                                        </ul>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==7">
                                                                <div class="row">
                                                                    <div class="pull-left">
                                                                        {{data.label}}
                                                                    </div>
                                                                    <div class="pull-left" style="margin-left: 25px;">
                                                                        <p class="input-group" style="width: 200px;">
                                                                            <input readonly style="cursor: pointer;" type="text" class="form-control" ng-model="data.answer.value"
                                                                                   uib-datepicker-popup="{{dateFormat}}" show-button-bar="false" ng-click="data.opened = !data.opened"
                                                                                   ng-init="data.opened" is-open="data.opened" datepicker-options="availableDateOptions" />
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default" ng-click="data.opened = !data.opened">
                                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                                </button>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==8">
                                                                <span style="font-weight: 700">Calendar Count:</span> <br><input type="number" ng-init="numberOfFields = 0"
                                                                                                                                 ng-change="addCalenderFields(numberOfFields, data.answer.options)" ng-model="numberOfFields" />
                                                                <div ng-repeat="cal in  data.answer.options" ng-init="cal.opened=false; cal.value='';" style="padding-top: 10px">
                                                                    <span style="font-weight: 700">Enter Date</span>
                                                                    <p class="input-group" style="width: 200px;">
                                                                        <input readonly style="cursor: pointer;" type="text" class="form-control"
                                                                               uib-datepicker-popup="{{dateFormat}}" ng-click="cal.opened =! cal.opened"
                                                                               ng-model="cal.value" show-button-bar="false"
                                                                               is-open="cal.opened" datepicker-options="availableDateOptions" />
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default"
                                                                                    ng-click="cal.opened =! cal.opened">
                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==9">
                                                                <div class="row">
                                                                    <div class="checkbox checkboxChange">
                                                                        <div style="padding-right: 1%;">
                                                                        </div>
                                                                        <div style="padding: 0">
                                                                            <div class="form-group">
                                                                                <span style="font-weight: 700; float: left;max-width: 80%;">{{data.label}}</span>
                                                                                <span class="col-md-3">
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel1">
                                                                                    <span style="font-weight: 700;" class="options-label2">
                                                                                        {{data.radioLabel1}}
                                                                                    </span><br>
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel2">
                                                                                    <span style="font-weight: 700;" class="options-label2">
                                                                                        {{data.radioLabel2}}
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==10">
                                                                <div class="row">
                                                                    <div class="checkbox checkboxChange">
                                                                        <span style="padding: 0">
                                                                            <div class="form-group">
                                                                                <span style="font-weight: 700;float:left;">{{data.label1}}</span>
                                                                                <input style="float:left;" type="text" ng-model="data.answer.inputValue">
                                                                                <span style="float:left;font-weight: 700;">{{data.label2}}</span>
                                                                                <span class="col-lg-3">
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel1">
                                                                                    <span style="font-weight: 700;" class="options-label2">{{data.radioLabel1}}</span><br>
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel2">
                                                                                    <span style="font-weight: 700;" class="options-label2">{{data.radioLabel2}}</span>
                                                                                </span>
                                                                            </div>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--  <div >
                                                       <div class="options-panel">
                                                          <input   type="text">
                                                       </div>
                                                       </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a style="margin-right: 14px;min-width: 146px;" class="btn btn-primary" ui-sref="SurveyList">
                            Back
                        </a>
                        <button form="infoForm" type="submit" style="min-width: 146px; margin-right: 19px;" class="btn btn-primary">
                            Save Submission
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- added extra -->
</form>
</div>
</div>
</div>
<!-- added extra -->
<!--<div id="myModalquestion" class="modal fade">-->
<!--<div class="modal-dialog modal-md">-->
<!--<div class="modal-content" style="background-color: #ffffff; color: #555;">-->
<!--<div class="modal-header" style=" background: #000c35 !important;">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
<!--<h5 class="modal-title text-left" style="color:#fff;">-->
<!--Enter Submission Name-->
<!--</h5>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<form ng-submit="saveSurveySubmission(name)">-->
<!--<div class="js-upload-finished text-left">-->
<!--<input ng-model="name" type="text" class="form-control" required autofocus>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-success  pull-right" style="margin: 12px; z-index:111; ">Save</button>-->
<!--<div class="clearfix"></div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<footer class="text-center">Copyright - 2017</footer>