<link rel="stylesheet" type="text/css" href="modules/SurveyModule/Wizards/AddQuestion/add-question.css">
<header></header>
<br><br>
<div class="container-fluid" style="margin-left: -100px;margin-right: 10%">
    <div class="col-md-12 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a style="padding: 25px;">
                        <strong> <i class="fa fa-file-text-o" aria-hidden="true"></i></strong>
                        <a style="    color: white;" ng-if="!AddQuestionCtrl.editQuestion">Add Question</a>
                        <a style="    color: white;" ng-if="AddQuestionCtrl.editQuestion">Update Question</a>
                    </a>
                </h4>
            </div>
            <div class="panel-body" style="padding-bottom: 20px;padding-right: 10px;">
                <div class="demo AJ-form">
                    <div class="col-md-6">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a>Preview</a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group" style="margin-top: 1%;">
                                                <div class="form-group">
                                                    <label>Enter your question below:</label>
                                                    <input type="text" ng-model="newQuestion.questionText" class="form-control" rows="5" id="comment" />
                                                    <div class="alert alert-danger " style="margin-top: 1%;height:20px;padding: 0px;" ng-show="!newQuestion.questionText && valid">
                                                        <strong> ! Enter Question</strong>
                                                    </div>
                                                </div>
                                                <br>
                                                <label>Preview</label>
                                                <div class="border-preview">
                                                    <br>
                                                    <div class="preview-body">
                                                        <label><strong>Question :</strong> {{newQuestion.questionText}}</label>
                                                        <table class="table borderless">
                                                            <tbody>
                                                                <tr ng-repeat="inputField in AddQuestionCtrl.questionOptions">
                                                                    <td class="col-md-10">
                                                                        <span ng-if="inputField.id == 0">
                                                                            <div class="checkbox checkboxChange">

                                                                                <span class="btn-drop" style="margin-right: 10px;">
                                                                                    <span class="dropdown">
                                                                                        <button class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;" type="button" data-toggle="dropdown">
                                                                                            <span ng-if="inputField.type">{{inputField.type}}</span>
                                                                                            <span ng-if="!inputField.type">Select Type</span>
                                                                                            <span class="caret"></span>
                                                                                        </button>
                                                                                        <ul style="min-width: 100%;" class="dropdown-menu">
                                                                                            <li ng-repeat="opt in dropDownOptions"><a ng-click="inputField.type=opt.type">{{opt.type}}</a></li>
                                                                                        </ul>
                                                                                    </span>
                                                                                </span>
                                                                                <input style="width: 200px" type="text" ng-model="inputField.inputValue">
                                                                            </div>
                                                                        </span>

                                                                        <span ng-if="inputField.id == 1">
                                                                            <div class="checkbox checkboxChange">
                                                                                <label class="radio-inline">
                                                                                    <input type="radio" value="" onclick="return false;">
                                                                                    {{inputField.radioLabel}}
                                                                                </label>
                                                                                <span editable-text="inputField.radioLabel">
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                </span>


                                                                            </div>

                                                                        </span>

                                                                        <span ng-if="inputField.id == 2">
                                                                            <div class="checkbox checkboxChange" style="left: 25px;">
                                                                                <input type="checkbox" value="" onclick="return false;">
                                                                                <span>
                                                                                    {{inputField.checkboxLabel}}
                                                                                    <span editable-text="inputField.checkboxLabel">
                                                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </span>
                                                                        <span ng-if="inputField.id == 3">
                                                                            <div class="checkbox checkboxChange edit-text-width">


                                                                                <span ng-hide="textBtnForm.$visible" class="btn-drop" style="margin-right: 10px;">
                                                                                    <span class="dropdown">
                                                                                        <button class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;" type="button" data-toggle="dropdown">
                                                                                            <span ng-if="inputField.type">{{inputField.type}}</span>
                                                                                            <span ng-if="!inputField.type">Select Type</span>
                                                                                            <span class="caret"></span>
                                                                                        </button>
                                                                                        <ul style="min-width: 100%;" class="dropdown-menu">
                                                                                            <li ng-repeat="opt in dropDownOptions"><a ng-click="inputField.type=opt.type">{{opt.type}}</a></li>
                                                                                        </ul>
                                                                                    </span>
                                                                                </span>

                                                                                <label class="radio-inline">
                                                                                    <input type="radio" onclick="return false;">
                                                                                    {{inputField.radioLabel}}
                                                                                </label>
                                                                                <span editable-text="inputField.radioLabel"
                                                                                      e-form="textBtnForm" ng-click="textBtnForm.$show()">
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                </span>
                                                                                <input ng-model="inputField.inputValue" type="text" name="">
                                                                            </div>
                                                                        </span>
                                                                        <span ng-if="inputField.id == 4">
                                                                            <div class="checkbox checkboxChange edit-text-width">

                                                                                <span ng-hide="type4.$visible || type42.$visible " class="btn-drop" style="margin-right: 10px;">
                                                                                    <span class="dropdown">
                                                                                        <button class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;" type="button" data-toggle="dropdown">
                                                                                            <span ng-if="inputField.type">{{inputField.type}}</span>
                                                                                            <span ng-if="!inputField.type">Select Type</span>
                                                                                            <span class="caret"></span>
                                                                                        </button>
                                                                                        <ul style="min-width: 100%;" class="dropdown-menu">
                                                                                            <li ng-repeat="opt in dropDownOptions"><a ng-click="inputField.type=opt.type">{{opt.type}}</a></li>
                                                                                        </ul>
                                                                                    </span>
                                                                                </span>
                                                                                <label class="radio-inline">
                                                                                    <input type="radio" value="" onclick="return false;">
                                                                                    {{inputField.radioLabel1}}
                                                                                </label>
                                                                                <span editable-text="inputField.radioLabel1" e-form="type4" ng-click="type4.$show()">
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                </span>

                                                                                <input style="width:60px;" ng-model="inputField.inputValue" type="text" name="">
                                                                                {{inputField.radioLabel2}}
                                                                                <span editable-text="inputField.radioLabel2" e-form="type42" ng-click="type42.$show()">
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                </span>
                                                                            </div>
                                                                        </span>
                                                                        <span ng-if="inputField.id == 5">
                                                                            <div class="checkbox checkboxChange edit-text-width">
                                                                                <label class="radio-inline">
                                                                                    <input type="radio" value="" onclick="return false;">
                                                                                    {{inputField.radioLabel}}
                                                                                </label>
                                                                                <span editable-text="inputField.radioLabel">
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                </span>
                                                                                <div style=" margin-left: 15px; " auto-close="outsideClick" class="btn-group" uib-dropdown dropdown-append-to-body>
                                                                                    <button id="btn-append-to-to-body" type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
                                                                                        Dropdown Menu <span class="caret"></span>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                                                                        <li role="menuitem">
                                                                                            <input type="text" placeholder="add options" ng-model="newOption" name="">
                                                                                            <button class="btn btn-primary btn-sm" ng-click="inputField.dropDownOptions.push({value:newOption})">Add</button>
                                                                                        </li>
                                                                                        <li ng-if="inputField.dropDownOptions.length > 0 " role="menuitem" ng-repeat="option in inputField.dropDownOptions track by $index">
                                                                                            <div class="form-group">
                                                                                                <label>{{option.value}}</label>
                                                                                                <span ng-click="inputField.dropDownOptions.splice($index , 1)" class="btn btn-sm pull-right">
                                                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </span>
                                                                        <span ng-if="inputField.id == 6">
                                                                            <div class="checkbox checkboxChange edit-text-width" style="left: 25px;">
                                                                                <input type="checkbox" value="" onclick="return false;">
                                                                                <span>
                                                                                    {{inputField.checkboxLabel}}
                                                                                    <span editable-text="inputField.checkboxLabel">
                                                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                    </span>
                                                                                </span>
                                                                                <div style=" margin-left: 15px; " auto-close="outsideClick" class="btn-group" uib-dropdown dropdown-append-to-body>
                                                                                    <button id="btn-append-to-to-body" type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
                                                                                        Dropdown Menu <span class="caret"></span>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                                                                        <li role="menuitem">
                                                                                            <input type="text" placeholder="add options" ng-model="newOption" name="">
                                                                                            <button class="btn btn-primary btn-sm" ng-click="inputField.dropDownOptions.push({value:newOption})">Add</button>
                                                                                        </li>
                                                                                        <li ng-if="inputField.dropDownOptions.length > 0 " role="menuitem" ng-repeat="option in inputField.dropDownOptions track by $index">
                                                                                            <div class="form-group">
                                                                                                <label>{{option.value}}</label>
                                                                                                <span ng-click="inputField.dropDownOptions.splice($index , 1)" class="btn btn-sm pull-right">
                                                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </span>
                                                                        <span ng-if="inputField.id == 7">

                                                                            <div class="row">
                                                                                <div class="pull-left">
                                                                                    {{inputField.label}}
                                                                                    <span editable-text="inputField.label">
                                                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="pull-left" style="margin-left: 25px;">
                                                                                    <p class="input-group" style="width: 200px;">
                                                                                        <input type="text" class="form-control"
                                                                                               uib-datepicker-popup="{{dateFormat}}"
                                                                                               ng-model="inputField.inputValue" show-button-bar="false"
                                                                                               ng-init="inputField.opened" is-open="inputField.opened" datepicker-options="availableDateOptions" />
                                                                                        <span class="input-group-btn">
                                                                                            <button type="button" class="btn btn-default" ng-click="inputField.opened = !inputField.opened">
                                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                                            </button>
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>

                                                                        </span>
                                                                        <span ng-if="inputField.id == 8">
                                                                            <p class="input-group" style="width: 200px;">
                                                                                <input type="text" class="form-control"
                                                                                       uib-datepicker-popup="{{dateFormat}}"
                                                                                       ng-model="inputField.inputValue" show-button-bar="false"
                                                                                       ng-init="inputField.opened" is-open="inputField.opened" datepicker-options="availableDateOptions" />
                                                                                <span class="input-group-btn">
                                                                                    <button type="button" class="btn btn-default" ng-click="inputField.opened = !inputField.opened">
                                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                                    </button>
                                                                                </span>
                                                                            </p>
                                                                        </span>
                                                                        <span ng-if="inputField.id == 9">
                                                                            <div class="row">
                                                                                <div class="checkbox checkboxChange">
                                                                                    <div class="col-md-6" style="padding: 0;">
                                                                                        <!-- <input style="margin-top: 13px;" type="text" ng-model="inputField.inputValue"> -->
                                                                                        <span>
                                                                                            {{inputField.label}}
                                                                                            <span editable-text="inputField.label">
                                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                            </span>
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label class="radio-inline">
                                                                                                <input type="radio" value="" onclick="return false;">
                                                                                                {{inputField.radioLabel1}}
                                                                                            </label>
                                                                                            <span editable-text="inputField.radioLabel1">
                                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                            </span>
                                                                                            <br>
                                                                                            <label class="radio-inline">
                                                                                                <input type="radio" value="" onclick="return false;">
                                                                                                {{inputField.radioLabel2}}
                                                                                            </label>

                                                                                            <span editable-text="inputField.radioLabel2">
                                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </span>
                                                                        <span ng-if="inputField.id == 10">
                                                                            <div class="row">
                                                                                <div class="checkbox checkboxChange">
                                                                                    <div class="col-md-7" style="padding: 0;">
                                                                                        <span>
                                                                                            {{inputField.label1}}
                                                                                            <span editable-text="inputField.label1">
                                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                            </span>
                                                                                        </span>
                                                                                        <input style="margin-top:13px;width: 50px;" type="text" ng-model="inputField.inputValue">
                                                                                        <span>
                                                                                            {{inputField.label2}}
                                                                                            <span editable-text="inputField.label2">
                                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                            </span>
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col-md-5">
                                                                                        <div class="form-group">
                                                                                            <label class="radio-inline">
                                                                                                <input type="radio" value="" onclick="return false;">
                                                                                                {{inputField.radioLabel1}}
                                                                                            </label>
                                                                                            <span editable-text="inputField.radioLabel1">
                                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                            </span>
                                                                                            <br>
                                                                                            <label class="radio-inline">
                                                                                                <input type="radio" value="" onclick="return false;">
                                                                                                {{inputField.radioLabel2}}
                                                                                            </label>
                                                                                            <span editable-text="inputField.radioLabel2">
                                                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </span>
                                                                    </td>
                                                                    <td class="col-md-2 " style="vertical-align: inherit;">
                                                                        <button class="btn btn-xs btn-primary pull-right" ng-click="AddQuestionCtrl.questionOptions.splice($index, 1);">
                                                                            Delete
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button ui-sref="Survey" type="button" style="min-width: 146px; padding-right: 20px;" class="btn btn-primary "> Back</button>

                            <button style="min-width: 146px; padding-right: 20px;" ng-if="!AddQuestionCtrl.editQuestion" ng-click="AddQuestionCtrl.SaveNewQuestion(newQuestion)" type="button" class="btn btn-primary ">
                                <i class="fa fa-lg fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </button>

                            <button style="min-width: 146px; padding-right: 20px;" ng-if="AddQuestionCtrl.editQuestion" ng-click="SaveEditQuestion(newQuestion)" type="button" class="btn btn-primary ">
                                <i class="fa fa-lg fa-pencil-square-o" style="color: white;" aria-hidden="true"></i>
                                Update
                            </button>

                        </div>

                        <!-- <button ng-if="AddQuestionCtrl.editQuestion" ng-click="SaveEditQuestion(newQuestion)" type="button" class="btn btn-primary pull-right">
                        <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i> Edit</button> -->
                        <!-- Usage as a class -->
                        <!-- <div class="clearfix">...</div> -->

                    </div>
                    <div class="col-md-6">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a>Selection Options</a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group" style="margin-top: 1%;">
                                                <input-fields question-options="AddQuestionCtrl.questionOptions"></input-fields>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  -->
