<link rel="stylesheet" href="principalForm.css">
<style>
    body {
        background-color: #f5f5f5;
    }


    .drop-file ul {
        list-style: none;
    }

    .drop-file li {
        position: relative;
    }

    .drop-file li:before {
        position: absolute;
        top: -2px;
        margin: 8px 0 0 -12px;
        vertical-align: middle;
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #ccc;
        content: "";
    }


    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0.8;
    }
</style>
<header></header>

<div class="Comps-my-prop">

    <ul>
        <a   ng-hide="CreatePrincipalForm.PrinciplePropData.imageFileName"data-toggle="modal" style="cursor: pointer"   data-target="#myModalquestion" ><img style="display: block;
    margin: auto;
    top: 20%;
    position: relative;" align="middle" src="../../../../assets/img/AddImage.png"></a>
        <div class="relative" ng-show="CreatePrincipalForm.PrinciplePropData.imageFileName">

            <img  style="width: 213px;height: 123px;" src={{CreatePrincipalForm.PrinciplePropData.imageFileName}}>
            <p class="absolute-text ng-binding"></p>
        </div>
        <li>
            <h6> Rent Estimate: <span class="pull-right">${{CreatePrincipalForm.PrinciplePropData.rentAmount | number:0}}</span>
            </h6>
            <h6>Zestimate: <span class="pull-right">${{CreatePrincipalForm.PrinciplePropData.amount | number:0}}</span></h6>
        </li>
        <li>
            <h6>Valuation Range High: <span class="pull-right">
            ${{CreatePrincipalForm.PrinciplePropData.valuationRangeHigh | number:0}}
            </span>
            </h6>
            <h6>Valuation Range Low: <span class="pull-right">
            ${{CreatePrincipalForm.PrinciplePropData.valuationRangeLow | number:0}}
            </span>
            </h6>
        </li>
        <li>
            <h6>Value Change: <span class="pull-right">${{CreatePrincipalForm.PrinciplePropData.valueChange | number:0}}</span></h6>
            <h6>Value Change Duration: <span class="pull-right">{{CreatePrincipalForm.PrinciplePropData.valueChangeDuration}}</span></h6>
        </li>
        <li>
            <h6>Year Built: <span class="pull-right">{{CreatePrincipalForm.PrinciplePropData.yearBuilt}}</span>
            </h6>
            <h6>Lot Size SF: <span class="pull-right">{{CreatePrincipalForm.PrinciplePropData.lotSizeSqFt | number:0}}</span></h6>
        </li>
        <li>
            <h6>Last Sold Date: <span class="pull-right">{{CreatePrincipalForm.PrinciplePropData.lastSoldDate}}</span></h6>
            <h6>Last Sold Price: <span class="pull-right">${{CreatePrincipalForm.PrinciplePropData.lastSoldPrice | number:0}}</span></h6>
        </li>
    </ul>
</div>
<br>
<br>
    <div class="col-md-12">
        <div class="panel panel-primary IE_RR">
            <div class="panel-heading">
                <h5> <i class="fa fa-user" aria-hidden="true"></i>
                    <strong>   Create Comparables </strong>

                </h5></div>
            <div style="padding: 1%">
            <comparable-component ng-show="showComps"></comparable-component>
            </div>

            <body>
            <div class="panel-body drop-file">

                <div class="row ">
                    <div class="col-md-6">

                    </div>
                </div>

</div>
<!-- modal -->
<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Do you want to add more files/data ? </h5>
            </div>
            <div class="modal-body text-center">
                <h4 style="color:#0fad00">Success</h4>
                <img height="50" src="http://osmhotels.com//assets/check-true.jpg">
                <h4>Do you want to add more data ?</h4>
                <button ng-click="CreateComparablesForm.gotoPropertyDetails()" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; background: #F44336; !Important">No</button>
                <button ng-click="CreateComparablesForm.modalYesbutton()" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; ">Yes</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-->
            <div id="myModalquestion" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 0">
                <div class="modal-dialog modal-md">
                    <div class="modal-content" style="background-color: #ffffff; color: #555;">
                        <div class="modal-header" style=" background: #000c35 !important;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 class="modal-title text-left" style="color:#fff;">
                               Add Principal
                            </h5>
                        </div>
                        <div class="modal-body">
                            <form id="compForm" name="compForm" ng-submit="compForm.$valid && CreatePrincipalForm.submitManualData()" novalidate>
                                <div class="row" >
                                    <fieldset class="col-md-6" >
                                        <label>Upload Image</label>
                                        <input ng-show="!isSubmitting"  type="file" ngf-select ng-model="picFile" name="file"
                                               accept="image/*" ngf-max-size="2MB" required
                                               ngf-model-invalid="errorFile">
                                        <br/> <label ng-show="isSubmitting" style="=color:green;">Image Uploaded Successfully</label>


                                    </fieldset>
                                    <div class="col-md-6">
                                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile"  style="width: 100%">
                                        <span ng-show="!isSubmitting">
                                        <button class="btn btn-user" ng-click="picFile = null" ng-show="picFile">Remove</button>

                                        </span>

                                    </div>

                                    <span style="color: red;" ng-show="compForm.$submitted && !picFile">*You Must Upload Image</span>
                                </div>



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Rent Estimate</label>
                                            <input  ui-money-mask="0"  ui-hide-space  class='form-control alldisable' name="rentEstimate" id="rentEstimate" required ng-model="CreatePrincipalForm.formData.rentEstimate" type='text' placeholder="Enter Total Income">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.rentEstimate.$invalid) || (
                                                    compForm.rentEstimate.$touched && compForm.rentEstimate.$invalid)">This is required.</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Valuation Range High</label>
                                            <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="valuationRangeHigh" id="valuationRangeHigh" required ng-model="CreatePrincipalForm.formData.valuationRangeHigh" type='text' placeholder="Enter Comp Score">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.valuationRangeHigh.$invalid) || (
                                                    compForm.valuationRangeHigh.$touched && compForm.valuationRangeHigh.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Valuation Range Low</label>
                                            <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="valuationRangeLow" id="valuationRangeLow" required ng-model="CreatePrincipalForm.formData.valuationRangeLow" type='text' placeholder="Enter Comp Score">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.valuationRangeLow.$invalid) || (
                                                    compForm.valuationRangeLow.$touched && compForm.valuationRangeLow.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Zestimate</label>
                                            <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="zEstimate" id="zEstimate" required ng-model="CreatePrincipalForm.formData.zEstimate" type='text' placeholder="Zestimate">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.zEstimate.$invalid) || (
                                                    compForm.zEstimate.$touched && compForm.zEstimate.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label> Value Change</label>
                                            <input  ui-money-mask="0"  ui-hide-space class='form-control alldisable' name="valueChange" id="valueChange" required ng-model="CreatePrincipalForm.formData.valueChange" type='text' placeholder="Enter Value Change">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.valueChange.$invalid) || (
                                                    compForm.valueChange.$touched && compForm.valueChange.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Value Change Duration</label>
                                            <input  class='form-control alldisable' name="valueChangeDuration" id="valueChangeDuration" required ng-model="CreatePrincipalForm.formData.valueChangeDuration" type='text' placeholder="Enter Value Change Duration">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.valueChangeDuration.$invalid) || (
                                                    compForm.valueChangeDuration.$touched && compForm.valueChangeDuration.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>





                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="sandbox-container">
                                            <label>Last Sold Date</label>
                                            <div class='input-group date'>
                                                <input type='text' name="lastSoldDate"   required ng-model="CreatePrincipalForm.formData.lastSoldDate" placeholder="Click here to choose date" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                            </div>
                                        </div>
                                        <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.lastSoldDate.$invalid) || (
                                                    compForm.lastSoldDate.$touched && compForm.lastSoldDate.$invalid)">This is required.</span>
                                        <br>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Lot Size SF</label>
                                            <input  class='form-control alldisable' name="lotSizeSf" id="lotSizeSf" required ng-model="CreatePrincipalForm.formData.lotSizeSf" type='text' placeholder="Enter Lot Size SF">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.lotSizeSf.$invalid) || (
                                                    compForm.lotSizeSf.$touched && compForm.lotSizeSf.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Last Sold Price</label>
                                            <input  ui-money-mask="0"  ui-hide-space  class='form-control alldisable' name="lastSoldPrice" id="lastSoldPrice" required ng-model="CreatePrincipalForm.formData.lastSoldPrice" type='text' placeholder="Enter Last Sold Price">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.lastSoldPrice.$invalid) || (
                                                    compForm.lastSoldPrice.$touched && compForm.lastSoldPrice.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class='form-group required'>
                                            <label>Year Built</label>
                                            <input    ui-hide-space  class='form-control alldisable' name="yearBuilt" id="yearBuilt" required ng-model="CreatePrincipalForm.formData.yearBuilt" type='text' placeholder="Enter Last Sold Price">
                                            <span style="color: red;" ng-show="
                                                    (compForm.$submitted &&
                                                    compForm.yearBuilt.$invalid) || (
                                                    compForm.yearBuilt.$touched && compForm.lastSoldPrice.$invalid)">This is required.</span>
                                        </div>
                                    </div>
                                </div>


                                <br>
                                <div class="clearfix"></div>
                                <button ng-click=" compForm.$valid && uploadPic(picFile)" data-toggle="modal" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" >Submit</button>
                                <button ng-click="CreatePrincipalForm.resetForm()" type="button" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" >Reset</button>
                            </form>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            </body>
        </div>
    </div>

<!-- Footer -->
<!--<footer class="text-center">Copyrights - 2017</footer>-->
</div>