


<div class="" style="min-height:400px">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list"></span><span>  All Properties</span>
        </div>
        <div class="panel-body" style="padding: 0px;border: 1px solid #dddddd;border-width: 0px 1px 1px;">
            <table class="table " style="width: 100%">
                <thead>
                    <tr>
                        <th style="max-width:20px"></th>
                        <th>Property Name</th>
                        <th>Current Event</th>
                        <th>
                            Event Deadline <i class="fa fa-info-circle text-primary" aria-hidden="true"></i>
                        </th>
                        <th>Next Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="$ctrl.allPropertiesTimelineStatus.length==0">
                        <td>No data</td>
                    </tr>
                    <tr ng-if="$ctrl.allPropertiesTimelineStatus.length>0" ng-repeat="allprops in  $ctrl.allPropertiesTimelineStatus track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{allprops.propertyName}}</td>
                        <td>{{allprops.status.currentEvent}}</td>
                        <td>{{allprops.status.currentEventDeadline}}</td>
                        <td>{{allprops.status.nextEvent}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</div>
