
<div class="col-md-12" style="background-color:white; padding: 15px 5px;border: 1px solid #ddd">
    <div class="format1" style=" border-radius: 3px 3px 0px 0px;">
        <div class="row">
            <div class="col-sm-9">
                <h4 style="text-align:center">
                    <span ng-click="$ctrl.previousYear()" class="btn btn-sm btn-default" style="border-radius: 50%;width: 20px;height: 20px;padding: 0px;display: inline-block;margin-top: -2px;margin-right:5px"><</span> Year                     
                    <select ng-model="$ctrl.currentYear" name="" id="" class="year-select-dropdown" ng-change="$ctrl.yearChange($ctrl.currentYear)">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    <span ng-click="$ctrl.nextYear()" class="btn btn-sm btn-default" style="border-radius: 50%;width: 20px;height: 20px;padding: 0px;display: inline-block;margin-top: -2px;margin-left:5px">></span>
                </h4>
                <div style="">
                    <div id='myChart' style="padding: 0px;"></div>
                </div>
                <div class="" style="height:55px;position:relative">
                    <div class="" style="padding: 15px;border: 1px solid #e4e4e4;width: 330px;position:absolute;right:30px;">
                        <table>
                            <tr>
                                <td>Start Date</td>
                                <td><div style="height:11px;width:30px;background-color: green;margin-top: 2px;"></div></td>
                                <td>End Date</td>
                                <td><div style="height:11px;width:30px;background-color: orange;margin-top: 2px;"></div></td>
                                <td>
                                        <div style="height:11px;width:30px;background-color: purple;margin-top: 2px;"></div>
                                    </td>
                            </tr>
                        </table>
                        <!-- end row -->
                    </div>

                </div>
                <hr>
                <h4 style="text-align:center">Property Info</h4>
                <div>
                    <div style="padding: 15px;background-color:#fafafa">
                        <table class="table " style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Property Name</th>
                                    <th>Current Event</th>
                                    <th>
                                        Event Deadline <i class="fa fa-info-circle text-primary" aria-hidden="true"></i>
                                    </th>
                                    <th>Next Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="$ctrl.allPropertiesinJurisdiction.length==0">
                                    <td colspan="5">No data</td>
                                </tr>
                                <tr ng-if="$ctrl.allPropertiesinJurisdiction.length>0" ng-repeat="allprops in  $ctrl.allPropertiesinJurisdiction track by $index">
                                    <td>{{$index+1}}</td>
                                    <td>{{allprops.propertyName}}</td>
                                    <td>{{allprops.status.currentEvent}}</td>
                                    <td>{{allprops.status.currentEventDeadline}}</td>
                                    <td>{{allprops.status.nextEvent}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
            <div class="col-sm-3">
                    <div ng-if="$ctrl.selectedEvents.length==0" class="panel panel-primary event-panel">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-list"></span>
                                <span> Event</span>
        
                            </div>
                            <div class="panel-body" style="padding-top: 0px;position:relative; min-height: 215px;">
                                <div style="position: absolute;width: 100%;background: rgb(248, 248, 248);left: 0px;right: 0px;height: 100%;text-align: center;padding-top: 80px;color: #a1a1a1;">
                                    <i class="fa fa-id-card-o" style="font-size: 30px;"></i>
                                    <br> No Event selected
                                </div>
        
                            </div>
                        </div>
                        <h3 ng-if="$ctrl.selectedEvents.length>0" style="margin-top:0px;">
                                Events</h3>
                        
                        <div ng-repeat="singleEvent in $ctrl.selectedEvents" id="accordion-events">
                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div data-toggle="collapse" data-parent="#accordion-events" href="#collapse-{{$index}}" class="panel-title expand">
                                                <div class="right-arrow pull-right">+</div>
                                                <a>{{singleEvent.nodeCodes[$index]}}</a>
                                            </div>
                                        </div>
                                        <div id="collapse-{{$index}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                    <div class="panel panel-primary event-panel">
                                                            <div class="panel-heading">
                                                                <span class="glyphicon glyphicon-list"></span>
                                                                <span> Event</span>
                                                                <a ng-if="singleEvent.eventName" style="color: white;cursor: pointer" class="pull-right" ng-click="$ctrl.showSelectModal(singleEvent)">
                                                                    <i class="fa fa-plus" style="padding-right: 5px" aria-hidden="true"></i>Add Internal Events</a>
                                                            </div>
                                                            <div class="panel-body" style="padding-top: 0px;position:relative; min-height: 215px;">
                                                                <div ng-if="!singleEvent.eventName" style="position: absolute;width: 100%;background: rgb(248, 248, 248);left: 0px;right: 0px;height: 100%;text-align: center;padding-top: 80px;color: #a1a1a1;">
                                                                    <i class="fa fa-id-card-o" style="font-size: 30px;"></i>
                                                                    <br> No Event selected
                                                                </div>
                                                                <div class="row" ng-if="singleEvent.eventName">
                                                                    <div class="left" style="width:100%;">
                                                                        <h5>
                                                                            <span style="color: #141414;" aria-hidden="true" class="fa fa-id-card-o"></span> Name</h5>
                                                                        <h4 class="event-title">{{singleEvent.eventName}}</h4>
                                                                        <div style="border: 1px solid #dcdcdc;border-width: 1px 0px 1px;padding: 2px 0px 10px;">
                                                                            <table style="">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>Starts on:</td>
                                                                                        <td>Ends on:</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <div style="background-color:green" class="label label-success">{{singleEvent.deadlineStart}}</div>
                                    
                                                                                        </td>
                                                                                        <td>
                                                                                            <div style="background-color:orange" class="label label-default">{{singleEvent.deadlineEnd}}</div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                    
                                                                        <h5 style="">
                                                                            <span aria-hidden="true" class="fa fa-info-circle"></span> Description</h5>
                                                                        <div class="prp-details-ul">
                                                                            <ul class="card-list" style="padding: 0px !important;">
                                                                                <li style="background-color:white;border-radius:2px;">
                                                                                    <span class="">{{singleEvent.description}}</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <h5 style="margin-top:25px;" ng-if="singleEvent.internalEvents.length">
                                                                            <span style="color: #333333" aria-hidden="true" class="fa fa-info-circle"></span> Internal Events</h5>
                                                                        <div>
                                                                            <div ng-if="iEvents.event" class="panel-group" id="accordion" ng-repeat="iEvents in singleEvent.internalEvents track by $index">
                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading">
                                                                                        <div data-toggle="collapse" data-parent="#accordion" href="#int-collapse-{{$index}}" class="panel-title expand">
                                                                                            <div class="right-arrow pull-right">+</div>
                                                                                            <a>{{iEvents.event.properties.event_name}}</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="int-collapse-{{$index}}" class="panel-collapse collapse">
                                                                                        <div class="panel-body">
                                                                                            <div class="prp-details-ul">
                                                                                                <ul class="card-list" style="padding: 0px !important;border: 1px solid #e9e9e9;">
                                                                                                    <li>
                                                                                                        <span class="">
                                                                                                            <b>Deadline:</b> {{iEvents.event.properties.deadline}}</span>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <span class="">
                                                                                                            <b>No of Days (prior to notification):</b> {{iEvents.event.properties.no_of_days}}</span>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <span class="">
                                                                                                            <b>Description:</b> {{iEvents.event.properties.description}}</span>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <span class="">
                                                                                                            <b>Properties:</b>
                                                                                                            <span ng-repeat="propnames in iEvents.propertyNames">
                                                                                                            {{propnames}}
                                                                                                                <span ng-if="!$last"> , </span>
                                                                                                            </span>
                                                                                                        </span>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                            </div>
                                        </div>
                                    </div>
        
                         
                        </div>
            </div>
        </div>


    </div>
    <div class="clearfix "></div>
</div>