<div id="mySelectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Select Internal Event</h5>
            </div>
            <div class="modal-body">
                <div class="row">


                    <form name="$ctrl.saveForm" role="form" ng-submit="$ctrl.saveInternalEvents()">
                        <div class="col-sm-6" style="border-right: 1px solid #dddddd;">
                            <div class="form-group" style="margin-top: 0px;margin-bottom:10px;width:100%">
                                <button style="width:100%" type="submit" form="saveForm" class="btn btn-primary" ng-click="$ctrl.showEventModal()">New Internal Event</button>
                            </div>
                            <div>
                                <label for="inputEmail" class="control-label" style="margin-bottom: 15px;">Select internal events from the list below:</label>
                                <div class="list-group-item" ng-repeat="internal in $ctrl.allInternalEvents track by $index">
                                    <div class="checkbox checkboxChange">
                                        <input ng-model="internal['cbox']"
                                               type="checkbox" name="replace{{$index}}"
                                               ng-change="$ctrl.addToSelected(internal.internalEvents._id, internal['cbox'])"><label> {{internal.internalEvents.properties.event_name}}</label>
                                    </div>
                                </div>

                            </div>
                            <br>
                        </div>
                        <div class="col-sm-6" style="padding-right: 0px;">
                            <div class="">
                                <label for="inputEmail" class="control-label" style="margin-bottom: 15px;">Select properties from the list below:</label>
                                <div>
                                    <div ng-repeat="allprops in  $ctrl.allPropertiesinJurisdiction track by $index" class="list-group-item">
                                        <div class="checkbox checkboxChange" ng-click="selectAllProperties()">
                                            <input id="checkbox_id"
                                                   type="checkbox"
                                                   ng-change="$ctrl.addToSelectedProperties(allprops.propertyId, allprops['cbox'])"
                                                   ng-model="allprops['cbox']"><label for="checkbox_id"> {{allprops.propertyName}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <div style="clear:both"></div>
                        <div class="form-group pull-right" style="margin-top: 20px;">
                            <button type="submit" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>