
<div ng-init="staticTable(2)" >
    <div class="row main-table-header">
      <div class="col-md-5" >
        <span style="cursor: pointer" ng-click="switchMode()"><i class="table-back fa fa-chevron-left"></i>{{subData.jName}}</span>
      </div>
      <div class="table-header-actions col-md-7 clearfix">
        <div class="button-filter">
          <button class="white-button">Send Email Invite</button>
          <button class="white-button">Send SMS Invite</button>
          <button class="white-button">Send Calendar Invite</button>
        </div>
        <div class="icon-filter">
          <a class="inventory-icon">
            <ul class="dropdown-invertory" style="display: none">
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
            </ul>
          </a>
          <a class="filter-icon">
            <ul class="dropdown-filter" style="display: none">
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
              <li><a>Filter1</a></li>
            </ul>
          </a>
        </div>
      </div>
    </div>
    <div  class="JStableOuter inner-table" >
      <table style="max-height: 586px">
        <thead>
        <tr style="top: 0" >
          <th class="first-col-head" >
            <input type="checkbox">Property Name
          </th>


          <!--<th ng-repeat="events in  subData.prop[0].subEvents">-->
            <!--<span>{{events.properties.name}}-->
              <!--<i  class="fa fa-caret-down property-dropdown-new" ng-if="events.properties.dropdown">-->
                 <!--<select class="select-area selectpicker" data-width="fit"  ng-if="events.properties.dropdown"  ng-model="events.markAll"-->
                         <!--ng-change="selectAll($index,events.markAll,events,events.properties.dropdownValues)">-->
              <!--<option class="option-select" ng-repeat="data in events.properties.dropdownValues">{{data}}</option>-->
            <!--</select>-->
              <!--</i></span>-->
          <!--</th>-->

          <th ng-repeat="events in  subData.prop[0].subEvents"  ng-init="idx= $index">
            <span>{{events.properties.name}}
                  <span class="caret dropdown" style="cursor: pointer" ng-if="events.properties.dropdown" >
                 <i  class="fa fa-caret-down"></i>
                  <ul class="dropdown-menu">
                    <li ng-repeat="data in events.properties.dropdownValues" 
                       ng-click="selectAll(idx,data,events,events.properties.dropdownValues)">
                      <a>{{data}}</a>
                    </li>
                  </ul>
                 </span>
                 <span ng-show="!events.properties.mandatory" class="not-mandatory">(Optional)</span>
         
            </span>
          </th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat=" prop in   subData.prop"  ng-init="propertyIndex=$index">
          <td class="first-col-body">
            <label><input type="checkbox">{{prop.fcolName}}</label>
            <p>{{prop.address || prop.streetAddress}}</p>
            <p>{{prop.taxAccountNo}}</p>
            <p>{{prop.ownerName}}</p>
          </td>
            
          <td style=" height: 170px;" class="started-tr" ng-repeat="events in  prop.subEvents"  ng-init="subEventIndex=$index">
            <span ng-class="checkMessage(events.properties.status)">{{events.properties.status}}</span>
            <p class="start-note" style="text-align: center" ng-class="noteComp(events.properties)"><span>{{events.properties.warning || events.properties.message}}</span></p>
            <button ng-if="events.properties.button" type="submit" ng-click="events.properties.status=='Not Started' || events.properties.flag && openModal(events.properties ,prop,subEventIndex, events)" style="display: block; margin: 0 auto"    ng-class="buttonComp(events.properties)">{{events.properties.buttonText}}</button>
            <div ng-show="events.properties.toggle" class="toggle-div">
                <label class="switch">
                  <input  
                  ng-change="selectOne(subEventIndex, events.properties.toggleValue,propertyIndex)"
                  ng-true-value="'true'" 
                  ng-false-value="'false'" 
                  ng-disabled="events.properties.status=='Not Started'"
                  ng-checked="events.properties.toggleValue == 'true'" ng-model="events.properties.toggleValue" type="checkbox" id="togBtn">
                  <div class="slider round" ><!--ADDED HTML -->
                    <span  ng-show="events.properties.toggleValue=='true'" class="on">Yes</span>
                    <span  ng-show="events.properties.toggleValue!='true'" class="off">No</span>
                  </div>
                </label>
              </div>
          </td>
          <!--<td class="done-tr">-->
          <!--<app-appeal-message [type]="'Done'" ></app-appeal-message>-->
          <!--<p style="text-align: center">Assigned value:<span>$1254</span></p>-->
          <!--<app-appeal-button [type]="'View'"></app-appeal-button>-->
          <!--</td>-->
          <!--<td class="switch-parent">-->
          <!--<app-appeal-message [type]="'Not applicable'" ></app-appeal-message>-->
          <!--<span class="cell-text">Lorem ipsum</span>-->
          <!--<app-appeal-toggle></app-appeal-toggle>-->
          <!--</td>-->
          <!--<td class="progress-td">-->
          <!--<span class="pull-left"></span>-->
          <!--<app-appeal-message [type]="'In progress'" ></app-appeal-message>-->
          <!--</td>-->
          <!--<td class="action-col">-->
            <!--<a class="inventory-stroke-icon"></a>-->
          <!--</td>-->
        </tr>
        </tbody>
  
      </table>
      <div class="container" style="margin-top:10px">

      </div>
    </div>
  </div>
  
  