<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()" aria-label="Close"><span aria-hidden="true">x</span></button>
    <h3 class="modal-title" id="modal-title">New Invoice</h3>
</div>
<div class="modal-body invoice-dialogue" id="modal-body" style="max-height: 450px;overflow-x: auto;">
    <form>
        <div class="col-md-7">
            <h4>
                <label for="inputEmail3" class="col-sm-12 col-form-label">Invoice Spreadsheet</label><hr>
            </h4>
            <br>
            <br>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-6 col-form-label">Original Base Value before Re-Assessment</label>
                <div class="col-sm-4">
                    <input type="text" ng-change="calculateSpreadsheet()" ng-model="invoiceSpreadsheet.original_value" class="form-control" id="inputEmail3" placeholder="Original Base Value before Re-Assessment">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-6 col-form-label">New Value as of Re-Assessment (Pre-Appeal)</label>
                <div class="col-sm-4">
                    <input type="text" ng-change="calculateSpreadsheet()" ng-model="invoiceSpreadsheet.preappeal_value" class="form-control" id="inputEmail3" placeholder="New Value as of Re-Assessment (Pre-Appeal)">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-6 col-form-label">Value post Level 1 Appeal (Assessor Appeal)</label>
                <div class="col-sm-4">
                    <input type="text" ng-change="calculateSpreadsheet()" ng-model="invoiceSpreadsheet.assessor_value" class="form-control" id="inputPassword3" placeholder="Value post Level 1 Appeal (Assessor Appeal)">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-6 col-form-label">Value post Level 2 Appeal (Board Appeal)</label>
                <div class="col-sm-4">
                    <input type="text" ng-change="calculateSpreadsheet()" ng-model="invoiceSpreadsheet.board_value" class="form-control" id="inputPassword3" placeholder="Value post Level 2 Appeal (Board Appeal)">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-6 col-form-label">Tax Rate</label>
                <div class="col-sm-4">
                    <input type="text" ng-change="calculateSpreadsheet()" ng-model="invoiceSpreadsheet.tax_rate" class="form-control" id="inputPassword3" placeholder="Tax Rate">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-6 col-form-label">Fee %</label>
                <div class="col-sm-4">
                    <input type="text" ng-change="calculateSpreadsheet()" ng-model="invoiceSpreadsheet.fee_percentage" class="form-control" id="inputPassword3" placeholder="Tax Bill Due Date">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-6 col-form-label">Tax Bill Due Date</label>
                <div class="col-sm-4">
                    <!-- <input type="text" ng-model="invoiceSpreadsheet.tax_due_date" class="form-control" id="inputPassword3" placeholder="Tax Bill Due Date"> -->
                    <p class="input-group">
                        <input readonly style="cursor: pointer;" required type="text" class="form-control" id="dateCalled" name="dateCalled"
                               ng-model="invoiceSpreadsheet.tax_due_date" ng-click="opened = !opened"
                               uib-datepicker-popup="{{dateFormat}}" show-button-bar="false"
                               is-open="opened" datepicker-options="availableDateOptions" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="opened = !opened">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h4>
                <label for="inputEmail3" class="col-sm-12 col-form-label">Compare to RE Tax Bill and confirm calculation</label><hr>
            </h4>
            <br>
            <br>
            <div class="form-group row">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Tax Bill</th>
                            <td>
                                <input type="text" ng-change="calculatenetBill()"
                                       ng-model="netBill.tax_bill" class="form-control" id="inputEmail3" placeholder="Tax Bill">
                            </td>
                        </tr>
                        <tr>
                            <th>Less Solid Waste</th>
                            <td>
                                <input type="text" ng-change="calculatenetBill()"
                                       ng-model="netBill.less_solid_waste" class="form-control" id="inputEmail3" placeholder="Less Solid Waste">
                            </td>
                        </tr>
                        <tr>
                            <th>Water Quality Protect Chg</th>
                            <td>
                                <input type="text" ng-change="calculatenetBill()"
                                       ng-model="netBill.water_quality" class="form-control" id="inputEmail3" placeholder="Water Quality Protect Chg">
                            </td>
                        </tr>
                        <tr>
                            <th>Net Bill</th>
                            <td>
                                <input type="text" readonly
                                       ng-model="netBill.net_bill" class="form-control" id="inputEmail3" placeholder="Net Bill">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Taxes Owed (Pre-Appeal)</th>
                        <th>Taxes Owed (Post Level 1 (Assessor))</th>
                        <th>Taxes Owed (Post Level 1 (Board))</th>
                        <th>Tax Savings (Level 1)</th>
                        <th>Tax Savings (Level 2)</th>
                        <th>Fee Owed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>{{invoiceSpreadsheet.taxowed_pre_appeal}}</span></td>
                        <td><span>{{invoiceSpreadsheet.taxowed_assessor}}</span></td>
                        <td><span>{{invoiceSpreadsheet.taxowed_board}}</span></td>
                        <td><span>{{invoiceSpreadsheet.tax_savings_level1}}</span></td>
                        <td><span>{{invoiceSpreadsheet.tax_savings_level2}}</span></td>
                        <td><span>{{invoiceSpreadsheet.fee_owed}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button ng-click="saveInvoice()" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>-->
    </form>
</div>
<div class="modal-footer">
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-12">
            <button ng-click="saveInvoice()" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>