.wrapper-survey {
    padding-top: 20px;
}

.Survey-ques .radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Survey-ques {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 3px;
    margin: 25px;
    border: 1px solid #ddd;
}

    .Survey-ques .parsefile .radio input[type=radio],
    .radio-inline input[type=radio],
    .checkbox input[type=checkbox],
    .checkbox-inline input[type=checkbox] {
        margin-top: -2px;
    }

.fa-file-text-o:before {
    content: "\f0f6";
    color: #ffffff !important;
    font-size: 18px;
}

.breadcrumbs a.active {
    color: #47bcff;
    background-color: #fafafa !important;
}

.survey-modal label {
    color: #555;
}

.btn-primary {
    background: #47bcff;
    /* background-image: linear-gradient(to bottom, #326b9c 0, #326b9c 100%); */
    /* background-repeat: repeat-x; */
    border-color: #47bcff;
}

.grid .row {
    cursor: move;
}

.view-survey .form-control {
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.well {
    margin: 30px;
    overflow: auto;
}

    .well h3 {
        position: relative;
        font-size: 30px;
        z-index: 1;
        width: 28%;
        overflow: hidden;
        text-align: center !important;
        margin: 0px auto;
        font-size: 22px;
    }

        .well h3:before,
        .well h3:after {
            position: absolute;
            top: 53%;
            overflow: hidden;
            border: 1px dotted #fcfeff;
            width: 50%;
            height: 2px;
            content: '\a0';
            background-color: #2f2978;
        }

        .well h3:before {
            margin-left: -50%;
            text-align: right;
        }

.fa-arrows:before {
    content: "\f047";
    color: #34478e;
}

.dropdown-menu {
    z-index: 3333;
}

.control-option li {
    color: black;
    min-height: 35px;
}

    .control-option li h5 {
        color: #555;
        font-weight: bold;
    }

    .control-option li input[type=checkbox] {
        color: #555;
    }

.controls-table {
    color: #555;
}

.checkboxChange {
    color: #555;
    /*left: 19px;*/
}

.borderless td,
.borderless th .borderless tr {
    border: none;
}

input[type=checkbox] {
    color: #555;
}

input[type="radio"] {
    display: inline-block;
}

.editable-input.editable-has-buttons {
    width: auto;
    width: 104px;
}

.border-preview {
    border-radius: 12px;
    border: #555 2px;
    border-style: dotted;
}

.preview-body {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    height: 397px;
    overflow: auto;
}

.editable-click, a.editable-click {
    border-bottom: none;
}

.editable-input.editable-has-buttons {
    width: 82px !important;
    height: 28px;
}

.edit-text-width .editable-input.editable-has-buttons {
    width: 60px !important;
}

.editable-buttons button {
    margin-left: 5px;
    size: 350px;
    height: 28px;
    width: 28px;
    padding: 0px;
    display: none;
}

.uib-datepicker-popup.dropdown-menu {
    color: #555 !important;
}

.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
    color: #555 !important;
}

.input-borders {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
