.contract-section{
  width: 100%;
    padding: 1%;
}
.contract-section-panel{
    background: aliceblue;
    padding-left: 2%;

}
.contract-section-icons{
    padding-left: 2%;
}
.fa-pencil-square-o{
    height: 20px;
    width:  20px;
    padding-left: 2%;
    color: #337ab7;
}

.dropdown ul.dropdown-menu:before{
 border: none;
}
.dropdown ul.dropdown-menu:after{
 border: none;
}
.dropdown-position{
    padding-left: 2%;
}
.fakespace{
    padding-left: 2%;
}
.button-save{

    margin-bottom: 2%;
    margin-top: 2%;
    padding-left: 2%;
}
.panel-button{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    padding-right: 5%;
}
.btn-gap{
    margin-left: 2%;
}
.fa-unsorted:before, .fa-sort:before {
    content: "\f0dc";
    display: none;
}