<link rel="stylesheet" type="text/css" href="modules/SurveyModule/Wizards/ViewSurvey/ViewSurvey.css">
<style>
     body {
         min-height: 500px;
         background-image: url(assets/img/BG.png) !important;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-color: #f5f5f5;
     }

     hr {
         margin-top: 20px;
         margin-bottom: 20px;
         border: 0;
         border-top: 1px solid #d2d2d2;
     }

     .dataTables_wrapper .ui-toolbar {
         padding: 0px;
         BACKGROUND: #f5f5f5;
     }
     /*******************************
    * Does not work properly if "in" is added after "collapse".
    * Get free snippets on bootpen.com
    *******************************/
     .panel-group .panel {
         border-radius: 0;
         box-shadow: none;
         border-color: #EEEEEE;
     }

     .panel-default > .panel-heading {
         padding: 0;
         border-radius: 0;
         color: #212121;
         background-color: #FAFAFA;
         border-color: #EEEEEE;
     }

     .panel-title {
         font-size: 14px;
     }

         .panel-title > a {
             display: block;
             color: #fff;
             padding: 15px;
             text-decoration: none;
         }

     .more-less {
         float: right;
         color: #fff;
     }

     input[type="radio"] + label {
         color: #000000;
         font-family: Arial, sans-serif;
     }

     .options-panel {
         margin-top: 1%;
     }

     input[type="checkbox"] {
         display: -webkit-inline-box;
         padding: 0%;
     }

     .panel-default > .panel-heading + .panel-collapse > .panel-body {
         border-top-color: #EEEEEE;
     }

     .btn-drop {
         padding-left: 2%;
     }
</style>
<br>
<br>
<!-- Page Content -->
<div class="container-fluid" style="margin-left: -100px;margin-right: 10%">
    <div>
        <div class="col-md-12 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a href="" style="    padding: 25px;">
                            <strong> <i class="fa fa-file-text-o" aria-hidden="true"></i></strong>
                            Survey Form
                        </a>
                    </h4>
                </div>
                <div class="panel-body">
                    <h5></h5>
                    <p></p>
                    <div class="demo AJ-form">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="data in viewQuestions">
                            <div class="panel panel-default" ng-repeat="value in data" style="border: #ffffff;">
                                <div class="panel-heading" role="tab" id="heading1" ng-if="$index==0">
                                    <h4 class="panel-title">
                                        <a href="#collapse1">
                                            {{data[data.length-1].key}}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-body" ng-if="value.question" style=" margin-top: 1%;">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div>
                                                    <div class="form-group">
                                                        <label>{{value.question}} </label>
                                                    </div>
                                                    <div ng-if="value.options">

                                                        <div class="panel-options" ng-repeat="data in value.options  track by $index"
                                                             ng-init="data.answer={value:'' , inputValue:'' , state:false , options:[] };">

                                                            <div class="options-panel" ng-if="data.id==0">
                                                                <input type="text" ng-model="data.answer.value">
                                                            </div>


                                                            <div class="options-panel" ng-if="data.id==1">
                                                                <input type="radio" ng-click="setActive(data, value.options )" ng-checked="data.answer.state">
                                                                <label ng-click="setActive(data, value.options )" class="dropdown-label">{{data.radioLabel}}</label>
                                                            </div>


                                                            <div class="options-panel" ng-if="data.id==2">
                                                                <label ng-value="data.answer.state" class="checkbox-label">
                                                                    <input style=" margin-right: 2%;" type="checkbox" ng-model="data.answer.state">{{data.checkboxLabel}}
                                                                </label>
                                                            </div>


                                                            <div class="options-panel" ng-if="data.id==3">
                                                                <input type="radio" ng-click="setActive(data, value.options )" ng-checked="data.answer.state">
                                                                <span ng-click="setActive(data, value.options)" class="options-label checkbox-width">{{data.radioLabel}}</span>
                                                                <input type="text" ng-model="data.answer.value">
                                                            </div>


                                                            <div class="options-panel" ng-if="data.id==4">
                                                                <input type="radio" ng-click="setActive(data, value.options )" ng-checked="data.answer.state">
                                                                <span ng-click="setActive(data, value.options )" class="options-label" style="margin-left: 2%">{{data.radioLabel1}}</span>
                                                                <input type="text" ng-model="data.answer.value">
                                                                <span style="margin-left: 1%;font-weight: 700">{{data.radioLabel2}}</span>
                                                            </div>


                                                            <div class="options-panel" ng-if="data.id==5">
                                                                <input type="radio" ng-click="setActive(data, value.options )" ng-checked="data.answer.state">
                                                                <span ng-click="setActive(data, value.options )" class="dropdown-label">{{data.radioLabel}}</span>
                                                                <span class="btn-drop">
                                                                    <span class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;" type="button" data-toggle="dropdown">
                                                                            <span ng-if="data.answer.value">{{data.answer.value}}</span>
                                                                            <span ng-if="!data.answer.value">Select Options</span>
                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li ng-repeat="opt in data.dropDownOptions"><a ng-click="data.answer.value=opt.value">{{opt.value}}</a></li>
                                                                        </ul>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==6">
                                                                <label class="checkbox-label" ng-value="data.answer.state">
                                                                    <input type="checkbox" ng-model="data.answer.state">
                                                                    <span class="dropdown-label">{{data.checkboxLabel}}</span>



                                                                    <span class="dropdown">
                                                                        <button class="btn btn-primary dropdown-toggle" style="background: #ffffff;color: black;" type="button" data-toggle="dropdown">
                                                                            <span ng-if="data.answer.value">{{data.answer.value}}</span>
                                                                            <span ng-if="!data.answer.value">Select Options</span>

                                                                            <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li ng-repeat="opt in data.dropDownOptions"><a ng-click="data.answer.value=opt.value">{{opt.value}}</a></li>
                                                                        </ul>
                                                                    </span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==7">
                                                                <!-- new -->
                                                                <div class="row">
                                                                    <div class=" pull-left" style="padding-top: 20px;">
                                                                        <label> {{data.label}}</label>
                                                                    </div>
                                                                    <div class="pull-left" style="margin-left: 25px;">
                                                                        <p class="input-group" style="width: 200px;">
                                                                            <input readonly style="cursor: pointer;" ng-change="dateValidation(data.answer.value)" type="text" class="form-control" ng-model="data.answer.value"
                                                                                   uib-datepicker-popup="{{dateFormat}}" show-button-bar="false" ng-click="data.opened = !data.opened"
                                                                                   ng-init="data.opened" is-open="data.opened" datepicker-options="availableDateOptions" />
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-default" ng-click="data.opened = !data.opened">
                                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                                </button>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==8">
                                                                <span style="font-weight: 700">Calendar Count:</span> <br><input type="number" ng-init="numberOfFields = 0"
                                                                                                                                 ng-change="addCalenderFields(numberOfFields, data.answer.options)" ng-model="numberOfFields" />
                                                                <div ng-repeat="cal in  data.answer.options" ng-init="cal.opened=false; cal.value='';" style="padding-top: 10px">
                                                                    <span style="font-weight: 700">Enter Date</span>
                                                                    <p class="input-group" style="width: 200px;">
                                                                        <input readonly style="cursor: pointer;" type="text" class="form-control"
                                                                               uib-datepicker-popup="{{dateFormat}}" ng-click="cal.opened =! cal.opened"
                                                                               ng-model="cal.value" show-button-bar="false"
                                                                               is-open="cal.opened" datepicker-options="availableDateOptions" />
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default"
                                                                                    ng-click="cal.opened =! cal.opened">
                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="options-panel" ng-if="data.id==9">
                                                                <div class="row">
                                                                    <div class="checkbox checkboxChange">

                                                                        <div style="padding: 0">
                                                                            <div class="form-group">
                                                                                <span style="font-weight: 700;float: left;max-width: 80%;">{{data.label}}</span>
                                                                                <span class="col-md-3">
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel1">
                                                                                    <span style="font-weight: 700;" class="options-label2">
                                                                                        {{data.radioLabel1}}
                                                                                    </span><br>
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel2">
                                                                                    <span style="font-weight: 700;" class="options-label2">{{data.radioLabel2}}</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="options-panel" ng-if="data.id==10">
                                                                <div class="row">
                                                                    <div class="checkbox checkboxChange">

                                                                        <div style="padding: 0">
                                                                            <div class="form-group">
                                                                                <span style="float:left;font-weight: 700;">{{data.label1}}</span>
                                                                                <input style="float:left;" type="text" ng-model="data.answer.inputValue">
                                                                                <span style="float:left;font-weight: 700;">{{data.label2}}</span>
                                                                                <span class="col-lg-3">
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel1">
                                                                                    <span style="font-weight: 700;" class="options-label2">{{data.radioLabel1}}</span><br>
                                                                                    <input type="radio" name="eight_{{$index}}" ng-model="data.answer.value" ng-value="data.radioLabel2">
                                                                                    <span style="font-weight: 700;" class="options-label2">{{data.radioLabel2}}</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!--<div ng-if="!value.options">-->
                                                <!--<div class="options-panel">-->
                                                <!--<input   type="text">-->
                                                <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                </span>
                            </div>

                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary pull-right " data-toggle="modal" data-target="#myModalquestion">Save Survey</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalquestion" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: #ffffff; color: #555;">
                <div class="modal-header" style=" background: #000c35 !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title text-left" style="color:#fff;">
                        Enter Survey Name
                    </h5>
                </div>
                <div class="modal-body">
                    <form ng-submit="saveSurvey()">
                        <div class="js-upload-finished text-left">
                            <input ng-model="surveyName" type="text" class="form-control" required autofocus>
                        </div>
                        <button type="submit" class="btn btn-success  pull-right" style="margin: 12px; z-index:111; ">Save</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->