<link rel="stylesheet" href="modules/SurveyModule/Wizards/sectionSettings/sectionSettings.component.css">
<header></header>
<div>
    <div class="container">
        <div class="row" ng-init="getallSections()">
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span><span>Section Settings</span>
                        <div class="pull-right action-buttons">
                            <div class="btn-group pull-right">
                                <ul class="dropdown-menu slidedown">
                                    <li><a><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--<a style="color: white;cursor: pointer" class="pull-right" ng-click="gotoArrangeQuestions()" ><i  class="fa fa-arrows fa-1.5x" style="padding-right: 5px" aria-hidden="true"></i>Arrange Questions</a>-->

                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item col-md-12 custom-heading">
                                <label class="col-md-10">Section Name</label>
                                <label class="col-md-2"></label>

                            </li>
                        </ul>
                    </div>
                    <div class="panel-body" ng-repeat="data in sections">
                        <ul class="list-group">
                            <li class="list-group-item col-md-12">
                                <label class="col-md-10">{{data.section}}</label>
                                <label class="col-md-2">
                                    <a ng-click="removeSection(data)" tooltip-placement="left" uib-tooltip="Remove Section" style="cursor: pointer; margin-left: 30px;" class="pull-right">
                                        <i class="fa  fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <a ng-click="openModal(data)" tooltip-placement="left" uib-tooltip="Edit Section" style="cursor: pointer; margin-left: 30px;" class="pull-right">
                                        <i class="fa  fa-pencil-square-o " aria-hidden="true"></i>
                                    </a>
                                </label>
                            </li>
                        </ul>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>
                                    Total Count <span class="label label-info">{{data.length}}</span>
                                </h6>
                            </div>
                            <div class="col-md-12">
                                <a style="min-width: 146px;" class="btn btn-primary pull-right" ng-click="goback()">
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalquestion" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-left" style="color:#fff;">
                    Enter Section Name
                </h5>
            </div>
            <div class="modal-body">
                <form ng-submit="saveSurvey()">
                    <div class="js-upload-finished text-left">
                        <input ng-model="postSection.sectionText" type="text" class="form-control" required autofocus>
                    </div>
                    <button ng-click="editSection(postSection)" type="submit" class="btn btn-success  pull-right" style="margin: 12px; z-index:111; ">Save</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>