<style>
.drop-file ul {
    list-style: none;
}

.drop-file li {
    position: relative;
}

.drop-file li:before {
    position: absolute;
    top: -2px;
    margin: 8px 0 0 -12px;
    vertical-align: middle;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #ccc;
    content: "";
}
</style>
<header></header>

<div class="container">
<div class="alert-box success" id="popup_custom_success"> <i class="fa fa-check-circle" aria-hidden="true"></i> {{popup_custom_success}}</div>

    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5> <i class="fa fa-group" aria-hidden="true"></i> <strong> Invite multiple users by uploading a file </strong></h5>
                </div>
                <div class="panel-body drop-file">
                    <ul style="padding: 12px;">
                        <li> Upload an <span style="color:green;">Excel File <i class="fa fa-file-excel-o" aria-hidden="true"></i></span> detailing the information of at least one user..</li>
                        <li> Before the details of the users are listed down, a row should contain headers for each data field.</li>
                        <li> User information should be in one & only one row spanning as many data fields columns as may be needed.</li>
                        <br><i>*Only the email address data field of a user is mandatory.</i>
                        <br>
                    </ul>
                    <strong>Select a file from your system </strong>
                    <br>
                    <br>
                    <!-- <form action="" method="post" enctype="multipart/form-data" id="js-upload-form"> -->
                    <div class="form-inline">
                        <!-- <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple style="display: none;" /> -->
                        <input type="file" class="inputfile inputfile-1" style="display:none" name="file-1[]" id="file-1" onchange="angular.element(this).scope().fileNameChanged()" />
                        <!-- <div>{{fileContent}}</div> -->
                        <label for="file-1">
                            <span> <i class="fa fa-upload" aria-hidden="true"></i> Upload a file&hellip;</span>
                        </label>
                    </div>
                    <!-- </form> -->
                    <!-- Drop Zone -->
                    <h5><strong>Or drag and drop a file below</strong></h5>
                    <div class="upload-drop-zone" id="drop-zone">
                        Just drag and drop a file here
                    </div>
                    <br>
                    <!-- Upload Finished -->
                    <div id="data"   class="js-upload-finished" ng-show="UserRegistration.showTableRelatedDivs">
                        <h5><strong>Processed File </strong></h5>
                        <div class="list-group"  >
                            <a href="" class="list-group-item list-group-item-success">{{UserRegistration.fileName}}</a>
                        </div>
                    </div>
                    <div class="alert-box success"> Invitation sent successfully </div>
                    <div class="user-reg" >
                        <div class="row"  ng-show="UserRegistration.showTableRelatedDivs">
                            <h5><strong>Please validate the data below </strong></h5>
                            <div class="col-md-12 well  up-sec parsefile" >
                                <table id="example" datatable="ng" dt-options="UserRegistration.dtOptions" dt-column-defs="UserRegistration.dtColumnDefs" class="display responsive no-wrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center" ng-click="UserRegistration.toggleCheckAll()">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-checked="UserRegistration.checkAll">
                                                    </label>
                                                </div>
                                            </th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>User Email</th>
                                            <th>Company</th>
                                            <th>City</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in  UserRegistration.usersToBeRegistered">
                                            <td class="text-center" ng-click="UserRegistration.toggleState(user)">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-checked="user.state" value="user.state">
                                                    </label>
                                                </div>
                                            </td>
                                            <td contenteditable='true'>{{user.firstName}}</td>
                                            <td contenteditable='true'>{{user.lastName}}</td>
                                            <td contenteditable='true'>{{user.userEmail}}</td>
                                            <td contenteditable='true'>{{user.company}}</td>
                                            <td contenteditable='true'>{{user.city}}</td>
                                            <td contenteditable='true'>{{user.role}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <pre>{{UserRegistration.usersToBeRegistered}}</pre> -->
                            </div>
                            <button type="button" data-toggle="modal" data-target="#myModalinvite" class="btn btn-user pull-right" style="margin-right: 20px;">Invite</button>
                            <!-- ng-click="UserRegistration.submitUserRegistrationData()"  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal For custom Email Message -->
<div class="modal fade user-reg" id="myModalinvite" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   Send Invitation
                </h4>
            </div>
              <form name="emailForm" id="emailForm" class="form-horizontal"
                ng-submit="emailForm.$valid && UserRegistration.submitUserRegistrationData()" novalidate>
                <!-- Modal Body -->
                <div class="modal-body">
                  
                        <div class="form-group">
                            <label for="comment">Send a custom message:</label>
                            <textarea required ng-model="UserRegistration.emailSubject" class="form-control" rows="3" id="comment" name="comment" 
                            placeholder="Write a custom message"></textarea>
                             <span style="color: red;" 
                                ng-show="(emailForm.$submitted && 
                                emailForm.comment.$invalid) || (
                                emailForm.comment.$touched && emailForm.comment.$invalid)">This is required.</span>
                        </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Cancel
                    </button>
                    <input type="submit" value="Send Invitation" class="btn btn-user" style="margin-right: 20px;"/>
                       
                </div>
                </form>

        </div>
    </div>
</div>
</div>

