<style>
body {
    background-color: #f5f5f5;
}

.dataTables_wrapper .ui-toolbar {
    padding: 0px;
    BACKGROUND: #f5f5f5;
}

.drop-file ul {
    list-style: none;
}

.drop-file li {
    position: relative;
}

.drop-file li:before {
    position: absolute;
    top: -2px;
    margin: 8px 0 0 -12px;
    vertical-align: middle;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #ccc;
    content: "";
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.8;
}
</style>

<header></header>
<div class="prop-fixd text-center">
    <ul>
        <li> <i class="fa fa-dot-circle-o" aria-hidden="true"></i><b> Tax Account Number:</b> 
        {{taxBill.property.taxAccountNo ? taxBill.property.taxAccountNo  : 'Not Specified'}}
        </li>
        <li> <i class="fa fa-dot-circle-o" aria-hidden="true"></i><b> Property Name:</b> 
        {{taxBill.property.propertyName  ? taxBill.property.propertyName  : 'Not Specified'}}</li>
        <li> <i class="fa fa-dot-circle-o" aria-hidden="true"></i><b> Property Address:</b> 
        {{taxBill.property.streetAddress ? taxBill.property.streetAddress  : 'Not Specified'}}</li>
        <li> <i class="fa fa-dot-circle-o" aria-hidden="true"></i><b> Owner Name:</b> 
        {{taxBill.property.recordOwnerName ? taxBill.property.recordOwnerName : 'Not Specified'}}</li>
    </ul>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary IE_RR">
            <div class="panel-heading">
                <h5> <i class="fa fa-user" aria-hidden="true"></i> 
                    <strong>   Tax Bill </strong>
                    <button ui-sref="updateIERR" class="btn btn-user pull-right" style=" margin-top: -6px; margin-right: 20px;">
                    <i class="fa fa-user-plus" aria-hidden="true">
                    </i>Upload More Files Or Data
                    </button>
                <h5>
            </div>
      
 

    
    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Add one or more files or enter data manually</h5> </div>
            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-group" style="width: 100%; background:#47bcff; border: none;">
                            <label class="input-group-btn text-center"> <span class="btn" style="color:#fff; text-align: center;"> Upload Files from System&hellip;
              <input type="file" style="display: none;" multiple>
              </span> </label>
                        </div>
                    </div>
                    <div class="col-md-2 text-center"> OR </div>
                    <div class="col-md-5">
                        <button data-dismiss="modal" type="button" class="btn btn-success  " style="width: 100%; background:#47bcff; border: none;">Enter Data Manually&nbsp </button>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
                <div class="js-upload-finished text-left">
                    <div class=" list-group list-group-item list-group-item-success" style="margin-bottom:10px;"> <a href="# ">AOTC_Name.pdf</a> <a href=""><i class="fa fa-times pull-right" aria-hidden="true"></i></a> </div>
                    <div class=" list-group list-group-item list-group-item-success" style="margin-bottom:10px;"> <a href="# ">AOTC_Name.pdf</a> <a href=""><i class="fa fa-times pull-right" aria-hidden="true"></i></a> </div>
                </div>
                <button data-toggle="modal" data-target="#myModalquestion" type="button" class="btn btn-user  pull-right" style="margin: 12px; z-index:111;  " id="success-btn">Submit</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #ffffff; color: #555;">
            <div class="modal-header" style=" background: #000c35 !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title text-ce nter" style="color:#fff;">Do you want to add more files/data ? </h5>
            </div>
            <div class="modal-body text-center">
                <h4 style="color:#0fad00">Success</h4>
                <img height="50" src="http://osmhotels.com//assets/check-true.jpg">
                <h4>Do you want to add more data ?</h4>
                <button ng-click="taxBill.gotoupdateProperty()" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; background: #F44336; !Important">No</button>
                <button ng-click="taxBill.modalYesbutton()" type="button" class="btn btn-user  pull-center" style="margin: 12px; z-index:111; ">Yes</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body drop-file">
    <div class="row ">
        <div class="col-md-12 submit-data">
            <div class="welll">
                <form id="accForm" name="accForm" ng-submit="accForm.$valid && taxBill.submitAccData()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class='form-group required'>
                                <label>Tax Account Number</label>
                                
                                <input class='form-control alldisable' name="taxAccount" id="taxAccount" required ng-model="taxBill.formData.taxAccountNumber" type='text' placeholder="Enter Account Number">
                                
                                <span style="color: red;" ng-show="(accForm.$submitted && 
                                accForm.taxAccount.$invalid) || (accForm.taxAccount.$touched && accForm.taxAccount.$invalid)">This is required.</span>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>

                        <button type="submit" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" id="success-btn">Submit</button>
                        <button ng-click="taxBill.resetForm()" type="button" class="btn btn-user pull-right" style="margin: 12px; z-index:111; margin-top: -20px;" id="success-btn">Reset</button>
                        
                        <div class="alert-box successa text-center">
                            <p style="text-algin: center !important;"> <i class="fa fa-3x fa-spinner text-center" aria-hidden="true"></i>
                                <br> AOTC is uploading your files to <a href="24-TaskManager.html" style="color: #28ffbb; text-decoration: underline;     font-size: 15px;">  Task manager section </a>
                                <br> meanwhile you can add more files or data.
                                <br> </p>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

